@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


.container.lz-bf-container {
    background: url('lz-esquenta-bf.jpg') no-repeat center;
    height: 583px;
}

.container.lz-bf-container-2 {
    background: url('lz-bfpattern-pagina.jpg');
}

.sub-titulo-2 p {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;

}

.sub-titulo-2 {
    position: absolute;
    top: 118%;
    left: 21%;
}

.list-products .gt-vitrine li {
    width: 25% !important;
}

.gt-vitrine li {

    margin: 0 8px 48px !important;

}