@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/* lala 221231321132*/


.container.lz-bf-container {
    background: url('lz-esquenta-bf.jpg') no-repeat top;
    height: 369px;
}

input#black-news {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    padding-left: 10px;
}
.container.lz-bf-container-2 {
    background: #1a1b1b;
}

.sub-titulo-2 p {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;

}

.sub-titulo-2 {
    /* position: absolute; */
    top: 118%;
    left: 21%;
}

.list-products .gt-vitrine li {
    width: 22% !important;
    min-height: 500px;
}

.gt-vitrine li {

    margin: 0 8px 48px !important;

}

.gt-top10 li .flag.discount, .gt-vitrine li .flag.discount {
    background: #f7941d;
}

.gt-vitrine.prateleira.n5colunas {
    margin-left: 6.5%;
}

.pager.top {
    display: none;
}

footer {
    background: url(lz-bfpattern-pagina.jpg);
}

ul.pages {
    float: none !important;
    margin-left: 42%;
}

.pager ul.pages li.next, .pager ul.pages li.previous {
    color: white;
}

.pager ul.pages li.page-number {
    background: rgb(103, 103, 103);
    color: black;
}

.pager ul.pages li.pgCurrent {
    background: white;
}

.show-buy a.add-cart {
    background: #f7941d;
}

.show-buy a.add-cart:hover {
    background: #f98d0b;
}

#footer {
    background: white !important;
}

#selos {
    background: white !important;
}

.lz-formulario-2018 {
    /* position: absolute; */
    top: 126%;
    right: 26%;
}

.lz-textos {
    background: url(lz-bfpattern-pagina.jpg);
}

.textos h3 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10%;
    font-size: 26px;
    font-family: initial;
    font-weight: 500;
}
 .textos a{color:#fff; text-decoration: underline;}
 .textos{width:1000px;margin: 0 auto;padding: 40px 0;height: 270px;}
.textos p {
    text-align: justify;
    display: block;
    width: 30%;
    float: left;
    font-size: 11px;
    box-sizing: border-box;
    line-height: 15px;
    padding: 0 20px;
    color: #aaa;
} .textos p:last-child{border-right: none;}
 .textos p+p+p{margin-right:0;}
.textos p span {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
} .infos { display: block; width: 100%; background: #fff; color: #000; text-align: center; padding: 20px 0;}
 .infos a{font-size: 12px; color:#000;}

input#black-news {
    width: 500px;
    height: 40px;
}

form#cadastrese_news {
    font-family: 'Source Code Pro', monospace;
}

input#submitBlack {
    height: 44px;
    background: black;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

div#copyright {
    background: white;
}

.container.lz-bf-container-2 {
    padding-top: 3%;
}

a.click-show {
    display: none;
}

input#submitBlack {
    height: 44px;
    background-color: black;
    border: none;
    color: white;
    padding: 17px;
    text-transform: uppercase;
}


.lz-div-ghost {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#141414+1,1b1c1b+50,1a1b1b+53,1b1b1b+100 */
background: #141414; /* Old browsers */
background: -moz-linear-gradient(top, #141414 1%, #1b1c1b 50%, #1a1b1b 53%, #1b1b1b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #141414 1%,#1b1c1b 50%,#1a1b1b 53%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #141414 1%,#1b1c1b 50%,#1a1b1b 53%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
}

.lz-area {
    background: url(background-bf-area.png) no-repeat top;
    text-align: center;
    height: 200px;
}

.sub-titulo-2 {
    padding-top: 35px;
    padding-bottom: 30px;
}
/* Responsividade PC */

@media only screen and (min-width: 1550px){
    .list-products .gt-vitrine li {
    width: 22% !important;
    min-height: 600px;
}
}


@media only screen and (max-width: 420px) {
    input#black-news {
    width: 200px;
    height: 40px;
}

.sub-titulo-2 {
    padding-top: 35px;
    padding-bottom: 1px;
}

.list-products .gt-vitrine li {
    width: 83% !important;
    min-height: 500px;
}
.container.lz-bf-container {
    background-size: 460%;
}

.container.lz-bf-container-2 {
    padding-left: 20px;
}
}

@media only screen and (max-width: 380px) {
    .sub-titulo-2 {
    padding-top: 0px;
    padding-bottom: 1px;
}
}