@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
/* lala 22*/


.container.lz-bf-container {
    background: url('lz-esquenta-bf.jpg') no-repeat center;
    height: 583px;
}

input#FormValue_EmailAddress2 {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

.container.lz-bf-container-2 {
    background: url('lz-bfpattern-pagina.jpg');
}

.sub-titulo-2 p {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;

}

.sub-titulo-2 {
    position: absolute;
    top: 118%;
    left: 21%;
}

.list-products .gt-vitrine li {
    width: 23% !important;
}

.gt-vitrine li {

    margin: 0 8px 48px !important;

}

.gt-top10 li .flag.discount, .gt-vitrine li .flag.discount {
    background: #f7941d;
}

.gt-vitrine.prateleira.n5colunas {
    margin-left: 2.5%;
}

.pager.top {
    display: none;
}

footer {
    background: url(lz-bfpattern-pagina.jpg);
}

ul.pages {
    float: none !important;
    margin-left: 42%;
}

.pager ul.pages li.next, .pager ul.pages li.previous {
    color: white;
}

.pager ul.pages li.page-number {
    background: rgb(103, 103, 103);
    color: black;
}

.pager ul.pages li.pgCurrent {
    background: white;
}

.show-buy a.add-cart {
    background: #f7941d;
}

.show-buy a.add-cart:hover {
    background: #f98d0b;
}

#footer {
    background: white !important;
}

#selos {
    background: white !important;
}

.lz-formulario-2018 {
    position: absolute;
    top: 126%;
    right: 26%;
}

input#FormValue_EmailAddress2 {
    width: 500px;
    height: 40px;
}

form#cadastrese_news {
    font-family: 'Source Code Pro', monospace;
}

input#submitCadastre {
    height: 44px;
    background: black;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

div#copyright {
    background: white;
}

.container.lz-bf-container-2 {
    padding-top: 6%;
}

a.click-show {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .sub-titulo-2 {
        position: absolute;
        top: 51%;
        left: 12%;
    }
    .lz-formulario-2018 {
    position: absolute;
    top: 55%;
    right: 18%;
    }
    ul.pages {
    float: none !important;
    margin-left: 37%;
}



}

@media only screen and (max-width: 768px) {

    .gt-vitrine.prateleira.n5colunas {
    padding-left: 30.5%;
}

    input#FormValue_EmailAddress2 {
        width: 448px;
        height: 40px;
    }

    .sub-titulo-2 {
    position: absolute;
    top: 84%;
    left: 12%;
}
    .lz-formulario-2018 {
    position: absolute;
    top: 90%;
    right: 12%;
}

.sub-titulo-2 p {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
}

.list-products .gt-vitrine li {
    /* padding-left: 10%; */
    width: 50% !important;
}
ul.pages {
    float: none !important;
    margin-left: 31%;
}

}

@media only screen and (max-width: 414px){
    .container.lz-bf-container {
    background: url(lz-esquenta-bf.jpg) no-repeat center;
    height: 385px;
    background-size: 400%;
    background-color: black;
}
.sub-titulo-2 {
    position: absolute;
    top: 84%;
    left: 4%;
}

.sub-titulo-2 p {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

.lz-formulario-2018 {
    position: absolute;
    top: 89%;
    right: 12%;
}

input#FormValue_EmailAddress2 {
    width: 188px;
    height: 40px;
}

.gt-vitrine.prateleira.n5colunas {
    padding-left: 10.5%;
}

.list-products .gt-vitrine li {
    /* padding-left: 10%; */
    width: 80% !important;
}
ul.pages {
    float: none !important;
    margin-left: 14%;
}
}

@media only screen and (max-width: 411px) and (max-height: 733px){
    .lz-formulario-2018 {
    position: absolute !important;
    top: 89% !important;
    right: 12% !important;
}

.sub-titulo-2 {
    position: absolute !important;
    top: 84% !important;
    left: 4% !important;
}
}

@media only screen and (max-width: 411px) and (max-height: 823px){
    .sub-titulo-2 {
    position: absolute;
    top: 73%;
    left: 4%;
}

.lz-formulario-2018 {
    position: absolute;
    top: 78%;
    right: 12%;
}
}


@media only screen and (max-width: 375px){
    .container.lz-bf-container {
    background: url(lz-esquenta-bf.jpg) no-repeat center;
    height: 350px;
    background-size: 400%;
    background-color: rgb(27, 27, 27);
}

.sub-titulo-2 {
    position: absolute;
    top: 69%;
    left: 2%;
}

.sub-titulo-2 p {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-family: 'Source Code Pro', monospace;
}

.lz-formulario-2018 {
    position: absolute;
    top: 74%;
    right: 12%;
}

input#FormValue_EmailAddress2 {
    width: 150px;
    height: 40px;
}

.list-products .gt-vitrine li {
    /* padding-left: 10%; */
    width: 80% !important;
}
.gt-vitrine.prateleira.n5colunas {
    padding-left: 10.5%;
}

ul.pages {
    float: none !important;
    margin-left: 12%;
}
}

@media only screen and (max-width: 375px) and (max-height: 667px){
    .lz-formulario-2018 {
    position: absolute;
    top: 91%;
    right: 12%;
}

.sub-titulo-2 {
    position: absolute;
    top: 86%;
    left: 2%;
}
}

@media only screen and (max-width: 360px) {
    .lz-formulario-2018 {
    position: absolute !important;
    top: 93% !important;
    right: 12% !important;
}
.sub-titulo-2 {
    position: absolute !important;
    top: 87% !important;
    left: 4% !important;
}


@media only screen and (max-width: 320px){
    input#FormValue_EmailAddress2 {
    width: 116px;
    height: 40px;
}
.lz-formulario-2018 {
    position: absolute !important;
    top: 100% !important;
    right: 12% !important;
}
.sub-titulo-2 {
    position: absolute !important;
    top: 94% !important;
    left: 4% !important;
}
}
}