body#departamento #sidebar_navigation .menu-departamento .even+ul {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
body#departamento #sidebar_navigation #ctl00_Conteudo_ctl02_divSideBarUnica1>ul:nth-child(7) {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
body#departamento #sidebar_navigation {
    bottom: 20px;
    position: relative;
    width: 198px;
}
body#departamento #sidebar_navigation h5, 
body#departamento #sidebar_navigation h4 {
    font-family: Georgia, serif;
    color: #000;
    font-style: italic;
    background-image: url("stripe.png");
    background-repeat: repeat;
    padding: 1px 8px 4px 11px;
    width: 185px;
    display: block;
    font-weight: normal;
    font-size: 15px;
}
body#departamento #sidebar_navigation h4 a {
    color: #000;
}
body#departamento #sidebar_navigation ul {
    padding: 0 0 0 10px;
}
body#departamento #sidebar_navigation ul li {
    display: block;
    margin-bottom: 5px;
}
body#departamento #sidebar_navigation ul li a {
    font-size: 12px;
    color: #000;
    position: relative;
    text-transform: capitalize;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}
body#departamento #sidebar_navigation ul li a:hover {
    color: #cb9618;
    left: 7px;
}
body.catalogo #sidebar_navigation .menu-navegue, 
body.catalogo #sidebar_navigation .search-single-navigator h3 {
    display: none;
}
body.resultado-busca .search-single-navigator h3.categoria-padrao {
    display: none!important;
}
body.catalogo #sidebar_navigation .search-single-navigator h3, 
body.resultado-busca #sidebar_navigation h3 {
    display: block;
    font-family: Georgia, serif;
    color: #000;
    font-style: italic;
    background-image: url("stripe.png");
    background-repeat: repeat;
    padding: 1px 8px 4px 11px;
    width: 185px;
    display: block;
    font-weight: normal;
    font-size: 15px;
}
body.catalogo #sidebar_navigation .search-single-navigator h3 a, 
body.resultado-busca #sidebar_navigation h3 a {
    color: #000;
}
body.catalogo #sidebar_navigation h4, 
body.catalogo #sidebar_navigation h5 {
    font-family: Georgia, serif;
    color: #000;
    font-style: italic;
    background-image: url("stripe.png");
    background-repeat: repeat;
    padding: 1px 8px 4px 11px;
    width: 185px;
    display: block;
    font-weight: normal;
    font-size: 15px;
    position: relative;
    cursor: pointer;
}
body.catalogo #sidebar_navigation h4 a {
    color: #000;
}
body.catalogo #sidebar_navigation ul {
    padding: 0;
}
body.catalogo #sidebar_navigation ul.Marca {
    overflow: auto!important;
}
body.catalogo #sidebar_navigation ul li {
    font-size: 12px;
    color: #cb9618;
    padding: 0 0 0 15px;
    display: block;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}
body.catalogo #sidebar_navigation ul a {
    font-size: 12px;
    color: #000;
    left: 0;
    margin-top: 10px;
    position: relative;
    text-transform: capitalize;
    display: block;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}
body.catalogo #sidebar_navigation ul a:hover {
    color: #cb9618;
    padding: 0 0 0 5px;
    font-weight: bold;
}
body.catalogo.categoria #sidebar_navigation h5 .mais, 
body.catalogo.categoria #sidebar_navigation h5 .menos {
    background: url("/arquivos/sprite.png?refresh=true&v=123") repeat scroll -10px -489px transparent;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
    text-indent: -9999px;
}
body.catalogo.categoria #sidebar_navigation h5 .menos {
    background: url("/arquivos/sprite.png?refresh=true&v=123") repeat scroll -30px -489px transparent!important;
}
body#categoria #sidebar_navigation h3 a {
    display: block;
    font-family: Georgia, serif;
    color: #000;
    font-style: italic;
    background-image: url("stripe.png");
    background-repeat: repeat;
    padding: 1px 8px 4px 11px;
    display: block;
    font-weight: normal;
    font-size: 15px;
}
body.campanha-amostras #sidebar_navigation h3 {
    display: block !important;
    background-image: url("stripe.png");
    background-repeat: repeat;
    color: #000;
    display: block;
    font-family: Georgia,serif;
    font-size: 15px;
    font-style: italic;
    font-weight: normal;
    padding: 1px 8px 4px 11px;
    width: 185px;
}
body.campanha-amostras #sidebar_navigation h3 a{
    color: #000;
}
body.campanha-amostras #content .main-content{
    float: right;
    width: 78%;
    text-align: center;
}
body.campanha-amostras #content .main-content .step-2 a{
    width: 50%;
    float: left;
}
body.campanha-amostras #content .main-content .step-2 a img{
    width: 100%;
    height: auto;
}
body.campanha-amostras #content .main-content .step-1 .news h3,
body.campanha-amostras #content .main-content .step-1 .news p,
body.campanha-amostras #content .main-content .step-1 .news #newsletterClientName,
body.campanha-amostras #content .main-content .step-1 .news .success,
body.campanha-amostras #content .main-content .step-1 .news .error,
body.campanha-amostras #content .main-content .step-1 .news .newsletter-button-back{
    display: none;
}
body.campanha-amostras #content .main-content .step-1 span{
    color: #754a91;
    display: block;
    font-family: "Arial","Helvetica",sans-serif;
    margin-bottom: 40px;
}
body.campanha-amostras #content .main-content .step-1 .news{
    display: block;
    margin: 0 auto;
    width: 500px;
    position: relative;
}
body.campanha-amostras #content .main-content .step-1 .news #newsletterClientEmail{
    border: 1px solid #0055A5;
    padding: 4px 20px;
    color: #0055A5;
    width: 88%;
}
body.campanha-amostras #content .main-content .step-1 .news #newsletterButtonOK{
    background: transparent url("../arquivos/bt-enviar.jpg") no-repeat scroll 0 0;
    border: medium none;
    height: 24px;
    position: absolute;
    right: 0;
    text-indent: -15000px;
    width: 25px;
    cursor: pointer;
}
body.campanha-amostras .faixa-de-preco li a {
    width: 130px !important;
}