.chatAtivo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.83);
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    text-align: center;
    padding-top: 5%;
    z-index: 9999999;
}
.chatAtivo iframe {
    background: #fff;
    margin: 0px auto;
    width: 32% !important;
    height: 575px !important;
    border: 1px solid #fff;
    box-shadow: 0px 1px 17px 0px #8e8e8e;
}
.chatAtivo .botaoFechar {
    background: url(/arquivos/cancel.png);
    width: 32px;
    height: 32px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}