/*vtex.normalize */
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

* {margin: 0; padding: 0; outline: none;}
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { background-color: #fff; font-size: 12px;  line-height: 1; }
body, button, input, select, textarea { color: #222; font-size: 12px; font-family: 'Lato', Arial, Helvetica, sans-serif; }
ul{display: table;}
li{list-style: none; float: left;}
hr{display: none;}
a { color: #000; outline: none; text-decoration: none;}
a:hover, a:active { outline: 0; }
a:hover { text-decoration:none; }
em {font-style: normal; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

form, figure, fieldset{ border: 0; margin: 0; padding: 0; }
label { cursor: default; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { color:#222; font-family: Arial, Helvetica, sans-serif; font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; border-radius: 4px; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; outline: none; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }

.clear{clear: both; *zoom:0;}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.fale-conosco .header,
.searchWrapper,
.content h2,
.content legend,
.footer{
    display: none;
}

.aviso-erro {
    font-family: arial;
    font-size: 11px;
    /* padding: 0 0 20px 160px; */
}
.aviso-erro li {
    clear: both;
    padding: 2px 0;
}
.aviso-erro ul, .aviso-erro li {
    width: 100%;
}
.aviso-erro p {
    padding-bottom: 10px;
}


.fale-conosco h3 {
    color: #666666;
    font-weight: bold;
    padding: 10px 20px 20px;
    line-height: 15px;
    display: none;
}
#ctl00_Conteudo_divSucesso h3{display: none;}

.fale-conosco .email-sucesso{
    font-size: 16px;
    padding: 20px 0 40px 20px;
}
.fale-conosco fieldset.voltar{display: none!important;}
.fale-conosco .content input, .fale-conosco .content textarea, .fale-conosco .content select {
  border: 1px solid #C1C1C1;
  border-radius: 4px;
  padding: 6px;
  width: 280px;
}
.fale-conosco .content label {
    color: #494949;
    display: block;
    float: left;
    font-size: 13px;
    margin-top: 8px;
    padding-right: 10px;
    text-align: left;
    width: 280px;
    font-family: Georgia, serif;
    font-style: italic;
    margin-bottom: 5px;
}
.fCelular{
    display: none;
}
.fale-conosco .content .grp {
    padding-bottom: 10px;
}
.fale-conosco .content input.telefone {
    width: 232px;
}
.fale-conosco .content input.DDD {
    width: 30px;
}
input.error {
    border: 1px solid #FF0000 !important;
}
.fale-conosco .bts li.voltar {
    display: none;
}
.fale-conosco .bts li.eviar a {
    display: block;
    height: 30px;
    width: 100px;
}
.fale-conosco .bt {
    background-color: #fba611;
    border-radius: 5px;
    display: block;
    font-size: 20px;
    overflow: hidden;
    padding: 8px 0px 8px 0px;
    text-align: center;
    width: 85px;
    font-family: Georgia, serif;
    font-style: italic;
    text-transform: lowercase;
    color: #000;
}
.fale-conosco ul.bts {
    float: right;
}
.fale-conosco .content {
    width: 295px;
    margin: 0 auto; 
}
.fale-conosco .box-outras-opcoes {
    color: #8F8F8F;
    display: none;
    font-size: 14px;
    padding: 20px 0;
}
.fale-conosco .box-outras-opcoes em {
    font-weight: bold;
}

.fTipoSolicitacao {display: none;}