@font-face {
  font-family: 'AmericanTypewriter';
  src: 
    url('/arquivos/AmericanTypewriter.eot.js?#iefix') format('embedded-opentype'),  
    url('/arquivos/AmericanTypewriter.woff.js') format('woff'),
    url('/arquivos/AmericanTypewriter.ttf.js')  format('truetype'), 
    url('/arquivos/AmericanTypewriter.svg.js#AmericanTypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmerTypewriterITCbyBT-Medium';
  src: url('/arquivos/AmerTypewriterITCbyBT-Medium.eot.js?#iefix') format('embedded-opentype'),  
  url('/arquivos/AmerTypewriterITCbyBT-Medium.woff.js') format('woff'), url('AmerTypewriterITCbyBT-Medium.ttf')  format('truetype'), 
  url('/arquivos/AmerTypewriterITCbyBT-Medium.svg.js#AmerTypewriterITCbyBT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



body.dia-dos-namorados #content{/*margin-bottom: -60px;*/position: relative;}

.abertura{opacity: 0;filter: alpha(opacity=0);display:none;
    -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.abertura.active{opacity:1;filter: alpha(opacity=100);display:block;}
.abertura img{display:block;width: 100%;}

.iniciar {
  background: #000;
  cursor:pointer;
  display:block;
  margin:0 auto;
  opacity: 0;
  position: absolute;
  font-family: monospace;
  color: #ffffff;
  font-size: 18px;
  box-sizing: border-box;
  bottom: 17%;
  left: 46.5%;
  padding: 15px 30px;
  text-decoration: none;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.iniciar.active{opacity:1;filter: alpha(opacity=100);}

.iniciar:hover {
  background: #ee014c;
  text-decoration: none;
}

.quiz{clear:both;display: none; padding-bottom: 50px;
background: #f4b6c5; 
}
.quiz.new-bg {clear:both;display: none; padding-bottom: 50px;
background: #f4b6c5 ; 
background: -moz-linear-gradient(top, #e06888 0%, #ffffff 12%); 
background: -webkit-linear-gradient(top, #e06888 0%,#ffffff 12%); 
background: linear-gradient(to bottom, #e06888 0%,#ffffff 12%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06888', endColorstr='#ffffff',GradientType=0 );
}
.quiz h1 {
    background: url(/arquivos/fundo02_v2.1.png) no-repeat;
    background-position: top;
    width: 100%;
    height: 467px;
    margin: 0px auto 0;
    font-size: 0px;
}

.questionario{
  clear:both;
  position:relative;
  height: 405px; 
  clear: both;
    position: relative;
    height: 405px;
    margin: -300px 0 0 0;
  }
@media(max-width: 710px){
  .questionario{
    height: 720px;
  }
}
@media(max-width: 696px){
  .questionario{
    
height: 1070px;
  }
}
.questionario .box-resp{width:100%;clear:both;position:absolute;display:none; background-color: #f4b6c5; margin-top: 88px;}
.questionario .box-resp.quatro .c .ico-rounded{margin-left:34px;text-align:center;float: left;}
.questionario .box-resp.quatro .c{width: 265px;}
.questionario .box-resp[idx=idx-1] ul{
    width: 100%;
    max-width: 700px;
}
.questionario .box-resp > .back{display: block;
    clear: both;
    margin-top: 30px;
    float: left;
    text-transform: none;
    color: #000;
    font-size: 16px;
    margin-left: 18%;
    cursor: pointer;
  }
.questionario .box-resp > .back:hover{background-color: transparent;color: #333;}
.questionario .box-resp h2{text-align:center;font-family: 'AmericanTypewriter';}
.questionario .box-resp ul{clear:both;margin:0 0 0 180px;max-width: 1080px;width: 100%;}
.questionario .box-resp ul li{
    float: left;
    border: 1px solid #fff;
    padding: 0 0 18px 0;
    display: inline-block;
    margin: 30px 0 0 83px;
    background: #fff;
  }
.questionario .box-resp[idx=idx-1] ul li:nth-child(1){
    /* margin-right: 13px; */
    background: #fff;
}
.questionario .box-resp ul li:hover{background-color:#fff; color: #FF798C} 
.questionario .box-resp ul li img{display:block;margin:0 auto;padding:0%;}
.questionario .box-resp ul li .txt-resp{clear:both;width:100%;margin-top: 26px;}
.questionario .box-resp ul li .txt-resp .ico-rounded{
    height: 25px;
    width: 10%;
    float: left;
    margin-left: 30%;
    background: url(/arquivos/icon-quiz.png) no-repeat -24px 0;
    }
.questionario .box-resp ul li .txt-resp .ico-rounded.active,
.questionario .box-resp ul li:hover .txt-resp .ico-rounded{background:#ee014c;}
.questionario .box-resp ul li .txt-resp .ico-rounded.active, .questionario .box-resp ul li:hover .txt-resp .ico-rounded{background-position: 0 0;
    background: url(/arquivos/icon-quiz.png) no-repeat 2px 0;}
.questionario .box-resp .txt-resp span{
    width: 58%;
    display: block;
    margin: 2px 0px 0 1px;
    float: left;
    font-size: 17px;
  }
.questionario .box-resp.quatro .c .txt-resp span{width: 65%;}
.oculto{font-size:0px;color:#fff;}
.resultado{display:none;}
.resultado > p{
    text-align: center;
    margin-bottom: 145px;
    font-family: 'AmerTypewriterITCbyBT-Medium';
    padding: 10px 21%;
    font-size: 1.3em;
    margin-top: -225px;
    border: 8px solid #d33a56;
}
.resultado .collection h2{display:none;}
.resultado .collection ul{margin-left:0;}

.share{position:absolute;right: -60px;bottom: 70px;}

ul.p_escolha {
    margin: 0 0 0 349px !important;
}
.resultado.resultado-fem.res1 {
    margin: 0 200px 0 200px;
}
.resultado.resultado-fem.res2 {
    margin: 0 200px 0 200px;
}
.resultado.resultado-fem.res3{
    margin: 0 200px 0 200px;
}
.resultado.resultado-masc.res1 {
    margin: 0 200px 0 200px;
}
.resultado.resultado-masc.res2 {
    margin: 0 200px 0 200px;
}
.resultado.resultado-masc.res3{
    margin: 0 200px 0 200px;
}
.gt-vitrine.prateleira.n4colunas h2 {
    display: none;
}
.line2.quiz-collection {
    background-color: #fff;
    border-radius: 10px;
    margin: -100px 0 0 0;
}
.gt-vitrine li {
    margin-top: 10px;
}

div#linha_seta {
    z-index: 9999999999;
    content: "";
    display: block;
    position: absolute;
    height: 21px;
    background: url(/arquivos/sep-quiz-az-2.png) no-repeat center;
    width: 100%;
    left: 0;
    top: 390px;
}