@font-face {
  font-family: 'AmericanTypewriter';
  src: 
    url('/arquivos/AmericanTypewriter.eot.js?#iefix') format('embedded-opentype'),  
    url('/arquivos/AmericanTypewriter.woff.js') format('woff'),
    url('/arquivos/AmericanTypewriter.ttf.js')  format('truetype'), 
    url('/arquivos/AmericanTypewriter.svg.js#AmericanTypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmerTypewriterITCbyBT-Medium';
  src: url('/arquivos/AmerTypewriterITCbyBT-Medium.eot.js?#iefix') format('embedded-opentype'),  
  url('/arquivos/AmerTypewriterITCbyBT-Medium.woff.js') format('woff'), url('AmerTypewriterITCbyBT-Medium.ttf')  format('truetype'), 
  url('/arquivos/AmerTypewriterITCbyBT-Medium.svg.js#AmerTypewriterITCbyBT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



body.dia-dos-namorados #content{margin-bottom: -60px;position: relative;}

.abertura{opacity: 0;filter: alpha(opacity=0);display:none;
    -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.abertura.active{opacity:1;filter: alpha(opacity=100);display:block;}
.abertura img{display:block;width: 100%;}

.iniciar {
  background: #000;
  cursor:pointer;
  display:block;
  margin:0 auto;
  opacity: 0;
  position: absolute;
  font-family: monospace;
  color: #ffffff;
  font-size: 18px;
  box-sizing: border-box;
  bottom: 17%;
  left: 46.5%;
  padding: 15px 30px;
  text-decoration: none;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.iniciar.active{opacity:1;filter: alpha(opacity=100);}

.iniciar:hover {
  background: #ee014c;
  text-decoration: none;
}

.quiz{clear:both;display: none;}
.quiz h1{background: url('/arquivos/titulo-quiz.png') no-repeat;background-position: center;width: 100%;height: 355px;margin: 10px auto 20px;font-size:0px;}

.questionario{clear:both;position:relative;height: 405px;}
@media(max-width: 710px){
  .questionario{
    height: 720px;
  }
}
@media(max-width: 696px){
  .questionario{
    
height: 1070px;
  }
}
.questionario .box-resp{width:100%;clear:both;position:absolute;display:none;background-color: #fff;}
.questionario .box-resp.quatro .c .ico-rounded{margin-left:0px;text-align:center;float: left;}
.questionario .box-resp.quatro .c{}
.questionario .box-resp[idx=idx-1] ul{
    width: 100%;
    max-width: 700px;
}
.questionario .box-resp > .back{display: block;clear: both;margin-top: 15px;float: left;text-transform: none;color: #000;font-size: 13px;margin-left: 12%;cursor: pointer;}
.questionario .box-resp > .back:hover{background-color: transparent;color: #333;}
.questionario .box-resp h2{text-align:center;font-family: 'AmericanTypewriter';}
.questionario .box-resp ul{clear:both;margin:0 auto;max-width: 1080px;width: 100%;}
.questionario .box-resp ul li{float:left;border: 1px solid #eee;padding: 28px 30px;display: inline-block;margin-top: 20px;margin-right: 13px;}
.questionario .box-resp[idx=idx-1] ul li:nth-child(1){
    margin-right: 13px;
}
.questionario .box-resp ul li:hover{background-color:#e0e0e0;}
.questionario .box-resp ul li img{display:block;margin:0 auto;padding:1%;}
.questionario .box-resp ul li .txt-resp{clear:both;width:100%;margin-top: 25px;}
.questionario .box-resp ul li .txt-resp .ico-rounded{height:13px;width: 4.7%;border:1px solid #000;border-radius:10px;float: left;margin-right: 2%;margin-top: 1px;margin-left: 20%;}
.questionario .box-resp ul li .txt-resp .ico-rounded.active,
.questionario .box-resp ul li:hover .txt-resp .ico-rounded{background:#ee014c;}
.questionario .box-resp .txt-resp span{width: 60%;display:block;margin-top: 2px;font-size: 1.2em;float:left;}
.questionario .box-resp.quatro .c .txt-resp span{width: 92%;}
.oculto{font-size:0px;color:#fff;}
.resultado{display:none;}
.resultado > p{text-align:center;margin-bottom:50px;font-family: 'AmerTypewriterITCbyBT-Medium';padding: 0 21%;font-size: 1.3em;}
.resultado .collection h2{display:none;}
.resultado .collection ul{margin-left:0;}

.share{position:absolute;right: -60px;bottom: 70px;}