/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/dia-das-maes.scss */
section.master {
  width: 100%;
}

/* line 7, ../sass/dia-das-maes.scss */
.content {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}

/* line 14, ../sass/dia-das-maes.scss */
.back {
  background-image: url("../images/bg-quiz-menor.jpg");
  background-repeat-y: no-repeat;
}
/* line 17, ../sass/dia-das-maes.scss */
.back .inicio {
  text-align: center;
  padding-bottom: 60px;
  float: left;
  width: 100%;
}
/* line 22, ../sass/dia-das-maes.scss */
.back .inicio img {
  max-width: 830px;
  width: 100%;
}
/* line 26, ../sass/dia-das-maes.scss */
.back .inicio span.btn-iniciar {
  display: block;
  background-color: #000;
  width: 127px;
  color: #fff;
  font-family: monospace;
  letter-spacing: 3px;
  font-size: 17px;
  float: none;
  text-transform: uppercase;
  margin: 0px auto;
  padding-bottom: 12px;
  padding-top: 12px;
  cursor: pointer;
}
/* line 40, ../sass/dia-das-maes.scss */
.back .inicio span.btn-iniciar:hover {
  background-color: #ff2e72;
}
/* line 45, ../sass/dia-das-maes.scss */
.back .quiz {
  width: 100%;
  position: relative;
  text-align: center;
  float: left;
  display: none;
}
/* line 51, ../sass/dia-das-maes.scss */
.back .quiz .questionario {
  position: relative;
  height: 450px;
  float: left;
  width: 100%;
  padding-top: 50px;
}
/* line 57, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp {
  width: 100%;
  position: absolute;
  display: none;
}
/* line 61, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp.perg-1, .back .quiz .questionario .box-resp.perg-2, .back .quiz .questionario .box-resp.perg-3, .back .quiz .questionario .box-resp.perg-4 {
  display: none;
}
/* line 66, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li {
  border: 1px solid #eee;
  padding: 28px 30px;
  display: inline-block;
  margin-right: 13px;
}
/* line 71, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li:hover {
  background-color: #eee;
  cursor: pointer;
}
/* line 75, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li.viagem .txt-resp .ico-rounded {
  left: 55px;
}
/* line 78, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li.surpreendida .txt-resp .ico-rounded {
  left: 65px;
}
/* line 81, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li .txt-resp {
  padding-top: 18px;
}
/* line 83, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li .txt-resp span {
  font-size: 16px;
  font-family: Tahoma;
  cursor: pointer;
}
/* line 88, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li .txt-resp .ico-rounded {
  height: 13px;
  width: 4.7%;
  border: 1px solid #999;
  border-radius: 10px;
  float: left;
  cursor: pointer;
  position: relative;
  left: 75px;
  top: 2px;
}
/* line 98, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp ul li .txt-resp .ico-rounded:hover {
  background-color: #ff2e72;
}
/* line 105, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp span.voltar-1, .back .quiz .questionario .box-resp .voltar-2, .back .quiz .questionario .box-resp .voltar-3 {
  position: absolute;
  bottom: -37px !important;
  left: 33px;
  font-family: Arial;
  font-size: 13px;
  color: #000;
  background: none;
  display: block;
  float: left;
  width: 50px;
  height: 15px;
  cursor: pointer;
}
/* line 119, ../sass/dia-das-maes.scss */
.back .quiz .questionario .box-resp h2 {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  font-family: American Typewriter, monospace;
  padding-bottom: 36px;
}
/* line 128, ../sass/dia-das-maes.scss */
.back .quiz .resultado {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 30px;
}
/* line 133, ../sass/dia-das-maes.scss */
.back .quiz .resultado .resp-final {
  max-width: 770px;
  width: 100%;
  border: 5px solid #aaa;
  padding: 22px;
  display: none;
  margin: 0px auto 60px auto;
}
/* line 140, ../sass/dia-das-maes.scss */
.back .quiz .resultado .resp-final span.tituloResp {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
}
/* line 146, ../sass/dia-das-maes.scss */
.back .quiz .resultado .resp-final p {
  line-height: 25px;
  padding-top: 30px;
  color: #000;
  font-size: 20px;
  font-family: monospace;
}
/* line 154, ../sass/dia-das-maes.scss */
.back .quiz .resultado .colecao-1, .back .quiz .resultado .colecao-2, .back .quiz .resultado .colecao-3 {
  display: none;
  float: left;
  width: 100%;
}
/* line 158, ../sass/dia-das-maes.scss */
.back .quiz .resultado .colecao-1 .gt-vitrine li, .back .quiz .resultado .colecao-2 .gt-vitrine li, .back .quiz .resultado .colecao-3 .gt-vitrine li {
  float: left;
  width: 25%;
  position: relative;
  background: #fff;
}
/* line 164, ../sass/dia-das-maes.scss */
.back .quiz .resultado .colecao-1 .gt-vitrine.prateleira > h2, .back .quiz .resultado .colecao-2 .gt-vitrine.prateleira > h2, .back .quiz .resultado .colecao-3 .gt-vitrine.prateleira > h2 {
  font-family: tahoma;
  font-size: 1.3em;
  text-transform: uppercase;
  padding-bottom: 36px;
  color: #787;
}
