/*reset*/
.gt-reset {margin: 0;padding: 0; line-height: 1}
.gt-reset ol, .gt-reset ul, .gt-reset menu {list-style: none}
.gt-reset a {text-decoration: none;cursor: pointer}
.gt-reset p {line-height: normal}
.gt-reset img {border: none}

.ext {text-align: center;clear: both;float:none}
.int {margin: 0 auto;text-align: left;position: relative;width:1170px; overflow: hidden;}
.line {clear:both; float:none; overflow: hidden}
.col10 { float:left; width:10%}
.col15 { float:left; width:15%}
.col20 { float:left; width:20%}
.col25 { float:left; width:25%}
.col30 { float:left; width:30%}
.col33 { float:left; width:33.33%}
.col45 { float:left; width:45%}
.col40 { float:left; width:40%}
.col50 { float:left; width:50%}
.col55 { float:left; width:55%}
.col60 { float:left; width:60%}
.col70 { float:left; width:70%}
.col80 { float:left; width:80%}
.clear { clear:both}
.gicon { display: block; background-image: url(/arquivos/img-common.png); background-repeat: no-repeat}

body { padding: 0 !important; margin: 0 !important }
.int .container {width: 100% !important;padding: 0 0 50px !important;margin: 0 !important;}
.container h1 { font-weight: normal; color: #666; text-transform: uppercase; padding: 45px 10px 20px; margin: 0;  letter-spacing: -1px; font-size: 18px }

/*pitbar*/
#topbar { border-bottom: 1px solid  #B3B1B1}
#topbar .int { overflow: hidden; }
.pitbar { overflow: hidden; float: left}
.pitbar a {display: block;padding: 14px 26px 14px 18px;position: relative;float: left;cursor: initial;font-size: 12px;color: #666;text-transform: uppercase;}
.pitbar .gicon { position: absolute; left: 0; top: 50%; margin-top: -7px; width: 18px; height: 14px}
.pitbar span.eq01 { background-position: 0 -14px}
.pitbar span.eq02 { background-position: -20px -14px}
.pitbar span.eq03 { background-position: -40px -14px}
.pitbar span.eq04 { background-position: -60px -14px}
/*contato*/
.top-contato { overflow: hidden; float: right;padding: 0 0 0 16px; border-left: 1px solid #B3B1B1; margin: 6px 0}
.top-contato a {display: block; cursor: default; height: 28px; padding: 0px 10px 0px 23px; position: relative; float: left; font-size: 16px; color: #000}
.top-contato a.chat { cursor: pointer;}
.top-contato em { display: block; font-family: "Times New Roman", Times, serif; color: #666; font-size: 12px; letter-spacing: normal}
.top-contato .gicon { position: absolute; left: 0; top: 50%; margin-top: -10px; width: 23px; height: 20px}
.top-contato span.eq01 { background-position: -80px -10px}
.top-contato span.eq02 { background-position: -105px -10px}
.top-contato span.eq03 { background-position: -130px -10px}

/*header*/
#check-header { border-bottom: 3px solid #000 }
#check-header .logo { display: block; margin: 0 auto }
#check-header .logo span { display: none }
#check-header .logo img { display: block; width: 138px; height: auto; margin: 0 auto; padding: 20px 0 }

/*pitabar*/
#pitbar { background: #F0F0F0; padding: 20px 0; overflow: hidden; border-top: 3px solid #000}
#pitbar a {display: block;padding-left: 40px;position: relative;font-size: 13px;cursor: default;line-height: 1;font-family: 'bold', regular;color: #666;}
#pitbar a.one { padding: 6px 0 5px 40px}
#pitbar ul { display: block; overflow: hidden;}
#pitbar li { width: 20%; vertical-align: middle; float: left}
#pitbar li:first-child { width: 18%}
#pitbar .gicon {position: absolute;left: -5px;top: 50%;margin-top: -22px;width: 40px;height: 44px;}
#pitbar .eq01 { background-position: 0 -154px}
#pitbar .eq02 { background-position: -42px -154px}
#pitbar .eq03 { background-position: -84px -154px}
#pitbar .eq04 { background-position: -126px -154px}
#pitbar .eq05 { background-position: -168px -154px}
#pitbar .tx { font-size: 11px; text-transform: none; display: block; margin-top: 3px}
#pitbar strong { font-size: 13px; text-transform: uppercase}
#pitbar li p{font-family: regular, sans-serif; font-size: 11px;}

/*footer*/
#check-footer h4 {line-height: normal;padding: 0 0 6px; font-weight: normal;font-size: 10px;margin: 0;text-transform: uppercase;letter-spacing: -.3px}
#check-footer .line { padding: 6px 0; margin-top: 20px }
#check-footer .line.help { border-bottom: 1px dotted #ccc; margin-bottom: 15px;}
#check-footer .help p { margin: 0; text-align: center; padding: 2px 0 }
#check-footer .mobile { display: none; }
#check-footer .help p span { color: #999 }
#check-legal { padding: 20px 0 }
#check-legal p { margin: 0; color: #999; font-size: 11px; line-height: 14px; padding: 2px 0 }
.box.certificate { overflow: hidden; }
.box.certificate span { display: block; float: left; }

/*carrinho*/
body.body-cart .cart { border:none; padding: 0 !important }
body.body-cart .table thead th { font-weight: normal; background: #ddd; color: #666; font-size: 15px }
body.body-cart .cart-items tbody td { padding: 20px 8px }
td.product-name a { color: #000 }
a.link-coupon-add, a.link-choose-more-products, a.shipping-calculate-link { border-radius: 4px;padding: 12px 15px;color: #444;background: #EAEAEB; text-decoration: none !important ; text-align: center !important; margin-right: 0 !important}
a.link-coupon-add, a.link-choose-more-products { display: block; }
a.shipping-calculate-link { padding: 3px 10px }
a.link-coupon-add:hover, a.link-choose-more-products:hover, a.shipping-calculate-link:hover { background: #ccc }
body.body-cart .full-cart .summary-totalizers tr { border-bottom: 1px solid #ddd }
body.body-cart .cart-links-bottom { float: none; overflow: hidden}
body.body-cart .link-choose-more-products-wrapper { float: left; margin-right: 0; display: block }
body.body-cart .btn-place-order-wrapper { float: right; display: block; width: 35% }
body.body-cart .btn-place-order-wrapper a.btn { display: block; width: auto }
a#order-print-bank-invoice-mini {background-color: #FF0000;background-image: none;color: #fff;}

@media only screen and (max-width:1198px) {
	.int {width:96%; padding:0 2%}
	.pitbar a {padding: 14px 10px 14px 18px}
	.pitbar a.desk { display: none}
}

@media only screen and (max-width:1030px) {
	#check-footer { border-top: 3px solid #000 }
	#pitbar { display: none !important}
	.top-contato { padding: 0; border:none}
	.top-contato, .pitbar { text-align: center; float: none; width: 100%; clear: both}
	.pitbar { background: #eee }
	.pitbar a {padding: 8px 10px 8px 18px; font-weight: bold; color: #333; font-size: 11px; letter-spacing: -.5px}
	.top-contato a, .pitbar a { display: inline-block; float: none; text-align: left}
	.top-contato a { font-weight: bold; letter-spacing: -.5px; font-size: 14px }
	.top-contato a em { letter-spacing: normal; font-weight: normal; }
}


@media only screen and (max-width:810px) {

	#check-header .col20, #check-header .col60 { width: 33.33% }
}

@media only screen and (max-width:740px) {
	/*cart*/
	body.body-cart .btn-place-order-wrapper, body.body-cart .link-choose-more-products-wrapper { float: none; clear: both; width: auto; margin: 10px }
}

@media only screen and (max-width:620px) {
	/*header*/
	#check-header .col20, #check-header .col60 { width: 50%}
	#check-header .selo-2 { display: none }
	#check-header .box { margin: 10px 0 }

	/*footer*/
	#check-footer .mobile { display: block; }
	#check-footer .col50 { clear: both; text-align: center; width: 100%; margin-bottom: 15px }
	#check-legal { display: none; }
}

@media only screen and (max-width:480px) {
	.pitbar { display: none }
	.top-contato a { padding: 0 5px }
	.top-contato .gicon { display: none; }
	#paypal{display: none !important}
}
#paypal {
	display: block;
}
ul.dropdown-menu.shipping-sla-options {
	display: block !important;
}
a.add-service.btn.btn-mini {
	background: #f7f7f7;
	border: 1px solid #e8e8e8;
	box-shadow: 0px 6px 4px -5px #e0e0e0;
	width: 70%;
	padding: 5px 2px 0;
	color: #999;
	font-size: 0;
	line-height: 27px;
}
a.add-service.btn.btn-mini::before{content: "";background: url("/arquivos/icon-add-presente.png");display: inline-block;width: 15px;height: 15px;background-repeat: no-repeat;margin-left: 12px;position: relative;top: 5px;float: left;}
a.add-service.btn.btn-mini::after {content: "Adicione para Presente - R$4,90";font-size: 13px;display: inline-block;color: #000;}
p.add-service-container::before {content: "";background: url("/arquivos/presente.png");display: none;width: 24px;height: 24px;background-repeat: no-repeat;margin-right: 5px;position: relative;top: 7px;}


tr.product-item {
	border: 1px solid #ccc;
}
div#form > div.ajuste-form > fieldset > h2 {
	text-align: center;
}
.dataNasc {
	width: 27.9999%;
	float: left;
	text-align: left;
}
.sexo-espec {
	width: 27.9999%;
	float: left;
	text-align: left;
}
.voceProcura {
	float: left;
	width: 27.9999%;
	text-align: left;
}
.form-field.submit {
	float: left;
	width: 100%;
	text-align: right;
	padding-right: 10%;
}

.dataNasc h2 {
	font-size: 17px;
	text-align: left;
}

.sexo-espec h2 {
	font-size: 17px;
}

.voceProcura h2 {
	font-size: 17px;
}

.sexo-espec label {
	width: 30%;
	float: left;
}

.voceProcura label {
	text-align: justify;
	width: 100%;
}
div.ajuste-form {
	max-width: 1200px;
	margin: 0px auto;
}
input#commit {
	background: #4CAF50;
	border: none;
	padding: 10px 36px;
	border-radius: 7px;
	color: #fff;
}
form#news_form {
	width: 100%;
	margin: 0px auto;
	padding: 20px 0px;
	height: 100%;
	display: block;
	float: left;
}
div#message_success {
	width: 100%;
}

div#message_success > h2 {
	width: 80%;
	background: #dff0d8;
	text-align: center;
	margin: 0px auto;
	padding: 3px 0px;
	font-size: 20px !important;
}
td.bundle-item-name span::before {content: "";background: url("/arquivos/icon-presente.png");width: 25px;height: 25px;float: left;display: inline-block;background-repeat: no-repeat;position: relative;top: 2px;margin: 0px 15px 0 10px;}
td.bundle-item-name span {background: #f3f3f3;display: block;padding: 5px;border-radius: 6px;box-shadow: 1px 3px 1px -2px #ccc; font-size: 0;}
td.bundle-item-name span::after {content: "Adicionado para Presente - R$ 4,90";font-size: 13px;line-height: 30px;top: 2px;}



/*Ultimas AlteraÃƒÂ§ÃƒÂµes*/
body.body-order-form .custom205PaymentGroupPaymentGroup {
	background: transparent url(/arquivos/bradesco-bancos-deposito-img.png) no-repeat scroll 0 0 !important;
	height: 400px !important;
	text-indent: -15000px !important;
}
body.body-order-form .custom202PaymentGroupPaymentGroup {
	background: transparent url(/arquivos/bradesco-bancos-deposito-img.png) no-repeat scroll 0 0 !important;
	height: 400px !important;
	text-indent: -15000px !important;
}
#payment-group-custom205PaymentGroupPaymentGroup .payment-group-item-text {
	background: none !important;
}

#dark{
	position: fixed;
}

.f4 {color: #006313 !important;}

.dark-blue {
	color: #000;
}

h2.fw4.f3.ma0.lh-copy.blue {
	color: #777;
}

.cf.br3.pa4.cconf-alert.bg-washed-blue.ba.b--blue.solid {
	border-color: #007500;
}

.blue {
	color: #000;
}

.hover-no-underline:hover {
	color: #006700;
}

/* Alteração dia 26/09/2018 */
@media (max-width: 490px){
	.full-cart .summary-totalizers .shipping-sla-options {
	   max-width: 390px;
	}
}
@media (max-width: 320px){
	.full-cart .summary-totalizers .shipping-sla-options {
	   max-width: 300px;
	}
}
/* Fim Alteração */