.ext {text-align: center;clear: both;float:none}
.int {margin: 0 auto;text-align: left;position: relative;width:1170px; overflow: hidden;}
.line {clear:both; float:none; overflow: hidden}
.col10 { float:left; width:10%}
.col15 { float:left; width:15%}
.col20 { float:left; width:20%}
.col25 { float:left; width:25%}
.col30 { float:left; width:30%}
.col33 { float:left; width:33.33%}
.col45 { float:left; width:45%}
.col40 { float:left; width:40%}
.col50 { float:left; width:50%}
.col55 { float:left; width:55%}
.col60 { float:left; width:60%}
.col70 { float:left; width:70%}
.col80 { float:left; width:80%}
.clear { clear:both}

body { padding: 0 !important; margin: 0 !important }
.int .container { width: 100% !important; padding: 0 0 50px !important; margin: 0 !important; border-top: 1px solid #DFDCD3; border-bottom: 1px solid #DFDCD3; }
.container h1 { font-weight: normal; color: #666; text-transform: uppercase; padding: 45px 10px 20px; margin: 0;  letter-spacing: -1px; font-size: 18px }

/*header*/
#check-header .logo { overflow: hidden; }
#check-header .logo span { display: none }
#check-header .logo img { float: left; padding: 10px 0 }
#check-header .box { margin:10px; display: block }
#check-header .selo .box { border-radius:2px; background: #eee; height: 74px ;line-height: 1 !important }
#check-header  p { margin: 0 !important}
#check-header .selo { text-align: center; }
#check-header .selo img { padding: 10px 0 }
#check-header .selo p {  color: #333; font-size: 14px; letter-spacing: -.3px; font-weight: bold; }
#check-header .selo .contact img { padding: 8px 0 5px }
#check-header .selo span { font-size: 11px; font-weight: normal; }

/*footer*/
#check-footer h4 {line-height: normal;padding: 0 0 6px; font-weight: normal;font-size: 10px;margin: 0;text-transform: uppercase;letter-spacing: -.3px}
#check-footer .line { padding: 6px 0; margin-top: 20px }
#check-footer .line.help { border-bottom: 1px dotted #ccc; margin-bottom: 15px;}
#check-footer .help p { margin: 0; text-align: center; padding: 2px 0 }
#check-footer .mobile { display: none; }
#check-footer .help p span { color: #999 }
#check-legal { padding: 20px 0 }
#check-legal p { margin: 0; color: #999; font-size: 11px; line-height: 14px; padding: 6px 0 }
.box.certificate { overflow: hidden; }
.box.certificate span { display: block; float: left; }

/*carrinho*/
body.body-cart .cart { border:none; padding: 0 !important }
body.body-cart .table thead th { font-weight: normal; background: #ddd; color: #666; font-size: 15px }
body.body-cart .cart-items tbody td { padding: 20px 8px }
td.product-name a { color: #000 }
a.link-coupon-add, a.link-choose-more-products, a.shipping-calculate-link { border-radius: 4px;padding: 12px 15px;color: #444;background: #EAEAEB; text-decoration: none !important ; text-align: center !important; margin-right: 0 !important}
a.link-coupon-add, a.link-choose-more-products { display: block; }
a.shipping-calculate-link { padding: 3px 10px }
a.link-coupon-add:hover, a.link-choose-more-products:hover, a.shipping-calculate-link:hover { background: #ccc }
body.body-cart .full-cart .summary-totalizers tr { border-bottom: 1px solid #ddd }
body.body-cart .cart-links-bottom { float: none; overflow: hidden}
body.body-cart .link-choose-more-products-wrapper { float: left; margin-right: 0; display: block }
body.body-cart .btn-place-order-wrapper { float: right; display: block; width: 35% }
body.body-cart .btn-place-order-wrapper a.btn { display: block; width: auto }


@media only screen and (max-width:1198px) {
	.int {width:96%; padding:0 2%}
}

@media only screen and (max-width:810px) {

	#check-header .col20, #check-header .col60 { width: 33.33% }
}

@media only screen and (max-width:740px) {
	

	/*cart*/
	body.body-cart .btn-place-order-wrapper, body.body-cart .link-choose-more-products-wrapper { float: none; clear: both; width: auto; margin: 10px }
}

@media only screen and (max-width:620px) {
	/*header*/
	#check-header .col20, #check-header .col60 { width: 50%}	 
	#check-header .selo-2 { display: none }
	#check-header .box { margin: 10px 0 }

	/*footer*/
	#check-footer .mobile { display: block; }
	#check-footer .col50 { clear: both; text-align: center; width: 100%; margin-bottom: 15px }
	#check-legal { display: none; }
}