.wrap-1 {box-sizing: border-box; width: 1197px;margin: 0 auto;position: relative;text-align: left}
.line2 {clear:both; float:none}
.line2:before, .wrap-1:before { display: table; content: ""}
.line2:after, .wrap-1:after { clear: both; display: table; content: ""}
.col-right { float: right}
.col-left { float: left}
.box { box-sizing: border-box}

.col18 { float: left; width: 18%}
.col22 { float: left; width: 22%}
.col28 { float: left; width: 28%}
.sep10 {border-bottom: 15px solid #fff}
.sep15 {border-bottom: 15px solid #fff}
.sep20 {border-bottom: 20px solid #fff}
.sep70 {border-bottom: 70px solid #fff}

/*SLIDER*/
.slick-slider {position: relative;display: block;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent}
.slick-list { overflow: hidden}
.slick-arrow { position: absolute; cursor: pointer; padding: 0 !important; z-index: 10; background-repeat: no-repeat; border: none; outline: none; text-indent: -999999px;background-image: url(/arquivos/new-setas.png); background-color:rgba(255, 255, 255, 0.8); border-radius: 50%; background-repeat: no-repeat;width: 40px; height: 40px; top: 50%; margin-top: -20px}
.slick-prev {left: 0; background-position:0 0}
.slick-next { right: 0; background-position:-40px 0}
.banner .slick-dots { position: absolute; text-align: center; bottom: 20px;display: block; width: 100%}
.banner .slick-dots li { display: inline-block; padding: 5px}
.banner .slick-dots li button { border: none; border-radius: 50%; background: #fff; cursor: pointer; width: 12px; height: 12px; font-size: 0; text-indent: -9999px; display: block; outline: none}
.banner .slick-dots li.slick-active button { opacity: .5}
.slick-track li, .slick-track a, .slick-track button { outline: none !important}



/*BANNER*/
.new-marcas .banner.position0 {}
body.home .banner.posicao1 img, .banner.position0 img { width:100%; height:auto; display: block}
body.home .banner.posicao1 .box-banner { float: left; width: 100%}

/*marcas*/
.best-brand {padding: 66px 0 26px; border-bottom: 1px solid #C9C9C9}
.best-brand h2 { padding: 0 0 40px}
.best-brand ul { padding: 0 20px}
.best-brand li { float: left; width: 16.66%}
.best-brand li a { display: block}
.best-brand li img { display: block; width: 150px; height: 77px; margin: 0 auto}

.best-brand .slick-arrow { background-repeat: no-repeat; border-radius: 0; width: 20px; height: 46px; top: 50%; margin-top: -23px}
.best-brand .slick-prev {background:#fff url(/arquivos/left-marca.png) no-repeat 0 0 !important}
.best-brand .slick-next {background:#fff url(/arquivos/right-marca.png) no-repeat 0 0 !important}

.end-marcas {padding: 0 0 46px; border-top: 1px solid #c9c9c9}
.txt-marcas { padding: 66px 0 8px}
h2.title-marcas { text-align: center; text-transform: uppercase; font-size: 25px;font-family: "Times New Roman", Times, serif; font-weight: normal}
.filtro-marcas { padding: 36px 0 0}
.filtro-marcas ul { text-align: center}
.filtro-marcas li { display: inline-block; width: 36px}
.filtro-marcas li a { display: block; line-height: 36px; color: #ccc; font-size: 16px}
.filtro-marcas li a:hover { color: #000}
.content-marcas {}
.gpr-marcas {border-top: 1px solid #C9C9C9; padding: 0 0 20px}
.gpr-marcas h3 { padding: 36px 0; text-transform: uppercase;font-family: "Times New Roman", Times, serif; font-size: 50px; font-weight: normal}
.gpr-marcas ul {}
.gpr-marcas li { padding: 0 0 16px }
.gpr-marcas li a { color: #666; font-size: 14px} 
.gpr-marcas li a:hover { color: #000}

.ne-topbar { background: #f2f2f2}
.phonebar { padding: 7px 0}
.phonebar li { float: left; font-size: 12px; line-height: 18px}
.phonebar li + li { margin-left: 15px; padding-left: 15px; border-left: 1px solid #888}

.ne-chat { padding: 7px 0}
.ne-chat a { display: block; font-size: 12px; position: relative; line-height: 18px; padding: 0 0 0 25px; color: #000}
.ne-chat a span { position: absolute;width: 20px; height: 20px; background: url(/arquivos/novo-topBar.png) no-repeat -36px -6px; left: 0; top: 50%; margin-top: -10px}

.ne-pitbar { padding:10px 0; border-bottom: 1px solid #B5B2B2}
.ne-pitbar a {text-transform: uppercase;font-size: 12px !important;display: block;position: relative;padding: 9px 0 9px 50px;color: #666; text-align: left}
.ne-pitbar a span {display: block;width: 30px; height: 30px; background-image: url(/arquivos/new-pitbr.png);color: #fff;background-repeat: no-repeat; text-indent: -99999px; font-size: 0; position: absolute; top: 50%; margin-top: -15px}
.ne-pitbar .e00 { width: 19%}
.ne-pitbar .e01 { width: 25%}
.ne-pitbar .e02 { width: 22%}
.ne-pitbar .e03 { width: 20%}
.ne-pitbar .e04 { float: right !important; }
.ne-pitbar .e00 span { background-position: -120px 0; left: 0}
.ne-pitbar .e01 span { background-position: -90px 0; left: 5px}
.ne-pitbar .e02 span { background-position: 0 0; left: 0}
.ne-pitbar .e03 span { background-position: -60px 0; left: 5px}
.ne-pitbar .e04 span { background-position: -150px 0; left: 5px}
.ne-pitbar .col-left br { display: none}
.nav-user { padding: 40px 0}
.nav-user li.box { position: relative }
.nav-user li.minicart { margin-left: 26px}
.selo16 { padding: 35px 0 35px 70px}
.selo16 img { display: block}

.burger, .open-menu {position: absolute;display: none;border-radius: 1px;background: url(/arquivos/burger.png) no-repeat 0 0;width: 50px;height: 50px;top: 30px;left: 30px;text-indent: -9999px;color: #fff;font-size: 0}
.burger:hover, .burger.ativo, .open-menu:hover {background-position: -50px 0;background-color: #000}

#header .logo {padding: 18px 0;position: relative}
#header .logo a img {height: 84px;width: auto;display: block}
#header .logo span {display: none}

fieldset.busca select, legend, .search label {display: none}
.search {width: 448px;padding: 35px 0 35px 58px}
.search fieldset.busca {position: relative;padding: 0 50px 0 0;border: 1px solid #999;display: block}
.search .fulltext-search-box {font-size: 12px;display: block;vertical-align: baseline;padding: 0 16px;width: 100%;color: #aaa;height: 48px;box-sizing: border-box;border: none;background: #fff}
.search .fulltext-search-box:focus {font-style: normal;color: #000}
.search .btn-buscar {border: none;cursor: pointer;color: #fff;position: absolute;right: 0;top: 0;background: url(/arquivos/iconSearch.png) no-repeat center center;display: block;width: 48px;height: 48px;font-size: 0}
.search .btn-buscar:hover {background-color: #ccc}


.gt-categoria {background: #000;text-align: center}
.gt-categoria li.pai { float: left}
.gt-categoria li.pai:last-child { float: right}
.gt-categoria li a.pai {position: relative;display: block;color: #fff;text-transform: uppercase;font-size: 14px;padding: 16px 32px 16px 32px}
.gt-categoria li.promo a.pai {color: #c7696a}
.gt-categoria li.pai a.pai:hover, .gt-categoria li:hover a.pai {background: #fff;color: #000}
.nivel-1 {position: absolute;background: #fff;padding: 0px 0px;text-align: left;z-index: 100;display: none; border: 1px solid #000;border-top: none}
.nivel-2 {overflow: hidden;float: left;position: relative;padding: 20px 20px}
.ne-footer-news { padding:0 100px 0 66px; border-right: 1px solid #fff}
.ne-header-news h3 { font-size: 20px; font-weight: normal; text-align: left}
.barfooter { background: #000; padding: 30px 0; color: #fff }
.ne-content-news fieldset { padding: 19px 0}
.ne-content-news span { display: block; text-align: left}
.ne-content-news span.cp-nome, .ne-content-news span.cp-date { display: none}
.ne-content-news span.cp-email { width: 330px; padding: 0 30px 0 0}
.ne-content-news span.cp-sexo { width: 116px}
.ne-content-news .cp-news {font-size: 12px;display: block;vertical-align: baseline;padding: 0 16px;width: 100%;color: #aaa;height: 46px;box-sizing: border-box;border: none;background: #fff}
.ne-content-news label {display: block;position: relative; padding: 6px 0 5px 25px}
.ne-content-news input[type="radio"] {position: absolute;left: 5px;top: 5px}
.ne-content-news .submitCadastre {background: #00CD5E;color: #fff; width: 110px; height: 46px; border: none; text-align: center; font-size: 18px; font-family: "Times New Roman", Times, serif}
.ne-content-news .submitCadastre:hover {background: #6C6}
.ne-content-news p { text-align: left }
.ne-content-news p a { color: #fff; text-decoration: underline}
.ne-footer-social h3 { font-size: 18px;text-transform: uppercase;font-weight: normal; padding: 26px 0 16px}
.ne-footer-social { padding: 0 0 0 100px; text-align: left}
.ne-footer-social li { float: left; margin:0 8px 8px 0}
.ne-footer-social a {background-image: url(/arquivos/social-common.png);color: #000;background-repeat: no-repeat; display: block; text-indent: -99999px; font-size: 0; width: 36px; height: 35px}
.ne-footer-social .eq00 { background-position:0 0}
.ne-footer-social .eq01 { background-position:-36px 0}
.ne-footer-social .eq02 { background-position:-72px 0}
.ne-footer-social .eq03 { background-position:-108px 0}
.ne-footer-social .eq04 { background-position:-144px 0}
.ne-footer-social .eq05 { background-position:-180px 0}
#footer { padding: 50px 0}
.ne-nav-footer { text-align: left; overflow: hidden}
.ne-nav-footer .box { padding: 0 0 0 20px; position: relative}
.ne-nav-footer .box + .box { padding: 0 0 0 76px}
.ne-nav-footer .box + .box:before { content: ""; width: 1px; height: 600px; position: absolute; left: 0; background: #B5B2B2}
.ne-nav-footer h4 { font-weight: normal; font-family: 'bold', sans-serif; text-transform: uppercase; font-size: 16px; padding: 0 0 14px}
.ne-nav-list li { padding: 7px 0}
.ne-nav-list li a { font-size: 14px; color: #666}
.ne-nav-list li a:hover { color: #00CD5E}
.ne-nav-footer .atendimento p {position: relative;padding-left: 40px;margin: 10px 0;font-size: 14px; color: #666}
.ne-nav-footer .atendimento .gicon {position: absolute;width: 40px;height: 34px;left: 0;top: 50%;margin-top: -17px}
.ne-nav-footer .atendimento .eq01 {background-position: 0 -109px}
.ne-nav-footer .atendimento .eq02 {background-position: -42px -109px}
.ne-nav-footer .atendimento .eq03 {background-position: -84px -109px}
.ne-nav-footer .atendimento strong {display: block;font-size: 16px; color: #000}
.ne-nav-footer .atendimento strong .ddd {font-size: 15px}

.resultado-busca .pager.top fieldset.orderBy {float: left;display: inline-block;width: 50%;padding: 20px 0 20px 5px;}
.resultado-busca .pager.top fieldset.orderBy select#O { border: 1px solid #E6E6E6; outline: 0; font-size: 13px; padding: 6px; display: block; color: #666; background: #fff; text-transform: uppercase; float: left;}

#pitbar {background: #F0F0F0;padding: 22px 0}
#pitbar li { text-align: left}
#pitbar a {display: block;padding-left: 45px;position: relative;cursor: default; color: #666}
#pitbar a.one {padding: 7px 0 6px 45px}
#pitbar strong { font-size: 13px; text-transform: uppercase}
#pitbar p { line-height: 1.2; font-size: 11px; padding: 3px 0 0}
#pitbar .gicon {position: absolute;left: 0;top: 50%;margin-top: -22px;width: 40px;height: 44px}
#pitbar .eq01 {background-position: 0 -154px}
#pitbar .eq02 {background-position: -42px -154px}
#pitbar .eq03 {background-position: -84px -154px}
#pitbar .eq04 {background-position: -126px -154px}
#pitbar .eq05 {background-position: -168px -154px}

span.selo .line2 { display: flex; align-items: center; justify-content: left}
#selos {padding: 32px 0; border-bottom: 1px solid #B5B2B2}
#selos h5 {margin-bottom: 12px;font-weight: normal;font-size: 11px;text-transform: uppercase}
#selos li {float: left;width: 17%;}
#selos .pag img { margin: 18px 0 0 }
#selos li:nth-of-type(3) {}
#selos li:nth-of-type(4) {width: 18%}
#armored_website {}
#selos #DigiCertClickID_9TA5G5x0Seal,
#selos #DigiCertClickID_9TA5G5x0Seal + span {display: none !important}
#selos li img {display: block;width: 90px;height: auto;margin-right: 5px}
#selos li:last-child {width: 20%}
#selos li:last-child img {display: block;width: 174px;height: auto;margin-right: 5px;margin-top: 15px}
#selos .col-right img {margin-top: 20px}
#sb-shield { position: initial !important}

#copyright {padding: 20px 0}
.informacoes-legais { padding: 0 250px 0 0}
.informacoes-legais p {font-size: 11px;color: #666}
.powered-by { position: absolute; right: 0; width: 240px; top: 0}
.powered-by a {display: block;}
.powered-by a img { display: block}

.dicas {padding-bottom: 30px}
.dicas .box {box-sizing: border-box;border: 5px solid #fff;display: block; text-align: center}
.dicas .box img {width: 100%;height: auto;box-sizing: border-box;border: 2px solid #fff}
.dicas .box h2 {font-weight: normal;color: #000;font-family: "Times New Roman", Times, serif;font-size: 25px;padding: 12px 0}
.dicas .box span {display: inline-block;background: #000 url(/arquivos/gt-seta1.png) no-repeat right center;padding: 12px 40px 12px 25px;color: #fff;font-size: 14px;text-transform: uppercase}
.dicas .box span strong {font-size: 16px}
.dicas .box:hover span {background-color: #0CA245}
.dicas .box:hover img {border: 2px solid #0CA245}

.collection {position: relative;border-top: 1px solid #ddd; padding: 10px 0}
.collection .ver-todos {position: absolute;right: 0;top: 35px;font-size: 13px;color: #000;text-decoration: underline; text-transform: capitalize; display: block; padding: 0 14px 0 0}
.collection .ver-todos:after { content: ""; display: block; position: absolute; right: 0;background: url(/arquivos/seta-ver-mais.png) no-repeat; width: 5px; height: 10px; top: 50%; margin-top: -5px}
.collection .ver-todos:hover {color: #666}
.collection h2 {color: #000;padding: 30px 0;font-family: "Times New Roman", Times, serif;font-weight: normal;font-size: 25px; text-transform: uppercase; text-align: center;}
body.produto .collection { border: none}
body.produto .collection .wrap-1 {border-top: 1px solid #bbb}

li .flags .flag {display: none}
.gt-vitrine ul { padding-right: 1px}
.gt-vitrine ul, .gt-vitrine li {box-sizing: border-box}
.gt-vitrine li {float: left;width: 25%;background: #fff; text-align: center; margin: 0 0 48px; padding: 0 5px}
.gt-vitrine li .ct {border: 1px solid #fff;padding: 10px;position: relative}
.gt-vitrine span.fotoProduto {display: block;text-align: center}
.gt-vitrine li img {width: 90%;height: auto; display: block; margin: 0 auto}
.gt-vitrine .product-info { min-height: 182px}
.gt-vitrine .marca { display: none}
.gt-vitrine .brand {font-size: 12px;color: #333;margin-top: 6px;overflow: hidden; padding: 10px 0}
.gt-vitrine .brand b { font-weight: normal; font-family: 'bold', sans-serif; text-transform: capitalize}
.gt-vitrine h3 {height: 50px;overflow: hidden;font-weight: normal;line-height: 16px;padding: 0 20px}
.gt-vitrine h3 a {color: #666;font-size: 14px}
.gt-vitrine .preco {min-height: 67px; line-height: 1.1}
.gt-vitrine .preco-de {text-decoration: line-through;font-size: 14px;display: block;color: #999;font-family: "Times New Roman", Times, serif}
.gt-vitrine .preco-por {font-size: 25px;color: #333;font-weight: bold;font-family: "Times New Roman", Times, serif; display: block}
.gt-vitrine .preco-parcelado {display: block;font-size: 14px;color: #999}
.gt-vitrine .preco-parcelado b { font-weight: normal; font-family: 'bold', sans-serif}
.gt-vitrine p.esgotado {text-transform: uppercase;font-size: 12px;color: #666}
.show-buy {position: absolute;width: 100%;background: url(/arquivos/bg-vitrine.png);display: none;bottom: -50px;left: 0; height: 70px}
.show-buy a {transition: all 0.15s ease;display: block;width: 148px;margin: 0 auto;text-align: center;font-family: "Times New Roman", Times, serif}
.show-buy a.add-cart {background: #00CD5E;padding: 10px 0;font-size: 20px;color: #fff; text-transform: uppercase}
.show-buy a.add-cart:hover {background: #00A449}
.freteGratis {background: url(https://azperfumes.vteximg.com.br/arquivos/flag_freteGratis.jpg);display: block;width: 148px;height: 29px;margin: 0 auto}
.show-buy a.avisame {background: #E3EAEB;padding: 13px 0;font-size: 14px;color: #777}
.show-buy a.avisame:hover {background: #aaa;color: #fff}
.gt-vitrine li .flags {position: absolute;top: -3px;right: -3px}
.gt-vitrine li .flag.discount, .gt-top10 li .flag.discount {width: 60px;text-align: center;border-radius: 50%;font-size: 12px;background: #C00007;padding: 18px 0 12px;color: #fff;display: block;}
.gt-vitrine li .flag.discount span, .gt-top10 li .flag.discount span { display: block; font-size: 16px; font-family: 'bold', sans-serif; letter-spacing: -1px; padding: 0 0 2px}
.gt-vitrine li:hover .ct { border: 1px solid #ccc}
.m-banner {float: left;width: 50%}
.m-banner .gt-vitrine li {width: 100%;padding: 6px 10px; float: none; margin: 0}
.m-banner .gt-vitrine .product-info { min-height: auto}
.m-banner h2 { display: none}
.m-banner .show-buy { bottom: auto; top: 50%; margin-top: -35px}

.nav-mb {display: none;position: absolute;top: 0;left: 0;padding: 20px 6%;width: 78%;background: #fff;z-index: 100;box-shadow: 1px 1px 4px #999}
.close-menu {display: block;width: 40px;height: 40px;background: #333 url(/arquivos/close-modal.gif) no-repeat center center;position: absolute;right: -20px;top: 5px;z-index: 101}
.nav-mb .menu-mobile h3 {font-family: "Times New Roman", Times, serif;font-size: 25px;color: #006B2D;padding: 20px 0}
.nav-mb .menu-mobile li a {display: block;padding: 14px 10px;text-transform: uppercase;font-size: 14px;color: #333}
.user-mb li {border-bottom: 1px solid #fff}
.user-mb a {padding: 18px 10px;background: #ddd; color: #333;font-size: 15px; position: relative; display: block}
.user-mb .cart-info li.amount-items { left: auto; right: 10px; top: 15px}

.bread-crumb {overflow: hidden;padding: 20px 0}
.bread-crumb li {display: inline-block;color: #999;font-size: 14px;padding-right: 15px;margin-right: 7px;background: url(/arquivos/gt-seta2.png) no-repeat right center;height: 14px}
.bread-crumb li.last {padding-right: 0;background: none;color: #333}
.bread-crumb li a {color: #999}
.bread-crumb li.last a {color: #333}
.bread-crumb li a:hover {/* text-decoration: underline */}
.bread-crumb li strong {font-weight: normal}

/*produto*/
.header-product { padding: 10px 0}
.all-brand { float: right }
.all-brand .brandName { font-size: 14px; padding: 22px 15px 22px 0; position: relative;}
.all-brand .brandName:before { content: "Ver mais da marca "; color: #999}
.all-brand .brandName:after { content: ""; display: block; position: absolute; width: 6px; height: 10px; background: url(/arquivos/seta-ver-mais.png) no-repeat; right: 0; top: 50%; margin-top: -5px}
.all-brand .brandName a { font-family: 'bold', sans-serif; color: #000; text-decoration: underline}
.all-brand .brandName a:hover { text-decoration: none}
.informacoes-produto .brandName {padding: 15px 0 3px}
.informacoes-produto .brandName a {color: #999;font-size: 12px; text-transform: uppercase}
.informacoes-produto .brandName a:hover { color: #333}

body.produto #TRUSTEDCOMPANY_widget_101381 {width: 79.5%;clear: both; margin: 0 0 0 20.5%}
body.produto .tc-widget-ui .tc-carousel.tc-slide { display: none !important}
body.produto .tc-widget-vertical-main { border:none !important}
.aviso-zoom { display: none !important}


/*image*/
.image-product .apresentacao { overflow: hidden}
.image-product #include { float: right; width: 79.5%}
.image-product #include #image {min-height: auto !important}
.image-product #include #image img#image-main {width: 100%;height: auto}
.image-product #include:after { content: "zoom"; color: #666; display: block; text-align: center; padding: 22px 0; font-size: 13px}
.image-product .thumbs { float: left; width: 19%; box-sizing: border-box; padding: 0 10px 0 0}
.image-product .thumbs li { margin:0 0 10px}
.image-product .thumbs li a { display: block; border: 1px solid #ddd; /*opacity: .8*/}
.image-product .thumbs li a.current { opacity: 1}
.image-product .thumbs li img { width: 100%; height: auto; display: block}
.image-product .thumbs.thumb-slider { padding: 35px 10px 35px 0; position: relative;}
.gt_proxima, .gt_anterior { position:absolute; bottom:0; display:block; width:100%; font-size:0; cursor:pointer; text-align:center; height: 35px}
.gt_anterior{ left: 0;top: 0;background: #fff url(https://azperfumes.vteximg.com.br/arquivos/thumb1.png) no-repeat center center}
.gt_proxima { left:0; bottom:0;background: #fff url(https://azperfumes.vteximg.com.br/arquivos/thumb2.png) no-repeat center center}
/*zoom*/
.zoomWrapper {width: 100%!important;height: 100%!important}
.zoomWrapperImage {height: 100%!important}
.zoomWindow {overflow: hidden;width: 100%!important;height: 100%!important;top: 0!important;left: 0!important}
.zoomPad {position: relative}
.zoomPup {filter: alpha(opacity=70);opacity: .5;background: #fff;z-index: 9999}
.zoomWrapperImage {width: 100%!important;height: 100% !important}
.zoomWrapperImage img {width: 870px;height: 870px}
.zoomPreload {height: 30px;width:30px;border-radius: 30px; background: url(https://azperfumes.vteximg.com.br/arquivos/gt-load.gif) no-repeat center center; position:absolute; left:50% !important; top:50% !important; margin-left:-15px; margin-top:-15px}
.informacoes-produto { position: relative; padding: 0 0 0 60px}

em.valor-de.price-list-price {}
.valor-de { font-size: 16px; color: #666}
.valor-de strong {font-weight: normal; font-family: "Times New Roman", Times, serif; text-decoration: line-through}
.valor-por { font-size: 16px}
.valor-por strong {font-weight: bold; font-family: "Times New Roman", Times, serif; font-size: 30px}
.valor-dividido {display: block !important;margin-top: 4px; color: #fff; font-size: 0}
.valor-dividido .skuBestInstallmentNumber:after {content: "\0020 de \0020"; font-size: 18px; color: #666; font-family: 'regular', sans-serif}
.valor-dividido .skuBestInstallmentNumber:before {content: "At\00E9 \0020"; font-size: 18px; color: #666; font-family: 'regular', sans-serif}
.valor-dividido .skuBestInstallmentValue, .valor-dividido .skuBestInstallmentNumber {font-family: 'bold', sans-serif;font-weight: normal;font-size: 18px;color: #666}
.msg-juros {font-size: 18px; color: #666}

.sku-selector-container {overflow: hidden;width: 100%}
ul.topic {overflow: hidden;float: left;padding: 10px 0}
ul.topic + ul.topic { margin: 0 0 0 20px}
ul.topic li.specification { display: none}
ul.topic li.select {overflow: hidden;padding: 6px 0}
ul.topic li.select span {width: 100%;display: block}
ul.topic li.select input {position: absolute;left: -300px;top: -300px; display: none}
ul.topic label {display: block;border: 1px solid #666;padding: 10px; cursor: pointer; text-align: center;width: 72px;float: left;height: 32px;margin: 2px;position: relative; box-sizing: border-box; font-size: 12px; font-family: 'bold', sans-serif; color: #666}
ul.topic label:hover { border-color: #000}
ul.topic label.sku-picked {border: 2px solid #000}
ul.topic label.sku-picked:before {position: absolute;top: -7px;left: 50%;margin-left: -8px;width: 0;height: 0;border-style: solid;border-color: transparent transparent #000 transparent;border-width: 0 5px 5px 5px;content: ""}
ul.topic label.item_unavaliable {cursor: default !important;position: relative; border: 1px solid #ccc !important;}
ul.topic label.item_unavaliable:after {content: "";display: block;position: absolute;right: 0;bottom: 0;width: 14px;height: 14px;background-image: url(https://azperfumes.vteximg.com.br/arquivos/bg-sku-sem-estoque.png) !important;background-position: -4px -3px !important; background-repeat: no-repeat;color: #4E4E4E}
ul.topic label.sku-picked.item_unavaliable:before { top: -6px; border-color: transparent transparent #ccc transparent }
ul.topic .sku-option-wrap {display: inline-block}

.sku-buy {padding: 20px 0}
.productBuy { padding: 20px 0 0; position: relative}
.action-buy.fretegratis:after { content: ""; width: 200px; height: 30px; background: #E3E9EC url(https://azperfumes.vteximg.com.br/arquivos/flag_freteGratis.jpg) no-repeat center; display: block}
.buy-button, .comprar-junto #lnkComprar {text-align: center;color: #fff;background: #00CD5E;transition: all 0.3s ease;font-size: 18px;font-weight: bold;font-family: "Times New Roman", Times, serif; width: 200px; padding: 16px 0; text-transform: uppercase;}
.buy-button:hover, .comprar-junto #lnkComprar:hover {background: #009D47}
.product-share { position: absolute; right: 0; bottom: -5px}
.product-share p { color: #666; font-size: 12px; line-height: 32px; padding: 0 10px 0 0}
.addthis_sharing_toolbox {clear: none !important; float: left}
.addthis_sharing_toolbox .at-svc-pinterest_share { display: none !important}
.addthis_sharing_toolbox .at-icon {fill: #A6A6A6}
.addthis_sharing_toolbox .at-share-tbx-element .at-share-btn { background-color: #fff !important}

.flPromocao {display: block !important}
.flPromocao p.flag {display: none}
.flPromocao p.flag.entrega_45_dias {text-align: center; padding: 13px; font-size: 18px; border: 4px solid #E1EAEB; margin: 10px 0}
.flPromocao p.flag.entrega_45_dias strong { font-weight: normal; font-family: 'bold', sans-serif; color: #0ca245}


.brinde_controle {clear: both}
.brinde_controle .product-gift-title { display: none}
.brinde_controle li.product-gift-item {display: block; overflow: hidden; position: relative; padding: 10px 130px 10px 200px; min-height: 72px;  border:4px solid #E1EAEB}
.brinde_controle li.product-gift-item:before { display: block; content: "GANHE BRINDE\0021"; font-size: 20px; height: 20px; top: 50%; margin-top: -10px; color: #0ca245; font-family: 'bold', sans-serif; position: absolute; left: 0; width: 190px; text-align: center}
.brinde_controle .gift-img-wrapper { position: absolute; right: 20px; width: 72px; height: 72px; top: 50%; margin-top: -36px}
.brinde_controle .gift-img-wrapper img { display: block; width: 100%; height: auto }
.brinde_controle .gift-product-name-wrapper { text-align: center; font-size: 14px; padding: 16px 0 0;line-height: 1.3}

.banner-top-mobile { display: none}
body.home .masterBannerTopBar { display: none !important}
.masterBannerTopBar { padding: 4px 0; border-bottom: 1px solid #B5B2B2}
.masterBannerTopBar .box-banner img { width: 100%; height: auto}


/*sanfona*/
.productDetalhes { margin: 20px 0 0; border-top: 1px solid #ddd }
.productDetalhes ul { }
.productDetalhes li.nav-prod { border-bottom: 1px solid #ddd}
.productDetalhes li a.sub-open { display: block; padding: 20px 0; text-transform: uppercase; font-family: 'bold', sans-serif; font-size: 18px; color: #000; position: relative}
.productDetalhes li a.sub-open:after { content: ""; display: block; width: 45px; height: 30px; position: absolute; top: 50%; margin-top: -15px; right: 0;transition: all 0.15s ease; background: url(https://azperfumes.vteximg.com.br/arquivos/gt-setas-prod.png) no-repeat 0 -30px}
.productDetalhes li a.sub-open.click-close:after { background-position: 0 0}
.productDetalhes .drop { display: none}
.productDetalhes .drop.gt-description { padding: 0 0 30px;}
.economia-de, .preco-a-vista {display: none !important}

.compra-fixa { padding: 10px 0; border-bottom: 1px solid #ddd; background: #fff; position: fixed; top: 101px; left: 0; width: 100%; display: none; z-index: 108}
.compra-fixa .wrap-1 { text-align: center}
.compra-fixa .line2 { text-align: left; display: inline-block}
.compra-fixa .cf-image { float: left; width: 70px; height: 70px}
.compra-fixa .cf-image img { width: 100%; height: auto; display: block}
.compra-fixa .cf-info { padding: 15px 40px 0 40px; float: left; min-width: 400px}
.compra-fixa .cf-info .cf-name { font-family: "Times New Roman", Times, serif; font-size: 18px; }
.compra-fixa .cf-info .cf-brand { padding: 6px 0 0; text-transform: uppercase; font-size: 12px; color: #999}
.compra-fixa .cf-buy { float: left; width: 160px; }
.compra-fixa .cf-buy a { display: block;text-align: center;color: #fff;background: #00CD5E;transition: all 0.3s ease;font-size: 18px;font-weight: bold;font-family: "Times New Roman", Times, serif; padding: 13px 0; margin: 8.5px 0; text-transform: uppercase}
.compra-fixa .cf-buy a:hover { background:#009D47}

@media only screen and (min-width:1198px) {
	body.top-fixed header { height: 170px }
	body.top-fixed #header {position: fixed;left: 0;top: 0;width: 100%;z-index: 180;background: #fff;border-bottom: 1px solid #ddd; display: none}
	body.top-fixed #header .logo { padding: 13px 0;margin: 0 0 0 100px}
	body.top-fixed #header .logo a img { height: 74px }
	body.top-fixed #header .selo16 {padding: 25px 0 25px 50px}
	body.top-fixed #header .search { padding: 25px 0 25px 40px; width: 408px}
	body.top-fixed #header .nav-user { padding: 30px 0}
	body.top-fixed .burger { display: block; z-index: 99}
	body.top-fixed .gt-categoria {position: fixed;left: 0;top: 101px;width: 100%; z-index: 180; display: none}
}


@media only screen and (max-width:1197px) {
	.wrap-1 { width: 100%; padding: 0 15px}
	.gt-categoria li.pai {width: 11.11%; text-align: center}
	.gt-categoria li a.pai { padding: 16px 0}
	.compra-fixa { top: 0}

}

@media only screen and (max-width:1170px) {
	.selo16 {padding: 35px 0 35px 50px}
	#header .logo { padding: 23px 0}
	#header .logo a img { height: 74px}
	.search { width: 380px; padding: 35px 0 35px 50px}
	.nav-user a.first { padding: 14px 14px 14px 24px}
	.ne-pitbar .col-left { width: 20% !important }
	.collection .ver-todos, .powered-by { right: 5px }
	.ne-footer-social { padding: 0 0 0 50px }
	.ne-footer-news { padding: 0 50px 0 20px}
}

@media only screen and (max-width:1030px) {
	.nav-user { display: none}
	.open-menu { display: block}
	#header .logo { margin: 0 0 0 100px}
	.compra-fixa { display: none !important}
	.gt-categoria {background: #fff;display: none;margin-top: 16px}
	.gt-categoria nav, body.home .gt-categoria {display: block}	
	.gt-categoria nav ul.all {border-top: 1px solid #999}
	.gt-categoria li.pai {display: block;width: 100%;border-bottom: 1px solid #999;background: none}
	.gt-categoria li a.pai {color: #000;text-align: center;font-size: 20px;padding: 14px 0;background: #fff url(/arquivos/seta-titulo.png) no-repeat 96% 0}
	.gt-categoria li a.click-close, .gt-categoria li:hover a.pai {background: #EBE9E9 url(/arquivos/seta-titulo.png) no-repeat 96% -96px !important}
	.nivel-1 {padding: 0;position: relative;left: auto;margin: 0 auto}
	.nivel-2 {width: 100%;padding: 15px 0 25px}
	.sub-menu {width: 100%;float: none;clear: both}
	.m-banner {display: none !important}

	.ne-footer-social { padding: 0 }
	.ne-footer-news { padding: 0 0 40px 0;}
	.ne-footer-news, .ne-footer-social { width: 588px; float: none; clear: both; border: none;margin: 0 auto}
	.ne-nav-footer .box { padding: 0}
	.ne-nav-footer .box + .box { padding: 0 0 0 20px}
	body.home footer { padding: 30px 0 0 }
}

@media only screen and (max-width:920px) {	
	/*.ne-pitbar .col-left { width: 25% !important }*/
	.ne-pitbar .col-left br { display: block }
	.search {position: relative;width: 100%;margin: 0 0 10px; float: none; clear: both; padding: 0}
	.selo16 { float: right}

	.informacoes-produto { padding: 0 0 0 30px}
}

@media only screen and (max-width:810px) {
	.phonebar li + li + li { display: none}

	.image-product, .informacoes-produto, .image-product .thumbs, .image-product #include { float: none; clear: both; width: auto}
	.image-product { width: 70% }
	.image-product .thumbs { padding: 10px 0; overflow: hidden}
	.image-product .thumbs li { float: left; box-sizing: border-box; width: 62px; height: 62px; padding: 0 5px 0 0; margin: 0}
	.image-product .thumbs.thumb-slider { padding: 10px 62px; position: relative; width: 310px; margin: 0 auto; height: 70px; overflow: hidden}
	.gt_proxima, .gt_anterior { width: 62px; height: 62px}
	.gt_proxima { left: auto; right: 0; top: 10px; bottom: auto;background: #fff url(/arquivos/thumb4.png) no-repeat center center; }
	.gt_anterior { top: 10px; bottom: auto;background: #fff url(/arquivos/thumb3.png) no-repeat center center}

	.informacoes-produto {padding:20px 0 0; width: auto}
	#TRUSTEDCOMPANY_widget_101381 { width: 100%; margin: 0}
}

@media only screen and (max-width:768px) {
	.ne-pitbar, .selo16 { display: none}
	#header .logo { padding: 18px 0; float: none; clear: both; margin: 0; width: 118px; margin: 0 auto}

	.banner-top-mobile { display: block}
	.ne-pitbar, .banner-top-desk { display: none}
	.gt-vitrine h3 { min-height: 70px; line-height: 1.1 }
	.gt-vitrine h3 a { font-size: 13px}
	.gt-vitrine .preco-por { font-size: 22px}
	.show-buy { display: block}
	.gt-vitrine li { padding: 2px}
	.gt-vitrine li .ct { padding: 2px; border: 1px solid #ddd}
	.show-buy a.add-cart { font-size: 16px}
	.show-buy a { width: 100px }
	.freteGratis { width: 100px; background-position: -15px 0}
	.gt-vitrine li .flags { top: 2px; right: 2px}
	.gt-vitrine li .flag.discount, .gt-top10 li .flag.discount { width: 46px; font-size: 10px; padding: 14px 0 6px}
	.gt-vitrine li .flag.discount span, .gt-top10 li .flag.discount span { font-size: 14px}
	.collection h2 { font-size: 22px; padding: 20px 0}
	.collection .ver-todos { font-size: 11px}
	.slick-prev { left:-15px}
	.slick-next { right: -15px}

	.ne-nav-footer .box + .box:before { height: 142px}
	.ne-nav-footer .box { width: 33.33%}
	.ne-nav-footer .box.atendimento { float: none; clear: both; width: auto; padding: 40px 0 0; overflow: hidden;text-align: center}
	.ne-nav-footer .box.atendimento:before { display: none !important}	
	.ne-nav-footer .atendimento p { display: inline-block; margin: 0 10px; text-align: left}

	.phonebar { width: 70%}
	.ne-chat { width: 30%; text-align: center}
	.ne-chat a { display: inline-block}
	.phonebar li strong span, .phonebar li.eq03 { display: none}
	.phonebar li { text-align: center; width: 50%}
	.phonebar li strong { display: inline-block; position: relative; padding: 0 0 0 25px}
	.phonebar li + li { border: none; padding:0; margin: 0}
	.phonebar li.eq01 strong:before, .phonebar li.eq02 strong:before { content: ""; display: block; position: absolute; left: 0; top: 50%; margin: -10px 0 0; width: 20px; height: 20px}
	.phonebar li.eq01 strong:before { background: url(/arquivos/if_whatsapp_386747.png) no-repeat}
	.phonebar li.eq02 strong:before { background: url(/arquivos/if_phone_telephone_call_279398.png) no-repeat}

	.gpr-marcas ul { float: none; clear: both; width: auto }
}

@media only screen and (max-width:620px) {
	.ne-nav-footer .atendimento p + p + p, .ne-nav-footer .box, .ne-footer-news { display: none}	
	.ne-nav-footer .box.atendimento { display: block; padding: 0}
	.ne-footer-social h3 { text-align: center; padding: 0 0 16px}
	.ne-footer-social { width: 265px}
	#footer { padding: 30px 0}
	.informacoes-legais { padding: 0}
	.powered-by { float: none; clear: both; width: auto; margin: 0; top: auto; right: auto; padding: 25px 0 10px; position: relative}
	.powered-by a { float: right; padding: 0 6px}
	.image-product { width: 90% }
	.action-buy { float: none; clear: both}
	.action-buy.fretegratis:after, .buy-button { width: 100%}
	.product-share {position: relative;clear: both;padding: 10px 0 0; float: right; right: auto; bottom: auto; display: none}
	.flPromocao p.flag.entrega_45_dias { font-size: 15px}
	.bread-crumb li {font-size: 12px;padding-right: 10px;margin-right: 2px}
	.all-brand, .image-product #include:after { display: none}
	.informacoes-produto .fn { font-size: 22px}
	.image-product #include #image {border: 1px solid #ddd}

}

@media only screen and (max-width:540px) {
	.image-product { width: 100%}
}

@media only screen and (max-width:480px) {
	
}

@media only screen and (max-width:360px) {
	.phonebar li.eq01 strong:before, .phonebar li.eq02 strong:before { display: none}
	.phonebar li strong { padding: 0}
	.ne-chat a span { display: none}
	.ne-chat a { padding: 0}
}

@media only screen and (max-width:320px) {
	
}