/*fixes*/
#content {width: 976px;}
.conteudo_abas {border: medium none; min-height: auto; padding-left: 236px; padding-right: 44px; width: 696px;}
.conteudo_abas:before,
.conteudo_abas:after {content: " "; /* 1 */ display: table; /* 2 */}
.conteudo_abas:after {clear: both;}
#prateleira_destaques_mes {display: none !important;}

/*general*/
body {background: url("Landing-Page_Final.jpg?v=38743475") no-repeat center top;}

/*header*/
#header_az {height: 539px; margin-bottom: 10px; position: relative; text-align: center; width: 100%;}

/*search*/
#busca_textos {background-color: #fff; clear: both; padding: 0 44px 30px;}
#busca_textos > div {float: none;}
#busca_textos fieldset {padding: 0}
#busca_textos label,
#busca_textos select {display: none;}
#busca_textos legend {color: #f1a900; display: block; font-size: 22px; margin-bottom: 10px; padding: 0; position: relative; width: 100%;}
#busca_textos legend:before {background-color: #fff; content: "Encontre os melhores presentes:"; left: 0; position: absolute; top: 0;}
#busca_textos .btn-buscar {background-color: #f1a900; border: 0 none; color: #fff; cursor: pointer; float: left; font-size: 18px; height: 38px; text-transform: uppercase; width: 197px;}
#busca_textos .fulltext-search-box {border: 1px solid #000; height: 36px; float: left; padding: 0 10px; width: 665px;}
.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all {width: 882px !important;}

/*tabs*/
#abas_home li,
.conteudo_abas > div {display: none;}
#abas_home li.active,
.conteudo_abas > div.active {display: inline-block;}
#abas_home {background-color: #fff; clear: both; height: 68px; margin: 0 auto; padding: 0; text-align: center; width: auto;}
#abas_home ul {float: right; margin: 0; width: 760px;}
#abas_home ul li {cursor: pointer; display: inline-block; float: none;}

/*advantages*/
.advantages-wrapper {background-color: #fff; clear: both; padding: 0 44px 30px; text-align: center;}
.advantages-wrapper .box-banner {display: inline-block;}
.advantages-wrapper .box-banner:first-child + div {margin: 0 8px;}

/*prateleira*/
.prateleira.vitrine:before,
.prateleira.vitrine:after {content: " "; /* 1 */ display: table; /* 2 */}
.prateleira.vitrine:after {clear: both;}

.prateleira ul li {margin: 0 30px;}
.prateleira ul li:hover {background-image: none;}
.prateleira .buy-button-normal a,
.prateleira .buy-button-normal a:hover {background: url("azp.buyButton-141x30.png") no-repeat; height: 30px; text-indent: -999em; width: 141px;}
.prateleira .buy-button-normal a:after,
.prateleira .buy-button-normal a:before {display: none;}

div.main p.searchResultsTime:first-child{
    padding-right: 8px;
    z-index: 2;
    width: 330px;
    margin-top: 10px;
    border-right: 1px solid #000;
    text-align: right;
}
div.main div.sub1 .orderBy{
    margin-left: 337px;
    margin-top: 2px;
    float: left;
}
.pager{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: #C7C7C7;
    border-bottom: 1px dashed #C7C7C7;
    border-top: 1px dashed #C7C7C7;
}

.pager {
  color: #c7c7c7;
  font-size: 12px;
  text-align: center;
}

.pager ul.pages{
    padding: 0px;
}
.pager ul.pages li{
    margin-right: 15px;
}
.pager ul.pages li.last,
.pager ul.pages li.first{
    display: none;
}
.pager ul.pages li.page-number{
    font-family: Arial, sans-serif;
    padding: 1px 4px 1px 4px;
}
.pager ul.pages li.pgCurrent{
    background: #000;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}
.pager ul.pages li.previous,
.pager ul.pages li.next{
    color: #067e00;
    text-transform: none;
}

.pager.top {
  border: medium none;
}

.pager.bottom {margin-bottom: 150px;}

.prateleira h2 {display: none;}

/*voltar ao topo*/
.back-to-top-wrapper {background: url("azp.bgBottom-1920x473.png") no-repeat center center; height: 473px; margin-top: -173px; position: relative; z-index: 10;}
.back-to-top-wrapper .container {height: 100%; margin: 0 auto; position: relative; width: 972px;}
.back-to-top-wrapper ._vtex_scrollup {bottom: 0 !important; position: absolute !important; right: 0 !important;}
.back-to-top-wrapper ._vtex_scrollup_btn {background: url("azp.backToTop-114x56.png") no-repeat!important; display: block !important; height: 56px !important; width: 114px !important;}
._vtex_scrollup_text {display: none;}

/*footer*/
#footer_az {background-color: #fff; margin-top: 0; padding-top: 0; width: 100%;}
#footer_az #content_footer #div_atendimento {border: medium none;}

/*sidebar*/
.sidebar-nav {display: block !important; left: 0; padding: 0 10px; position: absolute; top: 0; width: 216px;}
.sidebar-nav .brandFilter {display: none;}
.sidebar-nav h3,
.sidebar-nav h3 a,
.sidebar-nav h4,
.sidebar-nav h4 a
.sidebar-nav h5,
.sidebar-nav h5 a {color: #000; font-size: 18px; font-style: italic;}
.sidebar-nav h3,
.sidebar-nav h4,
.sidebar-nav h5{border-bottom: 1px dashed #000; margin: 0 0 10px; padding: 0 0 5px; font-weight: normal;}
.sidebar-nav h3:before,
.sidebar-nav h4:before,
.sidebar-nav h5:before {border-bottom: 5px solid transparent; border-left: 5px solid #000; border-top: 5px solid transparent; content: ""; display: inline-block; margin-left: 5px; margin-right: 5px;}
.sidebar-nav ul {border-bottom: 1px dashed #000; display: inline-block; margin: 0 0 7px; padding: 0 0 10px; width: 100%;}
.sidebar-nav li {display: block; margin-left: 20px;}
.sidebar-nav li a {color: #000; font-size: 15px;}
.sidebar-nav li a:hover {text-decoration: underline;}