.bannerFull {
	display: block;
	background: #1c1c1c;
	position: relative;
	/* top: -28px; */
	z-index: -1;
	padding-bottom: 36px;
}
.bannerFull img{
	width: 100%;
	height: auto;
	display: block
}
#bar-footer{
	margin-top: 0;
}
#gcontent{
	background: #1b1b1b;
}

.bread-crumb li a {
	color: #fff;
}
.bread-crumb li.last a {
	color: #ffb400;
}
.left-nav { display: none;}
.search-multiple-navigator h4:nth-of-type(1){display: none;}
.search-single-navigator h4:nth-of-type(1){display: none;}
.search-multiple-navigator {color:#fff;}
.lista-produtos {
    position: relative;
    float: right;
    width: 100% !important;
}
.left-nav .titulo-filtro {
	color: #ffb400;
	padding-left: 10px;
}
.left-nav .menu-departamento h5 {
	margin: 15px 0 6px 10px;
}
.left-nav .menu-departamento h5 {
	color: #fff;
}
.left-nav .menu-departamento label {
	color: #fff;
}
.left-nav .menu-departamento fieldset h5 + div {
	border: none;
}
.left-nav .menu-departamento fieldset {
	margin-bottom: 6px;
	border-top: 1px dashed #f3f3f3;
}
.left-nav .menu-departamento fieldset:nth-of-type(1) {border-top:none;}
.search-single-navigator h3 {
	color: #fff;
}
.left-nav .menu-departamento ul li a {
	color: #fff;
	font-size: 14px;
}
.search-single-navigator h5 {
	margin: 6px 0 6px 0px !important;
}
.search-single-navigator {
	padding-left: 16px;
}
.search-single-navigator h3 a {
	color: #fff;
}
.category .pager ul.pages li.pgCurrent {
	background: #ffffff none repeat scroll 0 0;
	color: #000;
}
.left-nav .menu-departamento ul li a:hover {
	background: none;
	text-indent: 10px;
}

.lista-produtos .searchResultsTime { display: none}
.lista-produtos .sub, .orderBy {clear:both; float:none}
.lista-produtos .sub  {padding: 28px 0 38px}
.lista-produtos .sub:before, .orderBy:before { display: table; content: ""}
.lista-produtos .sub:after, .orderBy:after { clear: both; display: table; content: ""}
.lista-produtos .orderBy label { display: block !important; color: #fff; font-size: 14px; padding: 8px 15px 8px 0; float: left}
.lista-produtos .resultado-busca-filtro select { font-size: 12px; width: 196px; float: left; padding: 6px; position: relative; left: auto; top: auto; right: auto; bottom: auto}
.category .resultado-busca-filtro { padding: 0; margin:0; float: left} 
.category .pager.top { position: absolute; top: 28px; right: 0}
.category .pager.top ul.pages { padding: 3px 0}
.blackfriday-2016 .pager ul.pages li.previous, .blackfriday-2016 .pager ul.pages li.next {color: #ffffff !important;}
.blackfriday-2016 .pager ul.pages li.previous.pgEmpty, .blackfriday-2016 .pager ul.pages li.next.pgEmpty { color: #777 !important}
.blackfriday-2016 .pager ul.pages li.pgCurrent {background: #ffffff !important;}


.bread-crumb {
    overflow: hidden;
    padding: 20px 0;
    z-index: 9999999999;
}



.category .pager ul.pages li.previous, .category .pager ul.pages li.next {
	color: #fff;
}
.resultado-busca-filtro select {
	cursor:pointer;
}
.category .pager.bottom{
    display: block;
    float: left;
    width: 100%;
}
.category .pager.bottom ul.pages {
    display: table;
    margin: 0 auto;
    float: none;
}
.blackFriday_fPreco{
	background: #1b1b1b;
	display: block;
	height: 80px;
	float: left;
	width: 100%;
	margin-top: -46px;
}
.blackFriday_fPreco h4{
	float: left;
	text-transform: uppercase;
	padding: 30px 0 26px;
	/* width: 20%; */
	font-size: 24px;
	letter-spacing: -.5px;
	color: #7f7f7f;
	font-family: "Times New Roman";
	font-weight: 100;
}
ul.filtroDescontos {
    width: 80%;
    float: right;
}
ul.filtroDescontos li {
	position: relative;
	/* width: 19.66%; */
	height: 60px;
	float: left;
	text-align: center;
	border-right: 1px dashed #4f4f4f;
	margin-top: 10px;
	padding: 0px 20px;
}
ul.filtroDescontos li:last-child {
	border-right:none;
}
ul.filtroDescontos li a{
	font-size: 32px;
	color:#fff;
	font-family: 'Times New Roman';
	padding: 14px 0px;
	display: inline-block;
	font-weight: bold;
}
ul.filtroDescontos li .current{
	display: none;
	position: absolute;
	top: 60px;
	width: 80%;
	height: 4px;
	left: 10%;
	background: #f7941d;
	margin: 0px auto;
}

@media(min-width: 800px){
	
	body.ate-50 ul.filtroDescontos li:nth-of-type(1) .current{display: block!important;}
	body.ate-100 ul.filtroDescontos li:nth-of-type(2) .current{display: block!important;}
	body.ate-150 ul.filtroDescontos li:nth-of-type(3) .current{display: block!important;}
	body.ate-200 ul.filtroDescontos li:nth-of-type(4) .current{display: block!important;}
	body.ate-250 ul.filtroDescontos li:nth-of-type(5) .current{display: block!important;}
	body.todos ul.filtroDescontos li:nth-of-type(6) .current{display: block!important;}
	
}

.blackfriday-2016 .gt-vitrine li .flag.discount {background: #f7941d;width: 80px;height: 80px;box-sizing: border-box;line-height: 15px;display: block;position: absolute;top: 0px;right: 0px;border-radius: 64px;font-family: 'bold', sans-serif;font-size: 13px;padding-top: 30px;}
.blackfriday-2016 .gt-vitrine li .flag.discount span{color: #fff;font-size: 18px;}
.lista-produtos .bread-crumb { padding: 8px 0; width: 280px; float: left}
body.category #voltartopo { bottom: 0 !important}

.gt-vitrine.prateleira ul{float: none}
.gt-vitrine.prateleira {clear: both}


@media (min-width:1280px) {

}

@media (min-width:810px) {
	
}

@media (min-width:630px) {
	
}

@media (max-width:1180px) {
	.blackFriday_fPreco h4 {font-size: 20px; padding: 33px 0 27px;}
	ul.filtroDescontos li a {    padding: 16px 0px; font-size: 28px}

	.flags .flag.discount {
		right: -20px;
	}

	
}
@media (max-width:1020px) {
	.blackFriday_fPreco h4 {font-size: 18px; padding: 34px 0 28px;}
	ul.filtroDescontos li a {    padding: 17px 0px; font-size: 26px}
}

@media (max-width: 920px) {
	
}

@media (max-width: 810px) {
	
	.lista-produtos .orderBy label, .bread-crumb { display: none !important}
	.category .resultado-busca-filtro { float: none; clear: both; }
	.lista-produtos .resultado-busca-filtro select { box-sizing: border-box; width: 100% }
	.category .pager.top { position: relative;top: auto;right: auto}
	.category .pager.top ul.pages {float: none;clear: both;padding: 0 0 20px;width: 260px;margin: 0 auto}
	.lista-produtos .sub { padding: 28px 0}

	ul.filtroDescontos {
    	width: 100%;
    	float: right;
    	margin: -10px auto;
	}
/*	ul.filtroDescontos li {
    	height: 80px;
	}*/
	ul.filtroDescontos li a {
    	font-size: 22px;
	}
	ul.filtroDescontos li .current {
		display: none;
		top: 70px;
		left: 40%;
	}
	.blackFriday_fPreco h4 {
		margin:10px auto;
		text-align: center;
		padding:0;
		width: 100%;
	}
	.blackFriday_fPreco {
		height: 123px;
	}
	.flags .flag.discount {
		right: 0;
	}
	.bread-crumb{
		float: left;
	}
	.resultado-busca-filtro {
		margin: 0px auto 0px 0;
	}
}

@media (max-width: 740px) {
.resultado-busca-filtro select {
		float: none;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px 0;
	}
}

@media (max-width: 690px) {

}

@media (max-width: 540px) {

}



@media (max-width: 362px) {
	
}

@media (max-width: 326px) {
	
}

body.category.blackfriday-2016 .lista-produtos .gt-vitrine li {width: 24%;	margin: 0.5% !important;padding: 10px;min-height: 500px}
/*
body.category.blackfriday-2016 .gt-vitrine li:hover {
	border-color:#ffb400;
}
*/
body.category.blackfriday-2016 .show-buy a.add-cart {
    background: #ffb400;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
@media(min-width: 768px){ 

}

@media(max-width: 810px){
	body.category.blackfriday-2016 .lista-produtos .gt-vitrine li {width: 32%}
}

@media(max-width: 620px){
	body.category.blackfriday-2016 .lista-produtos .gt-vitrine li {width: 49%}
	.fix {
		margin: 10px 0px;
		width: 100%;
	}
}

@media (max-width: 480px) {
	body.category.blackfriday-2016 .lista-produtos .gt-vitrine li .show-buy a, body.category.blackfriday-2016 .lista-produtos .gt-vitrine li .freteGratis { width: 148px }
	body.category.blackfriday-2016 .lista-produtos .gt-vitrine li .freteGratis { background-position: center }
	body.category.blackfriday-2016 .lista-produtos .gt-vitrine li img { height: 210px; width: auto}
	body.category.blackfriday-2016 .lista-produtos .gt-vitrine li {width: 99%; min-height: 480px}
	ul.filtroDescontos li {
		position: relative;
		width: 100%;
		height: 60px;
		border-right: none;
		border-bottom: 1px dashed #c28900;
		padding: 0px;
	}
	.blackFriday_fPreco {
	    height: initial;
	}
	ul.filtroDescontos li .current {
	    top: 20px;
	    left: -15px;
	    transform: rotate(90deg);
	}
}

section.master.sessao-duvidas-black {
    background: #1b1b1b;
    color: #7f7f7f;
	padding: 45px 0px 70px 0px;
}
section.master.sessao-duvidas-black h4 {
	text-align: center;
	margin: 10px 0px;
	text-transform: uppercase;
	font-size: 30px;
	font-family: "Times New Roman";
	color: #fff;
	padding-bottom: 50px;
	font-weight: 100;
}
section.master.sessao-duvidas-black .contexto-box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
section.master.sessao-duvidas-black .linha-sessao-friday {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-top: 1px solid #000;
    margin: 20px 0px 35px 0px;
}
section.master.sessao-duvidas-black .contexto-box .box {
    max-width: 30%;
}
section.master.sessao-duvidas-black .contexto-box .box h3 {
    font-family: bold,sans-serif;
    color: #fff;
	margin-bottom: 15px;
	letter-spacing: 0.5px;
}
section.master.sessao-duvidas-black .contexto-box .box p strong {
    font-weight: bold;
}
section.master.sessao-duvidas-black .contexto-box .box p {
    line-height: 14px;
}
section.master.sessao-duvidas-black .div-percent {
    background: #000;
    padding: 8px;
    border-radius: 100px;
    color: #898989;
    position: relative;
    top: -13px;
}
.p-total-page {
    display: none !important;
}
.pager.top {
    display: none !important;
}
.category.blackfriday-2016 .pager ul.pages li.page-number {
    background: #535353;
}
.bread-blackfriday {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bread-blackfriday .box:last-child{
	color: #fff;
}

.fix {
    display: flex;
    align-items: center;
    justify-content: center;
}

select#O {
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
    margin-right: 5px;
}

@media(max-width: 760px){
	section.master.sessao-duvidas-black .contexto-box {
		flex-wrap: wrap;
	}
	.bread-blackfriday {
		margin: 20px 0px;
	}
	section.master.sessao-duvidas-black .contexto-box .box {
		max-width: 100%;
		padding: 12px 10px;
		box-sizing: border-box;
	}
	.whats-img {
		margin-bottom: 40px;
	}
}

@media(max-width: 1020px){
	.bannerFull {
		display: none;
	}
	
	.ext.blackFriday_fPreco {
		margin: 0px;
	}
}