.bannerFull {
	display: block;
	background: #d7d7d7;
	max-width: 100%;
}
.bannerFull img{
	width: 100%;
	height: auto;
	display: block;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e57898+0,febaca+100 */
background: #febaca; /* Old browsers */
background: -moz-linear-gradient(top, #e57898 0%, #febaca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e57898 0%,#febaca 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e57898 0%,#febaca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57898', endColorstr='#febaca',GradientType=0 ); /* IE6-9 */
}
#bar-footer{
	margin-top: 0;
}
#gcontent{
background: #ffbaca; /* Old browsers */.bannerFull img
background: -moz-linear-gradient(top, #ffbaca 0%, #fcf0f3 27%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffbaca 0%,#fcf0f3 27%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffbaca 0%,#fcf0f3 27%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbaca', endColorstr='#fcf0f3',GradientType=0 ); /* IE6-9 */
}

.bread-crumb li a {
	color: #fff;
}
.bread-crumb li.last a {
	color: #d53c58;
}
.left-nav { display: none;}
.search-multiple-navigator h4:nth-of-type(1){display: none;}
.search-single-navigator h4:nth-of-type(1){display: none;}
.search-multiple-navigator {color:#fff;}
.lista-produtos {
    position: relative;
    float: right;
    width: 100% !important;
}
.left-nav .titulo-filtro {
	color: #d53c58;
	padding-left: 10px;
}
.left-nav .menu-departamento h5 {
	margin: 15px 0 6px 10px;
}
.left-nav .menu-departamento h5 {
	color: #fff;
}
.left-nav .menu-departamento label {
	color: #fff;
}
.left-nav .menu-departamento fieldset h5 + div {
	border: none;
}
.left-nav .menu-departamento fieldset {
	margin-bottom: 6px;
	border-top: 1px dashed #f3f3f3;
}
.left-nav .menu-departamento fieldset:nth-of-type(1) {border-top:none;}
.search-single-navigator h3 {
	color: #fff;
}
.left-nav .menu-departamento ul li a {
	color: #fff;
	font-size: 14px;
}
.search-single-navigator h5 {
	margin: 6px 0 6px 0px !important;
}
.search-single-navigator {
	padding-left: 16px;
}
.search-single-navigator h3 a {
	color: #fff;
}
.category .pager ul.pages li.pgCurrent {
	background: #d53c58 none repeat scroll 0 0;
	color: #fff;
}
.left-nav .menu-departamento ul li a:hover {
	background: none;
	text-indent: 10px;
}

.lista-produtos .searchResultsTime { display: none}
.lista-produtos .sub, .orderBy {clear:both; float:none}
.lista-produtos .sub  {padding: 28px 0 38px}
.lista-produtos .sub:before, .orderBy:before { display: table; content: ""}
.lista-produtos .sub:after, .orderBy:after { clear: both; display: table; content: ""}
.lista-produtos .orderBy label { display: block !important; color: #fff; font-size: 14px; padding: 8px 15px 8px 0; float: left}
.lista-produtos .resultado-busca-filtro select { font-size: 12px; width: 196px; float: left; padding: 6px; position: relative; left: auto; top: auto; right: auto; bottom: auto}
.category .resultado-busca-filtro { padding: 0; margin:0; float: left} 
.category .pager.top { position: absolute; top: 28px; right: 0; display: none;}
.category .pager.top ul.pages { padding: 3px 0}
.blackfriday-2016 .pager ul.pages li.previous, .blackfriday-2016 .pager ul.pages li.next { color: #d53c58 !important }
.blackfriday-2016 .pager ul.pages li.previous.pgEmpty, .blackfriday-2016 .pager ul.pages li.next.pgEmpty { color: #777 !important}
.blackfriday-2016 .pager ul.pages li.pgCurrent { background: #d53c58 !important }


.bread-crumb {
    overflow: hidden;
    padding: 20px 0;
    z-index: 9999999999;
}



.category .pager ul.pages li.previous, .category .pager ul.pages li.next {
	color: #000;
}
.resultado-busca-filtro select {
	cursor:pointer;
}
.category .pager.bottom{
    display: block;
    float: left;
    width: 100%;
}
.category .pager.bottom ul.pages {
    display: table;
    margin: 0 auto;
    float: none;
}
.blackFriday_fPreco{
	background: 0 0;
    display: block;
    height: 80px;
    float: left;
    width: 100%;
    margin: -85px 0 0 0;
}
.blackFriday_fPreco h4{
	float: left;
    text-transform: uppercase;
    padding: 30px 0 0;
    width: 20%;
    font-size: 28px;
    letter-spacing: -.5px;
    color: #d53c58;
    margin-left: 68px;
    font-weight: bold;
}
ul.filtroDescontos {
    width: 80%;
    float: right;
    margin-top: -50px;
    /* height: 50px !important; */
    text-align:  center;
    vertical-align: middle !important;
}
ul.filtroDescontos li {
	position: relative;
	width: 15.66%;
	height: 45px;
	float: left;
	text-align: center;
	border-right: 1px dashed #D70A32;
	margin-top: 10px;
	text-transform: uppercase;
	vertical-align: middle !important;
}
ul.filtroDescontos li:last-child {
	border-right:none;
}
ul.filtroDescontos li a{
	font-size: 32px;
	color: #000;
	font-family: 'Times New Roman';
	padding: 8px 0;
	display: inline-block;
	font-weight: bold;
	vertical-align: middle !important;
}
ul.filtroDescontos li a:hover {
    color: #d53c58;
    text-decoration: underline;
}
/*ul.filtroDescontos li .current{
	display: none;
    position: absolute;
    top: 60px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
    left: 60px;
}*/
body.todos ul.filtroDescontos li:nth-of-type(1) .current{display: block!important;}
body.ate-40 ul.filtroDescontos li:nth-of-type(2) .current{display: block!important;}
body.ate-80 ul.filtroDescontos li:nth-of-type(3) .current{display: block!important;}
body.ate-120 ul.filtroDescontos li:nth-of-type(4) .current{display: block!important;}
body.outros ul.filtroDescontos li:nth-of-type(5) .current{display: block!important;}

.blackfriday-2016 .gt-vitrine li .flag.discount {background: url(/arquivos/bf2017_flag-desconto.png) !important; width: 70px; height: 106px;padding-top: 62px;box-sizing: border-box;line-height: 15px;display: block;position: absolute;top: -18px;right: 0px;border-radius: 0px;font-family: 'bold', sans-serif;font-size: 13px}
.blackfriday-2016 .gt-vitrine li .flag.discount span{color:#d53c58; font-size: 18px}
.lista-produtos .bread-crumb { padding: 8px 0; width: 280px; float: left}
body.category #voltartopo { bottom: 0 !important}

.gt-vitrine.prateleira ul{float: none}
.gt-vitrine.prateleira {clear: both}


@media (min-width:1280px) {

}

@media (min-width:810px) {
	
}

@media (min-width:630px) {
	
}

@media (max-width:1180px) {
	.blackFriday_fPreco h4 {font-size: 20px; padding: 33px 0 27px;}
	ul.filtroDescontos li a {    padding: 16px 0px; font-size: 28px}

	.flags .flag.discount {
		right: -20px;
	}

	
}
@media (max-width:1020px) {
	.blackFriday_fPreco h4 {font-size: 18px; padding: 34px 0 28px;}
	ul.filtroDescontos li a {    padding: 17px 0px; font-size: 26px}
}

@media (max-width: 920px) {
	
}

@media (max-width: 810px) {
	
	.lista-produtos .orderBy label, .bread-crumb { display: none !important}
	.category .resultado-busca-filtro { float: none; clear: both; }
	.lista-produtos .resultado-busca-filtro select { box-sizing: border-box; width: 100% }
	.category .pager.top { position: relative;top: auto;right: auto}
	.category .pager.top ul.pages {float: none;clear: both;padding: 0 0 20px;width: 260px;margin: 0 auto}
	.lista-produtos .sub { padding: 28px 0}

	ul.filtroDescontos {
    	width: 100%;
    	float: right;
    	margin: -10px auto;
	}
/*	ul.filtroDescontos li {
    	height: 80px;
	}*/
	ul.filtroDescontos li a {
    	font-size: 22px;
	}
	ul.filtroDescontos li .current {
		display: none;
		top: 70px;
		left: 40%;
	}
	.blackFriday_fPreco h4 {
		margin: 85px 0 0 0;
		text-align: center;
		padding:0;
		width: 100%;
	}
	.blackFriday_fPreco {
		height: 123px;
	}
	.flags .flag.discount {
		right: 0;
	}
	.bread-crumb{
		float: left;
	}
	.resultado-busca-filtro {
		margin: 0px auto 0px 0;
	}

	div#ResultItems_46527892{
		padding: 140px 0 0 0 !important;
	}
	.lista-produtos .gt-vitrine li {
    width: 50%;
    height: 291px;
	}
	.gt-vitrine.prateleira {
    clear: both;
    margin-top: 152px;
	}
	.bannerFull img {
    width: 100%;
    height: auto;
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e57898+0,febaca+100 */
background: #febaca; /* Old browsers */
background: -moz-linear-gradient(top, #e57898 0%, #febaca 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e57898 0%,#febaca 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e57898 0%,#febaca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e57898', endColorstr='#febaca',GradientType=0 ); /* IE6-9 */
	}
}
div#ResultItems_46527892 {
    padding: 15px 0 0 0;
}
@media (max-width: 740px) {
.resultado-busca-filtro select {
		float: none;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px 0;
	}
}

@media (max-width: 690px) {

}

@media (max-width: 540px) {

}



@media (max-width: 362px) {
	
}

@media (max-width: 326px) {
	
}

body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li {width: 24%;	margin: 0.5% !important;padding: 10px;min-height: 500px; background: #fff;}
/*
body.category.diadosnamorados2018 .gt-vitrine li:hover {
	border-color:#d53c58;
}
*/
body.category.diadosnamorados2018 .show-buy a.add-cart {
    background: #d53c58;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
@media(min-width: 768px){ 

}

@media(max-width: 810px){
	body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li {width: 32%}
}

@media(max-width: 620px){
	body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li {width: 49%}
}

@media (max-width: 480px) {
	body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li .show-buy a, body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li .freteGratis { width: 148px }
	body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li .freteGratis { background-position: center }
	body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li img { height: 210px; width: auto}
	body.category.diadosnamorados2018 .lista-produtos .gt-vitrine li {width: 99%; min-height: 480px}
	ul.filtroDescontos li {
		position: relative;
		width: 100%;
		height: 60px;
		border-right: none;
		border-bottom: 1px dashed #D70A32;
	}
	.blackFriday_fPreco {
	    height: 382px;
	    background: #ffbaca;
	}
	ul.filtroDescontos li .current {
	    top: 20px;
	    left: -15px;
	    transform: rotate(90deg);
	}

}
.p-total-page {
    padding: 0 0;
    float: left;
    display: none;
}
.gt-vitrine li .flag.discount, .gt-top10 li .flag.discount {
    width: 60px;
    text-align: center;
    font-size: 12px;
    background: url(/arquivos/coracao.png) no-repeat;
    padding: 15px 20px 24px 10px;
    color: #fff;
    display: block;
    margin: 0px -7px 0 0;
}
.gt-vitrine li .flag.discount span, .gt-top10 li .flag.discount span {
    display: block;
    font-size: 16px;
    font-family: 'bold', sans-serif;
    letter-spacing: -1px;
    padding: 0 0 2px;
    color: #ffb500 !important;
}
.show-buy a.add-cart {
    background: #d53c58;
    padding: 10px 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.show-buy a.add-cart:hover {
    background: #c82f4b;
}
.gt-vitrine li {
    float: left;
    width: 25%;
    background: 0 0;
    text-align: center;
    margin: 0 0 30px;
    padding: 0 0 0 17px;
}
.gt-vitrine li .ct {
    border: 1px solid #fff;
    padding: 10px;
    position: relative;
    background: #fff;
    height: 456px;
}
.gt-vitrine li .flags {
    position: absolute;
    top: -3px;
    right: -3px;
    background: url(/arquivos/coracao.png) no-repeat;
    background-color: 0 0;
}
li.perfumaria {
    padding: 0 0 0 17px;
}

.show-buy {
    background: #fff;
    bottom: 0px;
}