.info-catalogo { float: left; padding: 6px 0 }
.pager-catalogo { overflow: hidden; float: right}
.gt-pages {overflow: hidden}
.gt-pages a { display: block; float: left; color: #000;border-radius: 50%;width: 24px}
.gt-pages a.pager { font-family: Arial,sans-serif;text-align: center;background: #eee;margin: 0 4px;line-height: 24px}
.gt-pages a.pager.active {background: #000;color: #fff}
.gt-pages a.last-page, .gt-pages a.first-page {height: 24px; text-align: center; line-height: 24px; font-weight: bold; font-weight: bold}
.gt-pages a.inativo { color: #ccc; background: #fff !important; cursor: default}
.orderby-catalogo { padding: 0 0 15px; overflow: hidden}
.orderby-catalogo #gt-order { float: right;border: 1px solid #E6E6E6;outline: 0;font-size: 13px;padding: 6px;color: #666;background: #fff;text-transform: uppercase}
.gt-load-2 .content-catalogo { opacity: .5;background:url(/arquivos/gt-load.gif) no-repeat top left}
.content-catalogo { padding: 15px 0}
.content-catalogo:after, .top-catalogo:after { content: ""; display: block; clear: both; float: none}
.top-catalogo { padding: 0 0 15px; border-bottom: 1px solid #ddd; margin: 0 0 5px }
.catalogo-vazio {text-align: center;padding: 40px 0 15px;font-size: 18px;color: #666}
.catalogo-vazio strong {display: block;font-size: 40px;padding: 0 0 10px;color: #6C6}
.result-page .searchResultsTime, .result-page .sub, .result-page div.pager.top, .result-page .pager.bottom { display: none !important}