body { top: 0px !important; /* background: url(/arquivos/bk.png) no-repeat 14px 1px; */}
.tpl-main > .tpl-container {padding: 0 10px;width: 970px;position: relative;z-index: 999999;}
.add2cart-loading {background:url(/arquivos/mascote-animado.gif) no-repeat right bottom transparent;height:115px;width:115px;position:fixed;z-index:999;right:10px;bottom:10px;}

/* Product-image
---------------------------------------- */
.product-wrapper {}
.product-image-container {float:left; width:357px;}
.product-image-container #include {height:357px; margin-right:12px; text-align:center; width:357px;}
.product-image-container #image {height:357px; width:357px;/*border:1px solid #cccccc;*/}
.product-image-container #image a,
.product-image-container #image img {height:357px !important; width:357px !important;}
.product-image-container #image .zoomWrapperImage img {height:1261px !important; width:1261px !important;}
.product-info-container {float: left;width: 603px;margin-left: 10px;}
#show:before, #show:after {content:""; display:table;}
#show:after {clear:both;} #show{*zoom: 1;}
#show .thumbs{}
.no-thumbs-selection #show .thumbs{display: none;}
/*
.zoomPup,
.zoomWindow {display: none !important;}*/

/* CSS DE ZOOM custom */
/* jQuery Zoom - picture zoom*/
.zoomPad{position:relative; float:left; z-index:99; cursor:crosshair;}
.zoomPreload{-moz-opacity:0.8; opacity: 0.8; filter: alpha(opacity = 80); color: #333; font-size: 12px; font-family: Tahoma; text-decoration: none; border: 1px solid #CCC; background-color: white; padding: 8px; text-align:center; background-image: url(/arquivos/zoomloader.gif); background-repeat: no-repeat; background-position: 43px 30px; z-index:110; width:90px; height:43px; position:absolute; top:0px; left:0px; * width:100px; * height:49px; }
.zoomPup{overflow:hidden; background-color: #FFF; -moz-opacity:0.6; opacity: 0.6; filter: alpha(opacity = 60); z-index:120; position:absolute; border:1px solid #CCC; z-index:101; cursor:crosshair; min-height: 50px; }
.zoomOverlay{position:absolute; left:0px; top:0px; background:#FFF; z-index:5000; width:100%; height:100%; display:none; z-index:101; }
.zoomWindow{position:absolute; left:110%; top:40px; background:#FFF; z-index:6000; height:auto; z-index:10000; z-index:110; }
.zoomWrapper{position:relative; border:1px solid #999; z-index:110; }
.zoomWrapperTitle{display:block; background:#999; color:#FFF; height:18px; line-height:18px; width:100%; overflow:hidden; text-align:center; font-size:10px; position:absolute; top:0px; left:0px; z-index:120; -moz-opacity:0.6; opacity: 0.6; filter: alpha(opacity = 60); } 
.zoomWrapperImage{display:block; position:relative; overflow:hidden; z-index:110; height: 400px !important; }
.zoomWrapperImage img{border:0px; display:block; position:absolute; z-index:101; }
.zoomIframe{z-index: -1; filter:alpha(opacity=0); -moz-opacity: 0.80; opacity: 0.80; position:absolute; display:block; }
/* ajuste no painel do zoom */
.zoomPad{z-index:1;}
.zoomWindow{left: 364px !important; top:-1px !important;}
.zoomWrapperImage, .zoomWrapper {height: 410px !important; width: 605px !important;}


/* Thumbs
---------------------------------------- */
.thumbs {width: 5000px;display: none;}
.thumbs li {float: left;margin-right: 5px;}
.thumbs li:first-child {}
.thumbs li a {border: 1px solid #FFF; display:block; height:50px; text-align:center; width:50px;}
.thumbs li a img{height:50px; width:50px;border:1px solid #cccccc;}
/*.thumbs li a:hover,
.thumbs li a.ON {padding-right: 7px;width: 55px;}
.thumbs li a:hover img,
.thumbs li a.ON img{}*/

.tpl-thumbs-carousel .thumbs {display: block !important;height: 55px !important;width: 5000px;}
.tpl-thumbs-carousel {height: 75px; overflow: hidden; width: 356px;}
.jcarousel-clip {height: 55px !important; margin: 0 30px; overflow: hidden; }
.jcarousel-prev, .jcarousel-next {height: 55px; position: absolute; top: 0; width: 25px;background-image: url(/arquivos/nav-thumbs.png); background-repeat:no-repeat;cursor: pointer;}
.jcarousel-prev {float: left;background-position:10px 21px;}
.jcarousel-next {float: right;right: 0;background-position:-90px 21px;}

/* compartilhe
---------------------------------------- */
.tpl-share-links {margin-bottom: 20px;}

/* product title
---------------------------------------- */
.tpl-product-name {}
.tpl-product-name h1 {font-size: 18px; line-height: 26px; font-weight: normal; color: #3c3c3c;margin-bottom: 0;text-transform: none;}

/* evaluation rate top
---------------------------------------- */
.tpl-evaluation-rate {padding-bottom: 10px;}
.tpl-evaluation-rate strong {display: none;}
.tpl-evaluation-rate *{color: #666; float: left; font-size: 11px; line-height: 18px;}
.tpl-evaluation-rate .rating-produto{margin-right: 8px;}
.tpl-evaluation-rate .i-want-to-rate{cursor: pointer; text-decoration: underline;} 
.tpl-evaluation-rate .i-want-to-rate:hover{text-decoration: none;}
.tpl-evaluation-rate .i-want-to-rate +span{padding: 0 4px;}

/* brand + cod ref
---------------------------------------- */
.tpl-ref-container {margin-right: 5px;}
.tpl-brand-ref-container * {display: inline-block;}
.tpl-brand-container {display: none;}
.tpl-brand-container .cod {margin-right: 5px;}

/* product sku list
---------------------------------------- */
.tpl-skulist,
.tpl-sku-selection {display: none;float: left;width: 370px;}
.tpl-sku-selection.active {display: block;}
.tpl-sku-selection div.skuList {display: table;}
.tpl-sku-selection div.skuList > div {display: table-cell;}
.tpl-sku-selection div.skuList {float: left;border: 1px solid #CECECE;border-width:0 0 1px 0;position: relative;width: 365px;min-height: 40px;}
.tpl-sku-selection div.skuList:first-child {border-width:1px 0 1px 0;}
.tpl-sku-selection div.skuList .imageSku {float: left;margin:5px 0;width: 110px;height: 110px;}
.tpl-sku-selection div.skuList .imageSku img{width: 110px;height: 110px;}
.tpl-sku-selection div.skuList .imageSku img{display: none;}
.tpl-sku-selection div.skuList.show-thumb .imageSku img{display: block;}
.tpl-sku-selection div.skuList .nomeSku {display: inline-block;margin: 10px 0;width: 185px;font-size: 11px;}
.tpl-sku-selection div.skuList .nomeSku .ref {font-size: 10px; font-weight: bold;display: none;}
.tpl-sku-selection div.skuList .preco {display: inline-block;margin: 8px 0 0 15px;width: 110px;}
.tpl-sku-selection div.skuList .preco .valor-de {float: none;font-size: 12px;line-height: 14px;text-transform: lowercase;}
.tpl-sku-selection div.skuList .preco .valor-de strong {text-transform: none;}
.tpl-sku-selection div.skuList .preco .valor-por strong {font-weight: normal;}
.tpl-sku-selection div.skuList .preco > br,
.tpl-sku-selection div.skuList .preco .valor-dividido br:first-child {display: none;}
.tpl-sku-selection div.skuList .preco em {display: block; font-size: 14px; font-style: normal; font-weight: normal; margin: 0; padding: 0;}
.tpl-sku-selection div.skuList .preco .valor-dividido strong {color: #993333;font-weight: bold;font-size: 16px;}
.tpl-sku-selection div.skuList .buy-button {background-image: url("/arquivos/add2cart-btn.jpg?201402252248");background-repeat:no-repeat; display: none; float: right; height: 20px; margin: 10px 0; right: 20px; text-indent: -9999px; width: 92px; }
.tpl-sku-selection div.skuList .seller-data,
.tpl-sku-selection div.skuList > a:last-child {display: none;}
.tpl-sku-selection div.skuList .notifyme-form {display: none !important;}
.tpl-sku-selection div.skuList .success,
.tpl-sku-selection div.skuList .error {display: none !important;}
.tpl-sku-selection div.skuList .notifyme {border: medium none; float: right; position: absolute; right: 10px; text-align: right; top: 11px; }
.tpl-sku-selection div.skuList .notifyme-title {background: url("/arquivos/esgotado-sku-btn.png") no-repeat center center; color: #FFFFFF; height: 18px; text-align: center; text-indent: -9999px; text-transform: lowercase; width: 100px; }

.tpl-sku-selection div.skuList .qty-container {display: inline-block;position: absolute;margin: 5px 15px 0 0;float: right;right: 0;top: 0;}
/*.tpl-sku-selection div.skuList .qty-container {display:none;}*/
.tpl-sku-selection div.skuList .qty-minus,
.tpl-sku-selection div.skuList .qty-plus {background: url(/arquivos/minus-plus.png) no-repeat 0 0;display: inline-block;width: 11px;height: 11px;cursor: pointer;display: none;}
.tpl-sku-selection div.skuList .qty-minus {margin-right: 4px;}
.tpl-sku-selection div.skuList .qty-plus {margin-left: 4px;background-position: 0 -100px;}
.tpl-sku-selection div.skuList .qty-box {text-align: center; width: 15px;}

.tpl-sku-selection div.skugroup {background: none repeat scroll 0 0 #000000; color: #FFFFFF; float: left; padding:7px 5px 6px; width: 360px;}
.tpl-sku-selection div.skugroup span {display: inline-block;text-transform: uppercase;}
.tpl-sku-selection div.skugroup .section {width: 193px;}
.tpl-sku-selection div.skugroup .val {width: 105px;}
.tpl-sku-selection div.skugroup .qt {width: 62px;text-align: center;}
/*.tpl-sku-selection div.skugroup .qt {display: none;}*/

.tpl-checkout-btn-container {}
.tpl-checkout-btn {background: rgb(1, 153, 52); cursor: pointer; display: inline-block; height: 47px; margin: 12px 0 10px 0; width: 175px; color: white;font-size: 15px;text-transform: uppercase;font-weight: bold;line-height: 46px;padding: 0 0 0 25px;text-decoration: none !important;overflow: hidden;}
.tpl-checkout-btn:after {content:"\25B6";float:right;padding:0px 10px 1px;background:#008a2a;}

.seller-data {display: none !important;}

/* Extra info
---------------------------------------- */
.taxa-admin {background: url("/arquivos/extra-info-lbls.png") no-repeat scroll 0 0 transparent; float: left; height: 84px; margin: 170px 0 10px 10px; width: 220px; } 
.subtotal-container {float: right;background: #f0f0f0;text-align: center;padding: 7px 0 0 0;height: 30px;width: 308px;margin-top: 10px;display: none;}
.subtotal-container em {font-style: normal;}
.subtotal-container .price{color: #cb071f;font-weight: bold;font-size: 16px;}



.tpl-extra-info-buttons {float: left;}
.tpl-extra-info-buttons > a {display: inline-block;width: 75px;height: 22px;cursor: pointer;}
.tpl-extra-info-buttons .duvidas {background: url(/arquivos/extra-info-lbls.png) no-repeat 0 -89px;margin: 0 0 0 10px;width: 220px;height: 39px;}
.tpl-extra-info-buttons .indique {background: url(/arquivos/indique-btn.png) no-repeat 0 0;display: none;}

.extra-info-container {padding-top: 20px;}
.extra-info-container .share {}
.extra-info-container .share > div{float: left;}

/* alteracoes lista sku sem thumbnail
---------------------------------------- */
.no-thumbs .tpl-sku-selection div.skuList .imageSku {display: none;}
.no-thumbs .tpl-sku-selection > div.skuList .nomeSku {width: 305px;}

.tpl-sku-selection div.skuList .preco .valor-dividido {display: none;}

/* Descricao
---------------------------------------- */
.description-tabs .tab {float: left;font-family: "tenby_fiveregular",Arial,sans-serif; font-size: 19px; margin-bottom: 8px; margin-right: 4px; padding-bottom: 10px; text-align: center; text-transform: lowercase; width: 161px; }
.description-tabs .tab a {border-bottom: 2px solid #999999; color: #999999; display: inline-block; line-height: 27px; width: 100%;cursor: pointer;text-decoration: none; }
.description-tabs .tab.active {background: url("/arquivos/arrow-down.png") no-repeat scroll center 29px transparent; }
.description-tabs .tab.active a {border-bottom: 2px solid #993333; color: #993333; }

.description-contents {clear: both;}
.description-contents .content {display: none;}
.description-contents .content.active {display: block;}

/* Ajustes InformaÃ§Ãµes, Release, Videos, Lojas
---------------------------------------------------------- */
.description-contents #caracteristicas > h4 {display: none;}
.description-contents .name-field {display: none;}
.description-contents .value-field {display: none;}

.description-contents .release.active .value-field.RELEASE {display: block;}
.description-contents .lojas.active .value-field.LOJAS {display: block;}
.description-contents .videos.active .value-field.VIDEO {display: block;}
.description-contents .info.active .value-field.INFORMACAO {display: block;}


/* Avalie
---------------------------------------- */
.tpl-comments-container > h2 {background: url("/arquivos/arrow-down.png") no-repeat scroll 87px 17px transparent; float: left; font-family: "tenby_fiveregular",Arial,sans-serif; font-size: 19px; font-weight: normal; margin-bottom: 8px; margin-right: 4px; padding-bottom: 10px; text-align: left; text-transform: lowercase; }
.tpl-comments-container > h2 span {border-bottom: 2px solid #993333; color: #993333; display: inline-block; line-height: 22px; padding-left: 30px; width: 91px; }


/* avaliacao e opiniao
---------------------------------------- */
.tpl-comments-container{padding-bottom: 20px;position: relative;}
.tpl-comments-container h3, 
.avaliacao .media{color: #444444; font-size: 12px; font-weight: normal; line-height: 1; margin-bottom: 20px;margin-left: 38px;}

.product-comments {float: left;width:450px;clear: both;}
.product-comments h4 {display: none;}
#resenha h4, .links-resenha-usuario{display: none;}
.avaliacao .media em{font-style: normal;}
/*.media strong{background: none repeat scroll 0 0 #FFC834; display: inline-block; font-weight: normal; height: 10px; margin: 7px 8px 0; text-indent: 0; width: 118px;-webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 4px; border-radius: 5px 5px 5px 5px;}*/
.media strong{background-image: url(/arquivos/rating-star.png);display:inline-block; height: 11px; margin: 0 8px; width: 75px;}
.media em span {font-size:11px;font-style: italic;}
ul.rating {margin:0 0 24px 0;margin-left: 38px;}
ul.rating li{display:block; margin:0 0 14px 0; overflow:hidden;}
ul.rating li span {font-size: 11px; font-style: italic;}
ul.rating li .voteRatingStar{display:block; float: left;}
ul.rating li .voteRatingBar{background:#dcddde; display:block; float: left; height: 10px; margin: 2px 10px 0 9px; width: 118px;-webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 4px; border-radius: 5px 5px 5px 5px;}
ul.rating li .voteRatingBar span{background:#ffc834; display:block; height:10px;-webkit-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 4px; border-radius: 5px 5px 5px 5px;}
#ulPubliqueResenha .bt{display: inline-block;}
#formUserReview {border: 1px solid #CECECE;padding:20px 20px 20px 30px;}
#formUserReview .header > h2 {height:50px;}

.rating-avalie-wrapper a {text-decoration: none;}
span.ratingStar{background: url(/arquivos/rating-star.png) no-repeat 0 0; display: inline-block; height: 11px; margin: 0 7px 0 0; text-indent: -9999px; width: 10px;} 
span.emptyRatingStar {background-position:0 0;}
span.filledRatingStar,
span.savedRatingStar {background-position:0 -80px !important;}

#opcoes-avalie {line-height: 23px;}
#opcoes-avalie > label {white-space: nowrap;}
#opcoes-avalie > p {display: none;}
.avalie-produto {background: none repeat scroll 0 0 #F8F8F8; border-radius: 4px; float: left; left: 502px; min-height: 100px; padding: 20px 120px; position: absolute; top: 56px; width: 138px; }
#lnkPubliqueResenha {background: url("/arquivos/publicar-btn.png") no-repeat scroll left top transparent;padding: 10px 8px; text-indent: -9999px; width: 156px;}
.rating-avalie-wrapper {margin:11px 0 8px 22px;}
.user-review .opt {float: left; left: 609px; position: absolute; top: 137px;}

#opcoes-avalie {display: none;}

ul.resenhas {clear:both;width:970px;}
ul.resenhas div > li {padding:20px 0;}
ul.resenhas div > li:first-child {padding-top:48px;}
ul.resenhas li .quem,
ul.resenhas li .quem div {*zoom:0;}
ul.resenhas p.dados {color:#505758; font-size:12px; line-height: normal; padding-bottom: 2px;}
ul.resenhas p.dados strong {font-weight:normal;}
ul.resenhas p.dados span.email-resenha {font-weight: bold;}
ul.resenhas p.dados span.cidade-resenha {color:#777; font-size:10px;}
ul.resenhas .rating-wrapper strong {display:none;}
ul.resenhas .rating-wrapper .rating {margin:0 0 4px;}
ul.resenhas blockquote.opt-texto {color:#505758; font-size:12px; line-height:normal; font-style: italic; margin: 0 0 10px;}
ul.resenhas .considera-util {margin: 10px 0;}
ul.rating-wrapper {margin: 5px 0 10px; }
.opiniao-ajudou li {display: inline-block; margin: 10px 0 0; }
.opiniao-ajudou li a {background: #C7C5C6;}

/* FormulÃ¡rio avaliar
----------------------------------------------*/
#publishUserReview .bt {background: #000; color: #FFFFFF; font-size: 14px; font-weight: normal; padding:8px 25px;border-radius:0;text-transform: uppercase;}
#publishUserReview .header .close a {display: block; float: right; height: 28px; margin-top: -48px; text-indent: -9999px; width: 28px;padding: 0;background: url(/arquivos/close-btn.png) no-repeat center center transparent;}
#publishUserReview .header h1 {display: none;}
#publishUserReview .header > h2 {}
#publishUserReview .footer {clear: both;position: relative;}
#publishUserReview .footer .close {position: absolute; right: 0; top: -20px;display: none;}
#publishUserReview { clear: both; position: relative; }
#publishUserReview .fTitulo label,
#publishUserReview .fComentario label { background-position: 0 center; background-repeat: no-repeat; display: block; float: left; height: 20px; width: 70px; } 
#publishUserReview .fTitulo label { background-image: url("/arquivos/ttl-rating-comment.gif"); }
#publishUserReview .fComentario label { background-image: url("/arquivos/msg-rating-comment.gif"); }
#publishUserReview .grp { margin-bottom: 10px; }
#publishUserReview .grp,
#publishUserReview .grp input,
#publishUserReview .grp textarea { float: left; }
#publishUserReview .grp input,
#publishUserReview .grp textarea { margin-right: 10px; width: 280px; }
#publishUserReview .grp.fDivulgaEmail input {width: auto;}
#publishUserReview .grp input + span,
#publishUserReview .grp textarea + span { float: left; }
/*#publishUserReview .opiniaoInfo,*/
#publishUserReview .opiniaoRating div label { display: none; }
#publishUserReview .opiniaoRating a {text-decoration: none;}
#publishUserReview .ranking { float: left; margin-bottom: 10px; }
#publishUserReview .ranking strong { margin-bottom: 5px; }
#publishUserReview .ranking strong,
#publishUserReview .ranking div { float: left; width: 100%; }
#publishUserReview .avaliar,
#publishUserReview .avaliar a,
#publishUserReview .aviso-resenha { float: left; }
#publishUserReview .aviso-resenha { margin-bottom: 10px; }
#publishUserReview .aviso-resenha > strong { line-height: 14px; }
#publishUserReview .aviso-resenha strong strong { display: block; margin-bottom: 5px; }
#publishUserReview .aviso-resenha strong strong + br { display: none; }

/* Comentarios Facebook
---------------------------------------- */
.tpl-fb-comments-container > h2 {background: url("/arquivos/arrow-down.png") no-repeat scroll 116px 17px transparent; float: left; font-family: "tenby_fiveregular",Arial,sans-serif; font-size: 19px; font-weight: normal; margin-bottom: 8px; margin-right: 4px; padding-bottom: 10px; text-align: left; text-transform: lowercase; }
.tpl-fb-comments-container > h2 span {border-bottom: 2px solid #993333; color: #993333; display: inline-block; line-height: 22px; padding-left: 30px; width: 116px; }


/* Quem viu, viu tambÃ©m (tÃ­tulo)
---------------------------------------- */
.tpl-collections > div > h2 {background: url("/arquivos/arrow-down.png") no-repeat scroll 256px 8px transparent; font-family: "tenby_fiveregular",Arial,sans-serif; font-size: 19px; font-weight: normal; margin-bottom: 8px; margin-right: 4px; padding-bottom: 10px; text-align: left; text-transform: lowercase; border-bottom: 2px solid #993333; color: #993333; display: inline-block; line-height: 16px; padding-left: 30px; width:938px; margin-top:20px;}
.prateleira ul {padding: 0;}


/* Refer a friend
---------------------------------------- */
.refer-a-friend-controle {display: none;}
.pop-refer-a-friend {margin-left:-375px;width: 730px;height: 386px;top:50%;margin-top:-193px;}
.pop-refer-a-friend .popup-header{}
.pop-refer-a-friend .popup-content{clear: both;}

#refer-a-friend-form {padding:20px;}
#refer-a-friend-form #btnAdicionarAmigos,
#refer-a-friend-form #btnFechar,
#refer-a-friend-form #btnCancelar,
#refer-a-friend-form #div-title{display: none;}

#refer-a-friend-form fieldset {border:0;padding:0;width:674px;}
#refer-a-friend-form fieldset #div-yourName,
#refer-a-friend-form fieldset #div-yourEmail,
#refer-a-friend-form fieldset #divNomeAmigo,
#refer-a-friend-form fieldset #divEmailAmigo{float:left;display:block; position: relative;}
#refer-a-friend-form fieldset #div-yourEmail,
#refer-a-friend-form fieldset #divEmailAmigo{padding-left:12px;}
#refer-a-friend-form fieldset div span{ float: left;margin-left: 10px;position: absolute;top: 6px;color:#C50D02;}
#refer-a-friend-form legend{color:#4a4a4a;float:left;clear:both;width:100%;font-size: 18px;font-weight: normal;padding:10px 0 0;}
#refer-a-friend-form #legYourData{padding-top: 0;}
#refer-a-friend-form label,
#refer-a-friend-form fieldset input{float:left;clear:both;}
#refer-a-friend-form label{color: #4a4a4a; display: block; font-size: 12px; line-height: normal; padding:6px 0 2px;}
#refer-a-friend-form fieldset input{width:317px;}
#refer-a-friend-form textarea{display: block; width:662px;margin-top:13px;}
#refer-a-friend-form #btnEnviar {margin: 15px 0 0;}
#refer-a-friend-form #btnReferMoreFriends {margin: 15px 0 0;}
#refer-a-friend-form p:first-child {padding: 0 0 0;white-space: nowrap;}
#refer-a-friend-form >p{overflow: hidden;}

/* Popup ingresso adicionado
-------------------------------*/
.tkt-container {text-align: center;}
.tkt-msg {background: url("/arquivos/green-check-sign.png") no-repeat scroll 0 0; font-size: 15px; font-style: italic; margin: 14px auto; padding: 6px 0 16px 40px; width: 270px;}
.tkt-contbtn.close {background: url("/arquivos/continuar-comprando-btn-popup.jpg") no-repeat scroll 0 0; cursor: pointer; display: inline-block; height: 43px; width: 186px;}
.tkt-checkoutbtn {background: url("/arquivos/fechar-pedido-btn-popup.jpg") no-repeat scroll 0 0; display: inline-block; height: 43px; margin: 0 0 0 20px; width: 186px;cursor: pointer;}

/* Popup valor invalido
-------------------------------*/
.popup-no-selection .popup-content {background: url("/arquivos/mascote-pequeno.png") no-repeat scroll 39px 16px rgba(0, 0, 0, 0); font-size: 15px; font-weight: bold; height: 90px; padding: 55px 30px 0 143px; text-align: center; }

.tpl-summary-container {float: left; background: rgb(232, 249, 233); width: 222px; margin: 0 0 0 262px; position: fixed;left: 50%;top: 180px;z-index: 999999999999;} 
.tpl-summary-container>div {margin: 0 0 0 10px; } 
.summary-title {font-size: 12px; margin: 12px 0 3px 0;} 
.summary-main-title {font-size: 12px; text-transform: uppercase; color: #98cd97; padding: 12px 0 0 0; } 
.summary-itens-container > span {display: block; } 
.summary-itens-container .summary-value {color: #cb0621; font-weight: bold; } 
.summary-total-container {} 
.summary-total-container > span {display: block; }
.summary-total-container .summary-value {font-size:26px;font-weight:bold;color:#cb0621;}
