@keyframes spinner {
  to {transform: rotate(360deg);}
}

.wrap-n {box-sizing: border-box; width: 1310px;margin: 0 auto;position: relative;text-align: left}
.wrap-n:before { display: table; content: ""}
.wrap-n:after { clear: both; display: table; content: ""}

.all-quiz.gt-load:before {content: ""; position: absolute; left: 50%; top: 50%; margin: -10px 0 0 -10px; box-sizing: border-box;width: 20px;height: 20px;border-radius: 50%; border-top: 2px solid #fff; border-right: 2px solid transparent; animation: spinner .6s linear infinite; display: block}
.all-quiz.gt-load {height: 845px; position: relative}
.all-quiz.gt-load .wrap-n { display: none}
.all-quiz { background:#F4CCD7 url('/arquivos/bg-quiz-rosa-n2.png') repeat-x left top}
.all-quiz .wrap-n {background:transparent url('/arquivos/brilho-1.png') no-repeat center top}
.answer-quiz .wrap-n {background:transparent url('/arquivos/brilho-2.png') no-repeat center top}
.start-quiz { text-align: center; background: url('/arquivos/bg-quiz-perfumes-1-n2.png') no-repeat center top; box-sizing: border-box; min-height: 845px; color: #000; padding: 250px 0 55px}
.start-quiz .qz-title {font-size: 22px; letter-spacing: 4px; text-transform: uppercase; padding: 0 0 45px}
.start-quiz img { display: block; margin: 0 auto}
.start-quiz p { font-size: 24px; letter-spacing: 2px; padding: 30px 0 50px; color: #fff}
.start-quiz .go-quiz { display: inline-block; line-height: 53px; color: #fff; background: #000; text-transform: uppercase; width: 130px; text-align: center; font-size: 21px; letter-spacing: 1px}
.start-quiz .go-quiz:hover { background: #333}

.header-quiz { padding: 45px 0 70px}
.header-quiz img { display: block; margin: 0 auto}
.header-quiz .qz-title { padding: 20px 0 0; font-size: 20px; letter-spacing: 2px; text-align: center; color: #fff}

.answer-quiz .wrap-quiz {background: url('/arquivos/bg-quiz-perfumes-2-n2.png') no-repeat center top}
.question-quiz { padding: 0 0 100px; background: url('/arquivos/bg-quiz-perfumes-2-n2.png') no-repeat center top}
.question-quiz .step { text-align: center;display: none}
.question-quiz .step .qz-title { font-size: 30px; color: #000; font-family: 'bold', sans-serif; text-transform: uppercase;height: 86px}
.question-quiz .line2 { width: 100%; max-width: 1065px; margin: 0 auto}
.question-quiz .step .item-quiz { display: block; padding: 0 15px 10px; background: url('/arquivos/sombra-quiz-n.png') no-repeat center bottom; box-sizing: border-box}
.question-quiz .step.step-1 .item-quiz { margin-left: 16.5%}
.question-quiz .step.step-1 .item-quiz + .item-quiz { margin-left: 0}
.question-quiz .step .img-item-quiz { min-height: 220px; background:#fff url('/arquivos/gt-load.gif') no-repeat center}
.question-quiz .step .img-item-quiz img { display: block; width: 100%; height: auto}
.question-quiz .step .txt-item-quiz { background: #fff}
.question-quiz .step .txt-item-quiz span { display: inline-block; padding: 27px 0 27px 35px; position: relative; color: #000; font-size: 20px}
.question-quiz .step.step-5 .item-quiz + .item-quiz + .item-quiz .txt-item-quiz span { padding: 17px 0 17px 35px}
.question-quiz .step .txt-item-quiz span:before {content: ""; display: block; width: 24px; height: 20px; position: absolute; left: 0; top: 50%; margin-top: -10px; background: url('/arquivos/icon-quiz-n.png') no-repeat -24px 0}
.question-quiz .step .item-quiz:hover span, .question-quiz .step .item-quiz.active span { color: #EE4D4D !important}
.question-quiz .item-quiz:hover span:before, .question-quiz .item-quiz.active span:before { background-position: 0 0}
.question-quiz .step .back { padding: 36px 0 0; text-align: left}
.question-quiz .step .back .step-back { color: #000; font-size: 16px}
.question-quiz .step .back .step-back:hover { text-decoration: underline}


.answer-quiz {background: #fff url('/arquivos/bg-quiz-branco-n2.png') repeat-x left top; position: relative}
.answer-quiz:before { content: ""; display: block; position: absolute; height: 21px; background: url('/arquivos/sep-quiz-az-2.png') no-repeat center; width: 100%; left: 0; top: 540px}
.answer-quiz .wrap-1 {background: url('/arquivos/bg-quiz-perfumes-2-n.png') no-repeat center top}
.answer-quiz .description-quiz { width: 100%; box-sizing: border-box; max-width: 830px; padding: 25px; margin: 0 auto; border: 8px solid #D33955; text-align: center}
.answer-quiz .description-quiz .qz-title { font-family: 'bold', sans-serif; font-size: 25px; color: #D33955; padding: 0 0 10px}
.answer-quiz .description-quiz .txt-quiz { font-size: 16px; line-height: 1.2; }
.answer-quiz .quiz-collection { padding: 100px 0 60px}
.quiz-collection .gt-vitrine h2 { display: none !important}

.quiz-collection .gt-vitrine li { background: transparent}

@media only screen and (max-width:1310px) {
.wrap-n { width: 100%;padding: 0 }
}
@media only screen and (max-width:1200px) {
	.all-quiz .wrap-1 { padding: 0}
	.question-quiz .step .back { padding: 30px 0 0 15px}
	.answer-quiz:before { display: none}
	.answer-quiz .quiz-collection {background: url('/arquivos/sep-quiz-az-2.png') no-repeat center 40px}
}

@media only screen and (max-width:1065px) {
	.question-quiz .step .img-item-quiz { min-height: auto}
	.question-quiz .step .item-quiz { background: none}
}

@media only screen and (max-width:920px) {
	.quiz-collection .show-buy { display: block !important; position: initial; left: auto; height: auto; bottom: auto; height: 29px;}
	.quiz-collection .show-buy a.add-cart { display: none}
	.quiz-collection .gt-vitrine li .ct { border:none !important}
	.quiz-collection .gt-vitrine li { width: 33.33%}
	.quiz-collection .gt-vitrine li .freteGratis { width: 100%; background-position: center;background-repeat: no-repeat;background-color: #E3E9EC}
	.quiz-collection .gt-vitrine .product-info { text-align: center; padding: 0}

}

@media only screen and (max-width:768px) {
	.all-quiz.gt-load { height: 400px}
	.start-quiz { min-height: auto; padding: 80px 10px 60px; background: url('/arquivos/bg-quiz-perfumes-2-n.png') no-repeat center top}
	.start-quiz img { width: 76%; height: auto}
	.start-quiz .qz-title, .start-quiz p { letter-spacing: normal; font-size: 20px}
	.start-quiz p { padding: 30px 0}
	.start-quiz .go-quiz { line-height: 40px; width: 150px; font-size: 20px; letter-spacing: normal; font-family: 'bold', sans-serif}
	.header-quiz { padding: 70px 0 50px}
	.header-quiz img { width: 260px; height: auto}
	.header-quiz .qz-title { letter-spacing: 1px}
	.question-quiz .step .qz-title { font-size: 22px; padding: 0 10px 30px; height: auto;}

	.question-quiz .step .item-quiz { float: none; clear: both; width: auto; padding:10px 15px; max-width: 340px; margin: 0 auto !important}
	.answer-quiz .quiz-collection { padding: 100px 0 40px}

	.quiz-collection .gt-vitrine li { width: 33.33%}
	.quiz-collection .gt-vitrine li .ct { padding: 2px; border:1px solid #f5f5f5 !important}
}

@media only screen and (max-width:490px) {
	.quiz-collection .gt-vitrine li { width: 50%}
	.answer-quiz .description-quiz .qz-title { font-size: 22px}
	.answer-quiz .description-quiz .txt-quiz { font-size: 14px}
}

@media only screen and (max-width:360px) {
	.question-quiz .step .qz-title { font-size: 20px}
	
}