/*novo smartcart*/
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #174008;
    left: -261px;
    padding: 10px;
    position: absolute;
    width: 340px;    
    border-radius: 3px 0 3px 3px;
    display: none;
    top: 80px;
    z-index: 9999;
}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded .frete {height: 44px;width: 389px;background: url("/arquivos/smartcartfrete.png");position: absolute;bottom: 5px;left: -11px;}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded:before {content: "Você adicionou à sua sacola";color: #d59b37;padding: 0 0 5px 0;display: block;border-bottom: 1px dotted #ccc;margin: 0 0 10px 0;font-weight: bold;}
body .floatingTopBar .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded{
    left: -207px;
}
body .portal-minicart-ref thead {display: none;  }
body .portal-minicart-ref thead tr th {text-indent: -9999px;width: 100%;}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table {
    border-collapse: collapse;
}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded tr:nth-child(even) {
    background: none repeat scroll 0 0 #EEEEEE;
}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td {padding: 0 20px 0 0; font-size: 11px;}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td a {color: #000; font-size: 10px !important; display: block; text-align: center;}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td.cartSkuPrice {
    color: #cea12c;
    font-size: 13px;
    width: 64px;
    padding: 0 20px 0 0;
    text-align: center;
}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td.cartSkuQuantity,
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td.cartSkuActions {display: none;}

body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded .vtexsc-wrap {max-height: 170px; overflow-y: auto;}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded tr {}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td.cartSkuImage {width: 67px; padding: 0 20px 0 0;}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td.cartSkuImage a img {width: 55px; height: 55px;}
body .portal-minicart-ref .cartFooter.clearfix {
    padding: 10px 0 0 0;
    border-top: 1px dotted #ccc;
    margin: 10px 0 0 0;
    clear: both;
    height: 70px;
}

body .portal-minicart-ref.cartFooter.clearfix .cartTotal span {
    padding-left: 3px;
}
body .portal-minicart-ref .cartFooter.clearfix .cartTotal {
    display: none;
}
body .portal-minicart-ref .cartFooter.clearfix .cartTotal span{
    margin-left: 5px;
}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded a.cartCheckout {
    background: url("/arquivos/smartcart-btn.png");
    display: block;
    float: right;
    height: 32px;
    width: 181px;
    margin: 0 0 52px 0;
}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td.cartSkuActions {
    width: 30px;
}
body #header .carrinho a.smartcart-bt.no-border {
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    border-left: 2px solid #fff;
    border-bottom: none;
    position: absolute;
    width: 191px;
    z-index: 9999999;
    border-radius: 3px 3px 0 0;
}
body #header .carrinho a.smartcart-bt.no-border:hover {
    border-top: 2px solid #BE0000;
    border-right:2px solid #BE0000;
    border-left: 2px solid #BE0000;
}
body .portal-minicart-ref .v2-vtexsc-cart.vtexsc-cart.mouseActivated.preLoaded table tbody td.cartSkuActions .cartSkuRemove a{
    width: 10px;
    height:10px;
    margin: 0 auto;
    display: block !important;
    font-size: 0;
}
.cart_header .ativo {border: 1px solid #174008!important; border-bottom: 1px solid #fff!important;}