body{ background-position: center 0;font-family: '33535gillsansmt', sans-serif;color: #fff; background: url('/arquivos/bf2016_bg-header.png') top center repeat-x; }

.container{width: 1000px;padding-top:20px; margin: 0 auto; position: relative;background: url('/arquivos/bf2016_bg-header-center.png?v=001') top center no-repeat; }
.container .ano{font-size: 22px; color: #FFF;margin: 0 auto;letter-spacing: 10px; display: table;}
.container .social{font-size: 9px; color: #FFF;margin: 10px auto;display: table;text-transform: uppercase;letter-spacing: 5px;position: absolute;right: 0px;top: 0px;}
.container .social img{position: relative;top: 15px;margin-left: 10px;}
.container .black{margin: 0 auto;margin-top: 50px;display: table;}
.container .sub-titulo{color: #ffb400; margin: 320px auto 0px;display: table;width: 920px;font-size: 14px;text-align: center;letter-spacing: 5px;line-height: 1.5;}


#vitrinebf{position:relative;z-index:99999999999;overflow:hidden;}
#vitrinebf > div{float:left;margin: 20px 16px 20px;}
/*#vitrinebf > div:hover{opacity:0.8;filter:alpha(opacity=80);}*/
#vitrinebf ul{width:100%;}
#vitrinebf ul li{width:30%!important;border:1px solid #000;margin-left: 10px;min-height: 480px;margin-bottom: 10px;}
#vitrinebf ul li:hover {border:1px solid #ffb400;}
#vitrinebf ul li img{max-width: 190px;margin-top: 20px; margin-bottom: 20px;}
#vitrinebf ul li:hover .buy-button-normal a{width:90%;line-height:30px;padding:5px 0 0 0; }
#vitrinebf h2:nth-of-type(1){color:#000; font-size: 25px; text-transform: uppercase; margin:10px auto 0; text-align: center;}
#vitrinebf p:nth-of-type(1){color:#000;margin-top: 10px;text-align: center;margin-bottom: 10px;}
.container .ccounter {padding: 30px 0 0 265px;display: table;position: relative;}
.container .ccounter .falta {position: absolute;left: 180px;top: 60px;font-size: 28px;color: silver;}
.container .ccounter .item{float: left;width: 130px;text-align: center;}
.container .ccounter .item input{border: none;font-size: 40px;color: #000;border-radius: 5px; margin: 15px; background: #fff; text-align: center; width: 100px;}
.container .ccounter .item .texto{text-transform: uppercase; color: #959595; letter-spacing: 5px;font-size: 12px;}
.container .ccounter .dois-pontos{float: left;margin-top: 20px;}



.container .sub-titulo-2{color:#000;margin: 100px auto 20px;display: table;width: 920px;font-size: 18px;text-align: center;letter-spacing: 3px;line-height: 0.5;position: relative;z-index: 5;}

.container form{margin: 10px auto 0px; display: table;margin-bottom: 115px;position: relative;z-index: 5;}
.container form input[type=text]{ box-sizing: border-box;height: 50px !important; width: 415px;padding-bottom: 19px;height: 15px;padding-left: 15px;padding-top: 16px;background: #fff;border: none;color: #000;font-size: 15px;top: -1px;position: relative;}
.container form input[type=submit]{width: 180px;color: #fff;text-transform: uppercase;background: #000000;border: none;height: 50px;font-weight: bold;padding: 15px;line-height: 15px;font-size: 15px;cursor: pointer;}

.blackfriday .ver-todos{margin: 35px auto 55px;color: #fff;display: table;padding: 13px 44px;font-weight: bold;background-color: #000;font-size: 22px;line-height: 33px;box-sizing: border-box;}
.blackfriday .ver-todos span{margin-right: 7px;font-size: 32px;float: left;margin-top: 0px;}
.blackfriday .ver-todos:hover{background: #ffb400;}


footer{background: #000;}
footer .textos a{color:#fff; text-decoration: underline;}
footer .textos{width:1000px;margin: 0 auto;padding: 40px 0;height: 270px;}
footer .textos p{text-align:justify; display:block;width: 30%;float:left;font-size:11px;box-sizing: border-box;line-height: 15px;border-right: 1px solid #333333;margin: 0 10px;padding: 0 20px;}
footer .textos p:last-child{border-right: none;}
footer .textos p+p+p{margin-right:0;}
footer .textos p span{color:#ffb400;display: block;font-size: 12px;font-weight: bold;margin-bottom: 15px;text-transform: uppercase;}
footer .infos { display: block; width: 100%; background: #fff; color: #000; text-align: center; padding: 20px 0;}
footer .infos a{font-size: 12px; color:#000;}


.gt-vitrine.prateleira.n3colunas h2{
	display: none;
}
.flags .flag.discount{
   background: url(/arquivos/bf2016_flag-desconto.png?v=2) !important;
	width: 70px !important;
	height: 93px !important;
	padding-top: 48px;
	box-sizing: border-box;
	line-height: 15px!important;
	display: block;
	position: absolute;
	top: -9px;
	right: -40px;
}
.flags .flag.discount span{
	color:#ffb400;
}

div.rating-produto {
	width: 80px!important;
}
.brand b{color: #000;}



@media (min-width:1280px) {
	
}

@media (min-width:810px) {
	
}

@media (min-width:630px) {
	
}

@media (max-width:1020px) {
	.container {
		width: 100%;
	}
	.container .sub-titulo{
		width:100%;
	    margin: 280px auto 0px;
	    height: 40px;

	}
	.container .ccounter {
		padding: 70px 0 0 0px;
		display: table;
		position: relative;
		margin:0 auto;
	}
	.container .ccounter .falta {
		top: 20px;
    	left: 0;
    	text-align: center;
    	width: 100%;
	}
	.container .ccounter .item{
	    width: 90px;
	}
	.container .ccounter .item input {
		font-size: 30px;
		width: 60px;
	}
	.container .sub-titulo-2 {
	    width: 100%;
	    margin: 70px auto 10px;
		height: 30px;
	}
	.container form input[type=text] {
		width: 90%;
		margin: 0 auto;
	}
	.container form input[type=submit] {
		width: 90%;
		color: #fff;
	}
	footer .textos {
		width: 100%;
		height: 320px;
	}
}

@media (max-width: 920px) {
	
}

@media (max-width: 810px) {
	.container .sub-titulo-2 {
	    width: 100%;
    	margin: 70px auto 10px;
	}
	.sub-titulo-2 p{
		margin: 0 50px;
	}

	#vitrinebf ul li {
		width: 48%!important;
	}
	.flags .flag.discount {
		right: 0px;
	}
	footer .textos {
		width: 100%;
		height: 650px;
	}
	footer .textos p {
		width: 90%;
		margin-bottom: 40px;
		border: 0;
	}
}

@media (max-width: 740px) {
	.container .sub-titulo-2 {
	    width: 100%;
    	margin: 55px auto 10px;
	}
	.sub-titulo-2 p{
		margin: 0 	0px;
	}
}

@media (max-width: 630px) {
	footer .textos {
		width: 100%;
		height: 750px;
	}
}

@media (max-width: 540px) {
	#vitrinebf ul li {
		width: 98%!important;
	}
}

@media (max-width: 480px) {
	.social{ font-size: 0px !important;}
	.container .sub-titulo {
		height: 60px;
	}
	.container .ccounter {
		padding: 55px 0 0 0px;
	}
	.container .ccounter .item {
		width: 70px;
	}
	.container .ccounter .item input {
		font-size: 30px;
		width: 40px;
	}
	footer .textos {	
		width: 100%;
		height: 850px;
	}
	.container .sub-titulo-2 {
		width: 100%;
		margin: 38px auto 10px;
		height: 30px;
	}
	.container form {
		margin: 10px auto 90px 20px;
	}
	.container form input[type=text] {
		width: 90%;
	}
}

@media (max-width: 362px) {
	footer .textos {
		width: 100%;
		height: 960px;
	}
}

@media (max-width: 326px) {
	footer .textos {
		width: 100%;
		height: 1060px;
	}
}
