body{ background-position: center 0;font-family: '33535gillsansmt', sans-serif;color: #fff;}

.container{width: 800px; margin: 0 auto; position: relative;}
.container .ano{font-size: 22px; color: #959595;margin: 0 auto;letter-spacing: 10px; display: table;}
.container .social{font-size: 9px; color: #959595;margin: 0 auto;display: table;text-transform: uppercase;letter-spacing: 5px;position: absolute;right: 0px;top: 0px;}
.container .social img{position: relative;top: 5px;margin-left: 10px;}
.container .black{margin: 0 auto;margin-top: 50px;display: table;}
.container .sub-titulo{margin: 100px auto 0px;display: table;width: 550px;font-size: 16px;text-align: center;letter-spacing: 5px;line-height: 1.5;}


#vitrinebf{position:relative;z-index:99999999999;overflow:hidden;}
#vitrinebf > div{float:left;}
#vitrinebf > div:hover{opacity:0.8;filter:alpha(opacity=80);}
#vitrinebf ul{width:100%;}
#vitrinebf ul li{width:30%!important;max-height: 320px;}
#vitrinebf ul li *{width:100%;text-align:center;height:auto}
#vitrinebf ul li img{max-width:150px;}
#vitrinebf ul li:hover .buy-button-normal a{width:90%;line-height:30px;padding:5px 0 0 0;}
.container .ccounter{margin: 0 auto; display: table; margin-top: 30px;}
.container .ccounter .item{float: left;width: 130px;text-align: center;}
.container .ccounter .item input{background: none; border: none; font-size: 55px; color: #fff;text-align: center;width: 130px;}
.container .ccounter .item .texto{text-transform: uppercase; color: #959595; letter-spacing: 5px;}
.container .ccounter .dois-pontos{float: left;margin-top: 20px;}

.container .ferrari{height: 155px; width: 630px; margin: 0 auto; border: 1px solid #fff; margin-top: 225px;z-index: 3;}
.container .ferrari .esquerda{width: 165px; text-align: right;margin-top: 10px;position: relative;margin-left: 20px;float: left;}
.container .ferrari .esquerda .texto-1,
.container .ferrari .esquerda .texto-2{line-height: 0.1;}
.container .ferrari .esquerda .texto-1 p,
.container .ferrari .esquerda .texto-2 p{font-size: 20px;text-transform: uppercase;}
.container .ferrari .esquerda .texto-2{margin-top: 40px;}

.container .ferrari .direito{width: 165px; text-align: left;margin-top: 10px;position: relative;margin-left: 280px;float: left;}
.container .ferrari .direito .texto-1,
.container .ferrari .direito .texto-2{line-height: 0.1;}
.container .ferrari .direito .texto-1 p,
.container .ferrari .direito .texto-2 p{font-size: 20px;text-transform: uppercase;}
.container .ferrari .direito .texto-2{margin-top: 40px;}

.container .ferra-black{display: table; position: absolute; top: 605px; display: none;left: 15px;z-index: 2;}

.container .sub-titulo-2{margin: 20px auto 0px;display: table;width: 550px;font-size: 16px;text-align: center;letter-spacing: 5px;line-height: 0.5;position: relative;z-index: 5;}

.container form{margin: 10px auto 0px; display: table;margin-bottom: 75px;position: relative;z-index: 5;}
.container form input[type=text]{width: 415px;padding-bottom: 10px; height: 20px; padding-left: 15px; padding-top: 10px; background: #fff; border: none; color: #000; font-size: 15px;top: -1px;position: relative;}
.container form input[type=submit]{width: 205px; color: #fff; text-transform: uppercase; background: #217239; border: none; height: 40px; font-size: 20px;cursor: pointer;}

.blackfriday .ver-todos{float:right;margin-top:15px;color:#fff;display:block;padding:10px 20px;background-color: #217239;text-shadow:1px 1px 1px #000;font-size: 14px;}
.blackfriday .ver-todos:hover{opacity:0.7}

.container .textos{position:relative;z-index:999;margin-top: 135px;}
.container .textos p{display:block;width: 30%;float:left;font-size:11px;line-height: 15px;margin-right: 3%;}
.container .textos p+p+p{margin-right:0;}
.container .textos p span{display: block;margin-bottom: 15px;text-transform: uppercase;}
