.whats-img  {
    position: fixed;
    top: 90%;
    left: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  

  
  .whats-img a {
    display: block;
    text-align: right;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  @media only screen and (max-width: 810px) {
      .whats-img  {
    position: fixed;
    top: 90%;
    left: 80%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  }
  
  @media only screen and (max-width: 360px) {
      .whats-img  {
    position: fixed;
    top: 90%;
    left: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  }