/*body.product.wishlist*/
.giftlist-insertsku-wrapper div.glis-sku-single.glis-sku-default { display: none}
.giftlist-insertsku-popup, .giftlist-insertsku-must-login {margin: 10px 0;text-align: right}
.giftlist-insertsku-wrapper .glis-popup-link { display:inline-block;color: #E3EAEB;text-indent: -9999px;font-size: 0;background: #E3EAEB url(/arquivos/bg-add-list.gif) no-repeat center center; width:168px; height:36px; margin-right:31px}
.giftlist-insertsku-must-login a.must-login { display: inline-block;text-align: center;text-decoration: underline;font-size: 13px;color: #5896DA;padding: 5px}
.giftlist-insertsku-must-login a.must-login:hover { text-decoration: none; color: #2767B1}
.glis-flash-quantity-added { display:none !important}

/*popup.wishlist*/
#TB_overlay {background: url(/arquivos/bglightbox_b.png)}
#TB_window {position: absolute !important;top: 20px !important; margin-top: 0 !important;background: #fff !important; border-radius:4px}
#TB_closeAjaxWindow a {width: 20px;height: 20px;position: absolute;right: 10px;top: 10px;cursor: pointer;background: url(/arquivos/close-modal.gif) no-repeat; color:#fff; text-indent:-9999px; display:block; z-index:10}
body.produto #TB_ajaxContent { height:200px !important; padding:0 15px !important; width:auto !important; background:url(/arquivos/gt-load.gif) no-repeat center center}
.glis-new-info, glis-new-title, .glis-selected, .glis-title, .glis-create-form-type, .glis-create-form-name, .glis-new-info, .glis-save, .giftlist-insertsku-ok + .giftlist-insertsku-ok { display:none !important}
.giftlist-insertsku, .produtos-minha-lista { display:none}
.giftlist-insertsku li { list-style:none}
.glis-create-form-submit, .glis-mylist .glis-li, .giftlist-insertsku-ok { text-align:center}
.glis-new-title, .glis-existing-title { font-size:16px; font-weight:bold; padding:20px 0; display:block; text-align:center; margin-bottom:15px; color:#333}
a.glis-submit, a.giftlist-go-ok { display:inline-block; border-radius:4px; padding:15px 0; text-align:center; color:#fff; font-weight:bold; font-size:13px; width:250px; cursor:pointer; text-decoration:none}
a.glis-submit { background:#9FC822}
a.glis-submit:hover { background:#83A51D}
a.giftlist-go-ok { background:#C5223F}
a.giftlist-go-ok:hover { background:#961B30}
.giftlist-title-ok { display:block;font-size: 16px;font-weight: bold;padding: 20px 0;display: block;text-align: center;margin-bottom: 15px;color:#C5223F}
.lista-load {background: #fff url(/arquivos/gt-load.gif) no-repeat 15px 0 !important}
.lista-load .giftlist-insertsku { opacity: .4}

/*page.wishlist*/
table.giftlistproductsv2 {width: 100%;border-collapse: collapse; margin-top:15px}
table.giftlistproductsv2 a { text-decoration:none}
table.giftlistproductsv2 th {padding: 10px 15px;text-transform: uppercase;font-size: 13px;background: #EAEAEA;border: 1px solid #949494; text-align:left}
table.giftlistproductsv2 td { font-size:13px;padding: 10px 15px;border: 1px solid #949494; vertical-align:middle}
table.giftlistproductsv2 td.image { text-align:center; border-right:none}
table.giftlistproductsv2 td.name { border-left:none}
table.giftlistproductsv2 td.price { font-size:18px; font-weight:bold; color:#C2033F}
table.giftlistproductsv2 a.urlproduct { color:#333}
table.giftlistproductsv2 a.ver-produto-lista {border-radius: 6px;color: #fff;background: #03A603;transition: all 0.3s ease;font-size: 13px;font-weight: bold;padding: 12px; display:inline-block}
table.giftlistproductsv2 a.deletethissku { display:block; text-indent:-9999px; width:20px; height:20px; background:url(/arquivos/close-modal.gif) no-repeat}
.ko-grid-pageLinks { padding: 20px;text-transform: uppercase;}
.ko-grid-pageLinks a { display: inline-block;margin: 0 10px;text-decoration: none;font-weight: bold; color:#09F}
.ko-grid-pageLinks a.selected { color:#999}
#giftlistremovecheckedskus { padding: 10px 35px;cursor: pointer;border: none;border-radius: 4px;font-size: 13px;font-weight: bold;background: #ddd}
#giftlistremovecheckedskus:disabled {cursor: default !important}
.lista-vazia { min-height:250px;text-align: center}
.lista-vazia h2 { font-size:18px;color: #333; padding:30px 0 40px}
.lista-vazia a { font-size:15px;color: #0080FF; text-decoration:underline}

body.espiar .glis-new-title, body.espiar .glis-existing-title, body.espiar .giftlist-title-ok {padding: 70px 40px 20px !important}
body.espiar a.glis-submit, body.espiar a.giftlist-go-ok {width: 260px !important; margin-left:-5px !important}
body.espiar .giftlist-insertsku-must-login a.must-login {margin-top: 90px;padding: 0 30px !important;font-size: 16px !important;font-weight: bold;}

