/*body.product.wishlist*/
.ajax-content-loader{position: absolute;}
.giftlist-insertsku-wrapper {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 270px;
}
.giftlist-insertsku-wrapper div.glis-sku-single.glis-sku-default{display: none;}
body.wishlist .giftlist-insertsku-wrapper div.glis-sku-single.glis-sku-default { margin: 20px auto 0; display: table;}
.giftlist-insertsku-wrapper div.glis-sku-single.glis-sku-default .insert-sku-quantity { margin:0 10px; padding:5px; }
.giftlist-insertsku-wrapper div.glis-sku-single.glis-sku-default .glis-sku-single-item { font-family:"Times New Roman"; font-style: italic; font-size: 18px; }
.produto .giftlist-insertsku-popup, .produto .giftlist-insertsku-must-login {margin: 8px 0;text-align: right;}
.produto .giftlist-insertsku-wrapper .glis-popup-link,
.produto .giftlist-insertsku-must-login a.must-login {background: #E3EAEB url(/arquivos/iconList.png) no-repeat 32px center;padding: 11px 0 12px;font-size: 14px;color: #777;font-size:0;width:160px;display:inline-block;text-align:center;margin-right:35px;transition: all 0.15s ease;}
.produto .giftlist-insertsku-wrapper .glis-popup-link:before,
.produto .giftlist-insertsku-must-login a.must-login:before{font-size:14px;content:"Wishlist";font-family:Times new roman}
.produto .giftlist-insertsku-wrapper .glis-popup-link:hover,
.produto .giftlist-insertsku-must-login a.must-login:hover{background-color: #aaa; color: #fff}
.glis-flash-quantity-added { display:none !important}
.giftlist-insertsku-must-login{text-align: center;}
.giftlist-insertsku-must-login h4{font-size: 48px; margin-top: 20px;}
.giftlist-insertsku-must-login p{ font-family: Arial;font-size: 18px; margin: 15px 0; color: #333;}
.glis-link.must-login{background:#66cc66; display:inline-block; border-radius:4px; padding:15px 28px; text-align:center; color:#fff;font-size:22px;cursor:pointer; text-decoration:none}
.glis-link.must-login:hover{background:#33cc33;}

/*popup.wishlist*/
#TB_overlay {background: url(/arquivos/bglightbox_b.png)}
#TB_window {top: 20px !important;margin-top: 0 !important;background: #fff !important;border-radius:4px;}
#TB_closeAjaxWindow a {width: 20px;height: 20px;position: absolute;right: 10px;top: 10px;cursor: pointer;background: url(/arquivos/close-modal.gif) no-repeat; color:#fff; text-indent:-9999px; display:block; z-index:10}
body.produto #TB_ajaxContent { height:200px !important; padding:0 15px !important; width:auto !important; background:url(/arquivos/gt-load.gif) no-repeat center center}
.glis-new-info, glis-new-title, .glis-selected, .glis-title, .glis-create-form-type, .glis-create-form-name, .glis-new-info, .glis-save, .giftlist-insertsku-ok + .giftlist-insertsku-ok { display:none !important}
.giftlist-insertsku, .produtos-minha-lista { display:none}
.giftlist-insertsku li { list-style:none}
.glis-create-form-submit, .glis-mylist .glis-li, .giftlist-insertsku-ok { text-align:center}
.glis-new-title, .glis-existing-title { font-size:18px; padding:20px 0; display:block; text-align:center; margin-bottom:15px; color:#333; font-family: Arial;}
a.glis-submit, a.giftlist-go-ok { display:inline-block; border-radius:4px; padding:15px 0; text-align:center; color:#fff;font-size:22px; width:250px; cursor:pointer; text-decoration:none}
a.glis-submit { background:#66cc66}
a.glis-submit:hover { background:#33cc33}
a.giftlist-go-ok { background:#66cc66}
a.giftlist-go-ok:hover { background:#33cc33}
.giftlist-title-ok { display:block;font-size: 30px;padding: 20px 0;display: block;text-align: center;margin-bottom: 15px;}
.lista-load {background: #fff url(/arquivos/gt-load.gif) no-repeat 15px 0 !important}
.lista-load .giftlist-insertsku { opacity: .4}

/*page.wishlist*/
table.giftlistproductsv2 {width: 100%;border-collapse: collapse; margin-top:15px}
table.giftlistproductsv2 a { text-decoration:none}
table.giftlistproductsv2 th {padding: 10px 15px;text-transform: uppercase;font-size: 13px;background: #EAEAEA;border: 1px solid #949494; text-align:left}
table.giftlistproductsv2 td { font-size:13px;padding: 10px 15px;border: 1px solid #949494; vertical-align:middle}
table.giftlistproductsv2 td.image { text-align:center; border-right:none}
table.giftlistproductsv2 td.name { border-left:none}
table.giftlistproductsv2 td.price { font-size:18px; font-weight:bold; color:#C2033F}
table.giftlistproductsv2 a.urlproduct { color:#333}
table.giftlistproductsv2 a.ver-produto-lista {border-radius: 6px;color: #fff;background: #03A603;transition: all 0.3s ease;font-size: 13px;font-weight: bold;padding: 12px; display:inline-block}
table.giftlistproductsv2 a.deletethissku { display:block; text-indent:-9999px; width:20px; height:20px; background:url(/arquivos/close-modal.gif) no-repeat}
.ko-grid-pageLinks { padding: 20px;text-transform: uppercase;}
.ko-grid-pageLinks a { display: inline-block;margin: 0 10px;text-decoration: none;font-weight: bold; color:#09F}
.ko-grid-pageLinks a.selected { color:#999}
#giftlistremovecheckedskus { padding: 10px 35px;cursor: pointer;border: none;border-radius: 4px;font-size: 13px;font-weight: bold;background: #ddd}
#giftlistremovecheckedskus:disabled {cursor: default !important}
.lista-vazia { min-height:250px;text-align: center}
.lista-vazia h2 { font-size:18px;color: #333; padding:30px 0 40px}
.lista-vazia a { font-size:15px;color: #0080FF; text-decoration:underline}
div#ajaxBusy, .loading {position: fixed;z-index: 9999;top: 32px;left: 0;width: 100%;}
div#ajaxBusy p, .loading p {text-align: center;color: #92B723;font-size: 12px;text-transform: uppercase;text-align: center;padding: 5px 0;font-family: Arial;}
body.espiar .glis-new-title, body.espiar .glis-existing-title {padding: 10px 10px 0px !important}
body.espiar .giftlist-title-ok {padding: 30px 10px 0px !important}
body.espiar a.glis-submit, body.espiar a.giftlist-go-ok {width: 160px !important;}
/*body.espiar .giftlist-insertsku-must-login a.must-login {margin-top: 90px;padding: 0 30px !important;font-size: 36px !important;font-weight: bold;}*/

/*Custom Wishlist*/

body.wishlist .productWishlist {
    width: 270px;
    margin: 70px 40px 0;
    float: left;
    font-family:"Times New Roman"; font-style: italic; font-size: 32px;
}
body.wishlist .glis-title{display:none;}
