<div id="carrossel_marcas">
  <ul>
    <li>
      <a href="/busca/?fq=B:5470" alt="Azarro" title="Azarro" class="Azarro"></a>
    </li>
    <li>
      <a href="/busca/?fq=B:2594" alt="Bvlgar" title="Bvlgar" class="Bvlgar"></a>
    </li>
    <li>
      <a href="/busca/?fq=B:2559" alt="Carolina Herrera" title="Carolina Herrera" class="Carolina Herrera"></a>
    </li>
    <li>
      <a href="/busca/?fq=B:2601" alt="Dolce Gabbana" title="Dolce Gabbana" class="Dolce Gabbana"></a>
    </li>
    <li>
      <a href="/busca/?fq=B:2794" alt="Ferrari" title="Ferrari" class="Ferrari"></a>
    </li>
    <li>
      <a href="/busca/?fq=B:2591" alt="Giorgio Armani" title="Giorgio Armani" class="Giorgio Armani"></a>
    </li>
    <li>
      <a href="/busca/?fq=B:2596" alt="Boss - Hugo Boss" title="Boss - Hugo Boss" class="Boss - Hugo Boss"></a>
    </li>
    <li>
      <a href="/busca/?fq=B:2695" alt="Paco Rabanne" title="Paco Rabanne" class="Paco Rabanne"></a>
    </li>
  </ul>
</div>