<div id="content_footer">
    <div id="div_atendimento">
        <div id="institucional">
            <h4>
                <p><span>></span>Institucional</p>
            </h4>
            <ul>
                <li><a href="/central-de-atendimento/quem-somos">Quem Somos</a></li>
                <li><a href="/central-de-atendimento/politica-privacidade">Política de Privacidade</a></li>
                <li><a href="/central-de-atendimento/seguranca">Segurança</a></li>
                <li><a href="/central-de-atendimento/politica-de-troca">Política de Troca</a></li>

            </ul>
        </div>
        <div id="duvidas">
            <h4>
                <p><span>></span>Dúvidas</p>
            </h4>
            <ul>
                <li><a href="/central-de-atendimento">Central de Atendimento</a></li>
                <li><a href="http://www.planalto.gov.br/ccivil_03/leis/l8078.htm">Código de Defesa do Consumidor</a></li>
                <li><a href="/central-de-atendimento/perguntas-frequentes">Perguntas Frequentes</a></li>
            </ul>
        </div>
        <div id="sevicos">
            <h4>
                <p><span>></span>Serviços</p>
            </h4>
            <ul>
                <li><a href="/busca/?fq=H:152">Mais Vendidos</a></li>
                <li><a href="/busca/?fq=H:154">Novidades</a></li>
                <li><a href="/busca/?fq=H:153">Ofertas</a></li>
                <li><a href="/perfumes-importados">Todo Site</a></li>
            </ul>
        </div>
        <div id="redes_sociais">
            <h4>
                <p><span>></span>Redes Sociais</p>
            </h4>
            <ul>
                <li>
                    <a href="https://www.facebook.com/azperfumes" id="face" target="_blank" title="Facebook"></a>
                </li>
                <li>
                    <a href="https://twitter.com/aazperfumes" id="twitter" target="_blank" title="Twitter"></a>
                </li>
                <li>
                    <a href="https://plus.google.com/u/0/b/101937829773781787317/101937829773781787317/posts" id="google" target="_blank" title="Google+"></a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="http://blog.aazperfumes.com.br/" id="azp" target="_blank" title="AZ-Perfumes"></a>
                </li>
                <li>
                    <a href="http://www.pinterest.com/azperfumes/" id="pin" target="_blank" title="Pinterest"></a>
                </li>
                <li>
                    <a href="http://instagram.com/aazperfumes" id="istag" target="_blank" title="Instagram"></a>
                </li>
            </ul>
        </div>
    </div>

    <div id="pagamento_vendas">
        <div id="pagamento_seguranca" class="left">
            <div id="formas_pagamento">
                <h4>
                    <p><span>></span>Formas de pagamento</p>
                </h4>
                <ul id="bandeiras">
                    <li id="visa" title="Visa">Visa</li>
                    <li id="master" title="Mater Card">Mater Card</li>
                    <li id="elo" title="Elo">Elo</li>
                    <li id="hipercard" title="hipercard">Hipercard</li>
                    <li id="american" title="American Express">American Express</li>
                    <li id="dinners" title="Dinners Club">Dinners Club</li>
                    <li id="deposito" title="Depósito">Depósito</li>
                    <!--<li id="moip" title="moip">MOIP</li>-->
                    <li id="boleto" title="Boleto">Boleto</li>
                    <li id="pagseguro" title="Pagseguro">Pagseguro</li>
                    <li id="paypal" title="paypal">PayPal</li>
                    <li id="bcash" title="BCash">BCash</li>
                    
                    <!-- <br /><br /><p>*desconto de 10% para pagamento com boleto, depósito.</p> -->
                </ul>
            </div>
            <div id="seguranca_entregas">
                <div id="seguranca" class="left">
                    <h4>
                        <p><span>></span>Segurança garantida</p>
                    </h4>
                    <ul id="selos">
                        <li id="eouro" title="Digicert">
                            <!-- Begin DigiCert site seal HTML and JavaScript -->
                            <div id="DigiCertClickID_9TA5G5x0" data-language="en_US">
                            <a href="https://www.digicert.com/unified-communications-ssl-tls.htm">UCC Certificates</a>
                            </div>
                            <script type="text/javascript">
                            var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_9TA5G5x0", "7", "s", "black", "9TA5G5x0"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
                            </script>
                            <!-- End DigiCert site seal HTML and JavaScript -->
                        </li>
                        <li class="ebit" style="margin-right:8px;">
                            <!--<a id="seloEbit" href="http://www.ebit.com.br/#a-a-z-perfumes" target="_blank" onclick="redir(this.href);"></a>-->  
                            <a id="seloEbit" href="http://www.ebit.com.br/#AZ-PERFUMES" target="_blank" onclick="redir(this.href);"></a> <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?2615"> </script>
                        </li>
                        <li>
                            <div id="armored_website">
                                <param id="aw_preload" value="true" />
                            </div>
                            <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
                        </li>
                        <li>
                            <div class="trustedcompany-seal">
                                <a href="http://trustedcompany.com/br/aazperfumes.com.br-opiniões" target="_blank" title="Aazperfumes avaliações no TrustedCompany.com">
                                    <img src="//trustedcompany.s3.amazonaws.com/sites/all/modules/custom/tc_site_integrations_seal/images/seal.png" alt="Aazperfumes avaliações no TrustedCompany.com" style="width: 100px; height: 115px;" />
                                </a>
                            </div>
                        </li>
                        <li class="fcontrol">
                            <img src="/arquivos/Fcontrol.png" alt="Fcontrol" />
                        </li>
                    </ul>
                </div>
                <div id="entregas" class="right">
                    <h4>
                        <p><span>></span>Entregas</p>
                    </h4>
                    <span id="img_entregas" style="width: 206px; height: 50px; margin-top: -18px; margin-left: 10px; display: block; background: url('http://www.aazperfumes.com.br/arquivos/sprite.png') -56px -150px;"></span>
                </div>
            </div>
        </div>
        <div id="vendas" class="right">
            <ul>
                <li>
                    <span class="icon_tel left"></span>
                    <span class="right">
                        <p>Televendas</p>
                        <p>(11) 5070-5660</p>
                    </span>
                </li>
                <li>
                    <a href="http://atendimento.sistemadechat.com.br/chat.php?ws=YXpwZXJmdW1lcy5jb20uYnI=" target="_blank" title="Precisa de Ajuda">
                        <span class="icon_chat left"></span>
                        <span class="right atendimento-area">
                            <p>Atendimento</p>
                            <p>Online</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="div_produtos">
        <div id="title_perfumes">
            <h4>
                Perfumes Importados
            </h4>
            <ul>
                <li><a href="/busca/?fq=H:179">Perfumes importados<br/>mais vendidos</a></li>
                <li><a href="/perfumaria/perfumes-importados/Masculino?PS=12&amp;map=c,c,specificationFilter_29">Perfumes importados<br/>masculinos</a></li>
                <li><a href="/perfumaria/perfumes-importados/Feminino?PS=12&amp;map=c,c,specificationFilter_29">Perfumes importados<br/>femininos</a></li>
            </ul>
        </div>
        <div id="title_perf_masculinos">
            <h4>
                Perfumes masculinos
            </h4>
            <ul>
                <li><a href="/212-vip-men-by-carolina-herrera-eau-de-toilette-masculino/p">212 vip</a></li>
                <li><a href="/212-men-de-carolina-herrera-eau-de-toilette-masculino/p">212 men</a></li>
                <!-- li><a href="#">212 sexy</a></li -->
                <li><a href="/ferrari-black-masculino-de-ferrari-eau-de-toilette/p">Ferrari Black</a></li>
                <li><a href="/euphoria-men-de-calvin-klein-eau-de-toilette-masculino/p">Euphoria masculino</a></li>
            </ul>
        </div>
        <div id="title_perf_femininos">
            <h4>
                Perfumes femininos
            </h4>
            <ul>
                <li><a href="/lady-million-paco-rabanne-feminino-eau-de-parfum/p">Lady Million</a></li>
                <!-- li><a href="#">Acqua di Gioia</a></li -->
                <li><a href="/light-blue-by-dolce-gabbana-eau-de-toilette-feminino/p">Light Blue</a></li>
                <li><a href="/eternity-de-calvin-klein-eau-de-parfum-feminino/p">Eternity calvin klein</a></li>
                <li><a href="/212-vip-feminino-de-carolina-herrera-eau-de-parfum-feminino/p">212 vip feminino</a></li>
            </ul>
        </div>
        <div id="title_mais_vendidos">
            <h4>
                Mais vendidos
            </h4>
            <ul>
                <!-- <li><a href="#">Banho</a></li>
                <li><a href="#">Desodorante</a></li>
                <li><a href="#">Esfoliante</a></li>
                <li><a href="#">Hidratante</a></li>
                <li><a href="#">Talco</a></li> -->
                <li><a href="/1-million-de-paco-rabanne-eau-de-toilette-masculino/p">Perfume One Million</a></li>
                <li><a href="/acqua-di-gioia-de-giorgio-armani-eau-de-parfum-feminino/p">Acqua di Gioia</a></li>
                <li><a href="/212-sexy-de-carolina-herrera-eau-de-parfum-feminino/p">212 Sexy</a></li>
                <li><a href="/ch-de-carolina-herrera-eau-de-toilette-feminino/p">Perfume CH</a></li>
                <li><a href="/fantasy-britney-spears-eau-de-parfum-feminino/p">Perfume Fantasy</a></li>
                <li><a href="/animale-grife-animale-eau-de-toilette-masculino/p">Perfume Animale</a></li>
                <li><a href="/polo-de-ralph-lauren-eau-de-toilette-masculino/p">Perfume Polo</a></li>
            </ul>
        </div>
    </div>

    <div id="bottom">
        <div class="left" id="text_copyright" itemscope="itemscope" itemtype="http://schema.org/LocalBusiness">
            <!--p>Copyright © 2013 www.azperfumes.com.br, TODOS OS DIREITOS RESERVADOS. As fotos aqui veiculadas, logotipo e marca são de propriedade do site www.azperfumes.com.br.  É vetada a sua reprodução, total ou parcial, sem a expressa autorização da administradora do site.</p-->
            <p><b>*O preço válido será o preço apresentado na finalização da compra.</b></p>
            <p>RAZÃO SOCIAL: Perfumes Web Com de Artigos de Perfumaria Ltda-ME<br />
                CNPJ: 08.352.434-0001-62<br />
                INSCRIÇÃO ESTADUAL: 147.719.786.117<br />
                NOME FANTASIA: Az Perfumes</p>
            <address itemprop="address" itemscope="itemscope" itemtype="http://schema.org/PostalAddress">ENDEREÇO: <span itemprop="streetAddress">Av. Senador Casemiro da Rocha, 609 cj 45.</span> CEP: <span itemprop="postalCode">04047-001</span>. <span itemprop="addressLocality">São Paulo</span>/<span itemprop="addressRegion">SP</span></address>
        </div>
        <div class="right" id="logos">
            <ul>
                <li>
                    <a href="http://www.vtex.com.br/" target="_blank" title="Vtex"><span id="logo_vtex"></span></a>
                </li>
                <li>
                    <a href="http://www.onesky.com.br/" target="_blank" title="One Sky"><span id="logo_profite"></span></a>
                </li>
            </ul>
        </div>
    </div>
    <!--Start of Zopim Live Chat Script 
    <script type="text/javascript">
        window.$zopim || (function(d, s) {
            var z = $zopim = function(c) {
                z._.push(c)
            }, $ = z.s =
                    d.createElement(s), e = d.getElementsByTagName(s)[0];
            z.set = function(o) {
                z.set.
                        _.push(o)
            };
            z._ = [];
            z.set._ = [];
            $.async = !0;
            $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?1fnnlJ4yBqJAN2k3G9WTtaQWxZvwgCO0';
            z.t = +new Date;
            $.
                    type = 'text/javascript';
            e.parentNode.insertBefore($, e)
        })(document, 'script');
    </script>-->
    <!-- End of Zopim Live Chat Script-->
    <!-- vtex.cmc:navigationHistory/> -->
</div>