<div id="catbar" class="ext">
  <div class="int">
    <div class="logo">AAZ Destaques</div>
    <div class="nav">
      <ul>
        <li><a href="/busca/?fq=H:184">Ofertas</a></li>
        <li><a href="/busca/?fq=H:192">Ganhe Brinde</a></li>
        <li><a href="/dicas/top-dez-perfumes">Mais Vendidos</a></li>
        <li><a href="/Marcas">Marcas</a></li>    
        <li><a href="/perfumaria/perfumes-importado/busca/?fq=H:187">Lançamentos</a></li>
      </ul>
    </div>
    
  </div>
</div>