<footer>   
  
  <!-- bar -->
  <div id="bar-footer" class="ext">
    <div class="int">
      <div class="col50 footer-news">
        <div class="newsletter newsletter2">
          <div class="header-news">
            <h3>Cadastre-se e <b>GANHE um BRINDE ESPECIAL</b></h3>
            <p>em sua primeira compra</p>
          </div>
          <div id="news-return">
            <p><strong>Obrigado por se cadastrar na AaZ Perfumes</strong></p>
          </div>
          <div class="content-news">
            <form id="cadastrese" name="cadastro" enctype="multipart/form-data" method="post">
              <fieldset>
                <span class="cp-nome">          
                  <input name="nome" type="text" class="cp-news nome" id="nome" placeholder="Seu nome" value="" />
                </span>
                <span class="cp-email">
                  <input name="email" type="text" class="cp-news email" id="email" placeholder="Seu e-mail" value="" />
                </span>
                <span class="cp-sexo">
                  <label><input type="radio" name="sexo" value="Masculino" id="sexo_masculino" checked="checked" />Masculino</label>
                  <label><input type="radio" name="sexo" value="Feminino" id="sexo_feminino" />Feminino</label>          
                </span>
                <span class="cp-date" style="display:none">
                  <label for="date">Data de Aniversário:</label>
                  <input name="date" type="text" class="cp-news date" id="date" placeholder="DATA DE ANIVERSÁRIO" value="" />
                </span>
                <span class="cp-send">
                  <input type="submit" name="submit" class="submitCadastre" id="submitCadastre2" value="Cadastrar" />
                </span>
              </fieldset>
            </form>
            <p>*Ao se cadastrar você concordará com nossa <a href="/institucional/politica-de-privacidade">política de privacidade</a></p>
          </div>
        </div>
      </div>
      <div class="col50 footer-social">
        <div>
          <h3>Siga</h3>
          <ul>
            <li><a href="https://www.facebook.com/azperfumes" target="_blank" title="Nova página: Facebook"><span class="eq01 gicon">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/aazperfumes" target="_blank" title="Nova página: Instagram"><span class="eq02 gicon">Instagram</span></a></li>
            <li><a href="https://www.youtube.com/channel/UCRdNL3qNFnQULPVIcwgq9DA" target="_blank" title="Nova página: YouTube"><span class="eq03 gicon">YouTube</span></a></li>
            <!--<li><a href="https://plus.google.com" target="_blank" title="Nova página: Google+"><span class="eq04 gicon">Google+</span></a></li>-->
            <li><a href="https://twitter.com/aazperfumes" target="_blank" title="Nova página: Twitter"><span class="eq05 gicon">Twitter</span></a></li>
            <li class="desk"><a href="https://in.pinterest.com/aazperfumes/" target="_blank" title="Nova página: Pinterest"><span class="eq06 gicon">Pinterest</span></a></li>
            <li><a href="http://blog.aazperfumes.com.br" target="_blank" title="Nova página: Blog"><span class="eq07 gicon">Blog</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- bar -->

  <div id="footer" class="ext"> 
    <div class="int">
      
      <!-- links -->
      <div class="line nav-footer">
        <div class="col20">
          <h4>Institucional</h4>
          <ul class="nav-list">            
            <li><a href="/institucional/quem-somos">Quem Somos</a></li>
            <li><a href="/institucional/politica-de-privacidade">Política de Privacidade</a></li>
            <li><a href="/institucional/seguranca">Segurança</a></li>
            <li><a href="/institucional/politica-de-troca">Política de Troca</a></li>
          </ul>
        </div>
        <div class="col30 box">
          <h4>Suporte</h4>
          <ul class="nav-list">            
            <li><a href="/suporte/duvidas-frequentes">Dúvidas Frequentes</a></li>
            <!--<li><a href="/central-de-atendimento">Fale Conosco</a></li>-->
            <!--<li><a href="/suporte/politica-de-entrega">Política de Entrega</a></li>-->
            <li><a href="/suporte/trocas-e-devolucoes">Trocas e Devoluções</a></li>
            <!--<li><a href="/suporte/pagamentos">Pagamentos</a></li>-->
            <li><a href="http://www.planalto.gov.br/ccivil_03/leis/l8078.htm" target="_blank" title="Nova janela">Código de defesa do consumidor</a></li>
          </ul>
        </div>
        
        <div class="col20 box">
          <h4>+ AAZ Perfumes</h4>
          <ul class="nav-list">            
            <li><a href="http://blog.aazperfumes.com.br/" target="_blank" title="Nova página: Blog">Blog</a></li>
            <li><a href="https://www.youtube.com/channel/UCRdNL3qNFnQULPVIcwgq9DA" target="_blank" title="Nova página: Youtube">Youtube</a></li>
            <li><a href="http://instagram.com/aazperfumes" target="_blank" title="Nova página: Instagram">Instagram</a></li>
            <li><a href="https://www.facebook.com/azperfumes" target="_blank" title="Nova página: Facebook">Facebook</a></li>
            
          </ul>
        </div>
        
        <div class="col30 atendimento box">
          <h4>Atendimento</h4>
          <p><span class="gicon eq01"></span>TELEVENDAS <b><span class="ddd"><!--(11)--></span> <!--3804-9155 -->Em manutenção</b></p>
          <p><span class="gicon eq02"></span>WHATSAPP <b><span class="ddd">(11)</span> 95393-5748 </b></p>
          <p><span class="gicon eq03"></span>E-MAIL <b>sac@aazperfumes.com.br</b></p>
        </div>
      </div>
      <!-- links -->
    </div>
  </div>

  <div id="pitbar" class="ext">
    <div class="int">
      <ul>
        <li><a class="one"><span class="gicon eq01"></span><b>Frete Grátis <span class="tx">em compras acima de R$ 150</span></b></a></li>
        <li><a><span class="gicon eq02"></span>Site 100% Seguro <span class="tx">garantimos a segurança dos<br /> seus dados cadastrais</span></a></li>
        <li><a class="one"><span class="gicon eq03"></span>Entrega Rápida <span class="tx">com agilidade e segurança</span></a></li>
        <li><a class="one"><span class="gicon eq04"></span>Em até 10x sem juros <span class="tx">nos cartões de crédito</span></a></li>
        <li><a><span class="gicon eq05"></span>Ganhe brindes <span class="tx">a AAZ Perfumes sempre tem<br /> um brinde especial para você</span></a></li>
      </ul>
    </div>
  </div>

  <div id="selos" class="ext">
    <div class="int">
      <div class="col25">
        <h5>Pagamento</h5>
        <img src="/arquivos/gt-formas-pagamento.gif" alt="Formas de pagamento: Visa, MasterCard, HiperCard, Amex, Dinners, Depósito, Boleto, PayPal" />
      </div>

      <div class="col60">
        <h5>Segurança</h5>
        <span class="selo">
            <ul>
                <li id="eouro" title="Digicert">
                    <!-- Begin DigiCert site seal HTML and JavaScript -->
                    <div id="DigiCertClickID_9TA5G5x0" data-language="en_US">
                    <a href="https://www.digicert.com/unified-communications-ssl-tls.htm">UCC Certificates</a>
                    </div>
                    <script type="text/javascript">
                    var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_9TA5G5x0", "7", "s", "black", "9TA5G5x0"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="//seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
                    </script>
                    <!-- End DigiCert site seal HTML and JavaScript -->
                </li>
                <li class="ebit" style="margin-right:8px;">
                    <a id="seloEbit" href="http://www.ebit.com.br/az-perfumes" target="_blank" onclick="redir(this.href);"></a>
                    <a id="seloEbit" href="http://www.ebit.com.br/#AZ-PERFUMES" target="_blank" onclick="redir(this.href);"></a> <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?2615"> </script>
                </li>
                <li>
                  <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=2SqdP3Gjh3S0vvwJVOlpHzxFc22d5h4vbhLoBkm9OBHbmKYXHTTWpw7ZxJ6t"></script></span>
                </li>
                <li>
                    <div class="yv-seal">
                        <a href="https://www.lojaconfiavel.com/aazperfumes" class="ts-footerstamp" data-lcname="aazperfumes" target="_blank">
                            <img src="https://service.yourviews.com.br/Image/96c8695d-1bfa-419b-8168-09c326344b1b/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" />
                        </a>
                    </div>
                </li>
                <li>
                  <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html#url=http://www.aazperfumes.com.br/" target="_blank"><img src="//azperfumes.vteximg.com.br/arquivos/icon-seguranca-google.png?v=2" alt="Site Seguro Google" /></a>
                </li>
            </ul>
        </span>
      </div>

      <div class="col10">
        <h5>Entrega</h5>
        <img src="/arquivos/gt-entrega.gif" alt="Sedex" />
      </div>

    </div>
  </div>

  <div id="copyright">
    <div class="int">
      <div class="informacoes-legais">
        <p>*CASH BACK - Ganhe até R$50 de volta para sua próxima compra. Válido para produtos selecionados. </p>
        <p>*CASH BACK - O cupom será enviado via email após o pedido ser faturado e enviado. Promoção não cumulativa com outras. </p>
        <p>*CASH BACK - O cupom deverá ser usado em até dois meses após o recebimento do e-mail.</p>
        <p>*CASH BACK - No caso do descumprimento das regras, o pedido poderá ser cancelado.</p>
        <p>*O preço válido será o preço apresentado na finalização da compra.</p>
        <p>*Frete grátis em compras acima de R$ 150,00.</p>
        <p>*Todas as imagens são meramente ilustrativas.</p>
        <p>RAZÃO SOCIAL: Perfumes Web Com de Artigos de Perfumaria Ltda-ME   CNPJ: 08.352.434-0001-62    INSCRIÇÃO ESTADUAL: 147.719.786.117   NOME FANTASIA: Az Perfumes</p>
        <p>ENDEREÇO: Av. Senador Casemiro da Rocha, 609 cj 93. CEP: 04047-001. São Paulo/SP</p>
      </div>
      <div class="powered-by">
        <a href="http://www.vtex.com/" title="nova janela: Vtex"><strong>Powered by</strong><br /><img src="/arquivos/vtex-novo-preto.png" alt="Vtex" /><span>Vtex</span></a>
        <a href="http://www.onesky.com.br/" title="nova janela: OneSky"><strong>Created by</strong><br /><img src="/arquivos/logo-onesky.gif" alt="onesky" /><span>Innovar8</span></a>
      </div>
    </div>
  </div>
</footer>
<a id="voltartopo">Voltar para o topo</a>

<!-- Script Yourviews -->
<script type="text/javascript">
    (function () {
        var yvs = document.createElement("script");
        yvs.type = "text/javascript";
        yvs.async = true;
        yvs.id = "_yvsrc";
        yvs.src = "//service.yourviews.com.br/script/96c8695d-1bfa-419b-8168-09c326344b1b/yvapi.js";
        var yvs_script = document.getElementsByTagName("script")[0];
        yvs_script.parentNode.insertBefore(yvs, yvs_script);
    })();
</script>
<!-- /Script Yourviews -->