<header>
	<div id="header" class="ext">
		<div class="int">

			<!-- burger -->
			<a class="burger">Menu</a>
			<!-- burger -->

			<!-- logo -->
			<div class="logo">
		    	<span>AaZ Perfumes</span>
	    		<a href="/" title="home"><img src="/arquivos/gt-logo.gif" alt="AaZ Perfumes" /></a>
			    <a class="selo-16" title="16 Anos"><img src="/arquivos/selo-16anos.png" /></a>    
			</div>
			<!-- logo -->

			<!-- search -->
			<div class="search">
				<vtex.cmc:fullTextSearchBox />
			</div>
			<!-- search -->

			<!-- Selos Original e segurança -->
			<div class="seals">
				<ul>
					<li>
						<span class="icon-original"></span>
						<span class="seals-text">
							<p>PRODUTOS</p>
							<p><strong>100% ORIGINAIS</strong></p>
						</span>
					</li>
					<!--<li>-->
					<!--	<span class="icon-siteseguro"></span>-->
					<!--	<span class="seals-text">-->
					<!--		<p>SITE</p>-->
					<!--		<p><strong>100% SEGURO</strong></p>-->
					<!--	</span>-->
					<!--</li>-->
				</ul>
			</div>
			<!-- Selos Original e segurança -->

		</div>
	</div>
</header>
<div class="chatAtivo" style="display: none;">
	<div class="botaoFechar"></div>
	<iframe src="https://atendimento.sistemadechat.com.br/chat.php?ws=YXpwZXJmdW1lcy5jb20uYnI" frameborder="0" width="400" height="500"></iframe>
</div>