<h2>Algumas de nossas marcas</h2>
<div class="marca-carrossel">
  <div class="ma-prev"><img src="/arquivos/prev_marca.gif" alt="próxima" /></div>
  <div class="ma-next"><img src="/arquivos/next_marca.gif" alt="anterior" /></div>
  <ul>
    <img src="/arquivos/gt-base-marca.gif" class="marca-base" alt="vazio" />
    <li><a href="/Hermes Paris?map=b"><img src="/arquivos/hermes-paris.gif" alt="Hermes Paris" /></a></li>
    <li><a href="/Ivi Salohan?map=b"><img src="/arquivos/ivisalohan.gif" alt="Ivi Salohan" /></a></li>
    <li><a href="/Carolina Herrera?map=b"><img src="/arquivos/carolina-herrera.gif" alt="Carolina Herrera" /></a></li>
    <li><a href="/Dolce Gababana?map=b"><img src="/arquivos/dolce-e-gabbana.gif" alt="Dolce e Gabbana" /></a></li>
    <li><a href="/Ferrari?map=b"><img src="/arquivos/ferrari.gif" alt="Ferrari" /></a></li>
    <li><a href="/Prada Perfum?map=b"><img src="/arquivos/prada.gif" alt="Prada Perfum" /></a></li>
    <li><a href="/Hugo Boss?map=b"><img src="/arquivos/hugo-boss.gif" alt="Hugo Boss" /></a></li>
    <li><a href="/Chloé?map=b"><img src="/arquivos/chloe.gif" alt="Chloé" /></a></li>
    <li><a href="/Azzaro?map=b"><img src="/arquivos/azzaro.gif" alt="Azzaro" /></a></li>
    <!-- <li><a href="?map=b"><img src="/arquivos/dior.gif" alt="Dior" /></a></li> -->
  </ul>
  <a href="/marcas/todas-as-marcas" class="todas-marcas">VER TODAS AS MARCAS</a>
</div>