<section class="bar-price">
	<ul class="line2">
		<li class="col20">
			<a href="/de-0-a-50?PS=30&amp;map=priceFrom">
				<p><span>Produtos até</span>
					<strong>R$ 50</strong>
				</p>
			</a>
		</li>
		<li class="col20">
			<a href="/de-50,01-a-100?PS=30&amp;map=priceFrom">
				<p>
					<span>Produtos até</span>
					<strong>R$ 100</strong>
				</p>
			</a>
		</li>
		<li class="col20">
			<a href="/de-100,01-a-150?PS=30&amp;map=priceFrom">
				<p>
					<span>Produtos até</span>
					<strong>R$ 150</strong>
				</p>
			</a>
		</li>
		<li class="col20">
			<a href="/de-150,01-a-200?PS=30&amp;map=priceFrom">
				<p>
					<span>Produtos até</span>
					<strong>R$ 200</strong>
				</p>
			</a>
		</li>
		<li class="col20">
			<a href="/de-200,01-a-250?PS=30&amp;map=priceFrom">
				<p>
					<span>Produtos até</span>
					<strong>R$ 250</strong>
				</p>
			</a>
		</li>
	</ul>
</section>