<script type='text/javascript' src='/arquivos/gtslick.min.js'></script>
<script src="/arquivos/jquery.flexisel.js" type="text/javascript"></script>
<script src="/arquivos/all-in-mail-03.js" type="text/javascript"></script>
<script src="/arquivos/common.min.js" type="text/javascript"></script>
<script src="/arquivos/dropdown-menu.js" type="text/javascript"></script>