<div style="display:none"><vtex.cmc:welcomeMessage /></div>

<section class="masterTopo">
	<div class="content">
		<line class="conteudoTop">
			<div class="box3"><p> <strong>Whatsapp: (11) 95393-5748</strong></p></div>
			<div class="box3"><p> <strong>Televendas: (11) 3804-9155</strong></p></div>
			<div class="box3 horario"><p>Horário de funcionamento: Segunda a Sexta das 09h às 18hrs</p></div>
			<div class="box5">
				<span class="IconChat"></span>
				<p><a href="http://atendimento.sistemadechat.com.br/chat.php?ws=YXpwZXJmdW1lcy5jb20uYnI" target="_blank">Chat Online</a></p>
			</div>
		</line>
	</div>
</section>
<section class="masterBannerTopBar">
	<div class="content">
		<vtex:bannerTopBar />
		<div class="banner-topbar-mobile"><vtex:bannerTopBarMobile /></div>
	</div>
</section>
<section class="masterContentInfos">
	<div class="content">
		<div class="pitbarNew">
			
			<div class="blocoCt frete">
				<span class="iconeTopo icone-frete"></span><a href="/suporte/duvidas-frequentes"><strong>Frete Grátis</strong></a>
			</div>

			<div class="blocoCt">
				<span class="iconeTopo icone-entrega"></span><a class="desk" href="/suporte/duvidas-frequentes">Entrega até <strong>24 horas</strong></a>
			</div>

			<div class="blocoCt juros">
				<span class="iconeTopo icone-juros"></span><a class="xxbbxx">Até <strong>10X sem juros</strong></a>
			</div>

			<div class="blocoCt">
				<span class="iconeTopo icone-Cadeado"></span><span class="xxbbxxT">Compra Segura</span>
			</div>
			
            <a class="open-menu click-open-2">Categorias</a>
            <div class="nav-user sub drop-2">
                <ul class="buttons">
                    <!-- account -->
                    <li class="open desk user hover-open" style="display:none">
                        <a class="first sub-open"><span class="gicon eq01"></span> Login</a>
                        <ul class="drop-user sub mbb drop"></ul>
                    </li>
                    <!-- account -->
                    <!-- minicart -->
                    <li class="open desk minicart hover-open">
                         <a class="first sub-open">
                            <span class="gicon eq02"></span> Compras
                            <vtex.cmc:AmountItemsInCart />
                        </a>
                        <div class="resume-cart sub mbb drop"></div>
                    </li>
                    <!-- minicart -->
                </ul>
                <!-- menu mobile -->
                <div class="menu-mobile"><a class="close-menu"></a><h3>Categorias</h3><ul></ul></div>
                <!-- menu mobile -->
            </div>
            
		</div>
	</div>
</section>

<!-- topbar -->
<!--<div id="topbar" class="ext">-->
<!--  <div class="int">-->
    
    <!-- pitbar -->
    <!--<div class="pitbar">-->
    <!--  <a href="/suporte/duvidas-frequentes"><span class="gicon eq01"></span><strong>Frete Grátis</strong></a>-->
    <!--  <a class="desk" href="/suporte/duvidas-frequentes"><span class="gicon eq02"></span>Entrega até 24 horas</a>-->
    <!--  <a class='xxbbxx'><span class="gicon eq03"></span>Até 10X sem juros</a>-->
    <!--</div>-->
    <!-- pitbar -->

    <!-- atendimento -->
    <!--<div class="top-contato">-->
    <!--  <a class="first"><span class="gicon eq01"></span><em>Whatsapp</em> (11) 95393-5748</a><a><span class="gicon eq02"></span><em>Televendas</em> (11) 3804-9155</a><a class="chat" href="http://atendimento.sistemadechat.com.br/chat.php?ws=YXpwZXJmdW1lcy5jb20uYnI=" target="_blank" title="Nova janela: Chat"><span class="gicon eq03"></span><em>Chat</em> ONLINE</a><a class="first"><em>Horário de Funcionamento</em> Seg/Sex das 09h às 18Hrs</a>-->
    <!--</div>-->
    <!-- atendimento -->

    <!-- nav user -->
<!--    <a class="open-menu click-open-2">Categorias</a>-->
<!--    <div class="nav-user sub drop-2">-->
<!--      <ul class="buttons">-->
        <!-- account -->
<!--        <li class="open desk user hover-open" style="display:none">-->
<!--          <a class="first sub-open"><span class="gicon eq01"></span> Login</a>-->
<!--          <ul class="drop-user sub mbb drop">-->
<!--          </ul>-->
<!--        </li>-->
        <!-- account -->

        <!-- minicart -->
<!--        <li class="open desk minicart hover-open">-->
<!--          <a class="first sub-open">-->
<!--            <span class="gicon eq02"></span> Compras-->
<!--            <vtex.cmc:AmountItemsInCart />-->
<!--          </a>-->
<!--          <div class="resume-cart sub mbb drop"></div>-->
<!--        </li>-->
        <!-- minicart -->
<!--      </ul>-->

      <!-- menu mobile -->
<!--      <div class="menu-mobile"><a class="close-menu"></a><h3>Categorias</h3><ul></ul></div>-->
      <!-- menu mobile -->
<!--    </div>-->
    
<!--    <br class="clear" />-->
<!--  </div>-->
<!--</div>-->
<!-- topbar -->