<div class="my_login" style="display:none"><vtex.cmc:welcomeMessage /></div>
<header>
	<div id="header" class="ext">
		<div class="wrap-1">

			<!-- burger -->
			<a class="burger simple-open" rel="gt-categoria">Menu</a>
			<a class="open-menu click-show" rel="gt-categoria" rev="left">Categorias</a>
			<!-- burger -->
			
			<div class="col-left logo">
		    	<span>AAZ Perfumes</span>
	    		<a href="/" title="home"><img src="/arquivos/gt-logo.gif" alt="AAZ Perfumes" /></a>			    
			</div>
			
			<div class="col-left selo16"><img src="//azperfumes.vteximg.com.br/arquivos/selo-17anos.png" /></div>
			
			<div class="col-left search">
				<!--<vtex.cmc:fullTextSearchBox />-->
				<div class="rh-searchbar-app"></div>
                <!-- BARRA DE BUSCA ROI HERO -->
                <script type="text/javascript">
                	window['rhClientId'] = '5e540d008531ea36696020361b9ea6561f1f5307' || rhClientId;
                	window['rhSearchbarId'] = 22112 || rhSearchbarId;
                	
                	(function(){
                		if (!document.getElementById('__rhSbJs__')){
                			let sb = document.createElement('script');
                			sb.id = '__rhSbJs__';
                			sb.type = 'text/javascript';
                			sb.async = 'true';
                			sb.src = 'https://www.roihero.com.br/busca/js/searchbar/searchbar.min.js';
                			var fs = document.getElementsByTagName('script')[0];
                			fs.parentNode.insertBefore(sb,fs);
                		}
                	}())
                </script>
                <!-- BARRA DE BUSCA ROI HERO -->
			</div>			
			
			<div class="col-right nav-user">
				<ul class="line2">
					<li class="col-left box desk user hover-open"><a class="first sub-open login-redir" rel="/account/orders"><span class="gicon eq01"></span> Meus Pedidos</a></li>
					<li class="col-left box desk minicart hover-open">
			            <a class="first sub-open">
			              <span class="gicon eq02"></span> Compras
			              <vtex.cmc:AmountItemsInCart />
			            </a>
			            <a class="close-cart click-hide" rev="right" rel="nav-user">fechar</a>
            			<div class="resume-cart sub mbb drop"></div>
          			</li>
				</ul>
			</div>

		</div>
	</div>
</header>

<div class="sub drop-2 nav-mb">
    <ul class="user-mb">
       <li><a id="login">Login</a></li>
       <li><a href="/checkout/#/cart">Compras <vtex.cmc:AmountItemsInCart /></a></li>
    </ul>
    <div class="menu-mobile"><a class="close-menu simple-open" rel="nav-mb"></a><h3>Categorias</h3><ul></ul></div>
</div>