<div id="content_header">
    <div id="logo" class="left">
        <h1>
            <a href="/">
                <img src="/arquivos/logo.jpg" alt="AZ Perfumes" title="AZ Perfumes"/>
            </a>
        </h1>
    </div>
    <div id="conteudo_text" class="right">
        <div id="topBar">
            <ul>
                <li>
                    <a href="/central-de-atendimento" title="Central de Atendimento">Central de Atendimento</a>
                    <span>/</span>
                </li>
                <!--li>
                        <a href="#" title="lista de desejos">lista de desejos</a>
                        <span>/</span>
                </li>
                <li>
                    <a href="#" title="precisa de ajuda">precisa de ajuda</a>
                    <span>/</span>
                </li-->
                <li>
                    <a href="/account/orders" title="meus pedidos">meus pedidos</a>
                </li>
            </ul>
        </div>
        <div id="busca_textos">
            <div class="busca_az left">
                <!-- UserText -->
                <div class="userText">
                    <vtex.cmc:welcomeMessage />
                </div>
                <!-- Busca -->
                <div class="searchWrapper">
                    <vtex.cmc:fullTextSearchBox />
                </div>
            </div>
            <div id="textos_header" class="right">
                <div id="chat_tel">
                    <ul>
                    
                        <li id="tel_li">
                            <span id="tel_span"></span>
                            <p>Televendas (11) 5070-5660</p>
                        </li>
                    </ul>
                </div>
                <div id="banner_cart">
                    <div id="banner_header" class="left">
                        <vtex:BannerTopHeader/>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Header Flutuante -->
<div class="floatingTopBar" style="display:none;">

    <div class="center">
        <div class="logo_flutuante left">
            <a href="/">
                <img src="/arquivos/logo_flutuante.jpg" alt="AZ Perfumes" title="AZ Perfumes"/>
            </a>
        </div>
        <div id="content_flutuante" class="right">
            <div class="busca_az left">
                <!-- UserText -->
                <div class="userText">
                    <vtex.cmc:welcomeMessage />
                </div>
                <!-- Busca -->
                <div class="searchWrapper">
                    <vtex.cmc:fullTextSearchBox />
                </div>
            </div>
            <div class="cart_header right">
                <a href="/site/carrinho.aspx" class="cartLink">
                    <vtex.cmc:AmountItemsInCart />
                    <span class="txt_itens">itens</span>
                </a>
            </div>
        </div>
    </div>

    <div class="topNav100">
        <div class="ocultar">
            <p>ocultar</p>
            <div class="seta"></div>
        </div>

        <div class="exibir" style="display: none;">
            <p>exibir</p>
            <div class="seta"></div>
        </div>
    </div>

</div>


<div id="menu">
    <div class="ul_menu">
        <h3>
            <a href="/perfumes-importados">Perfumes Importados</a>
            <div class="div_hover_menu importados">
                <ul>
                    <a class="tituloSubmenu"></a>
                    <li><a href="/busca/?fq=H:152">Mais vendidos</a></li>
                    <li><a href="/busca/?fq=H:153">Ofertas</a></li>
                    <li><a href="/LE-FEU-D-ISSEY-De-ISSEY-MIYAKE-Eau-de-Toilette-Feminino/">Perfumes Raros</a></li>
                    <li><a href="#">Presentes</a></li>
                    <!--<li><a href="#">Perfumes com brinde</a></li>-->
                    <li><a href="/busca/?fq=H:154">Lançamentos</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Busque por:</a>
                    <li><a href="http://azperfumes.vtexcommercestable.com.br/perfumaria/feminino">Femininos</a></li>
                    <li><a href="http://azperfumes.vtexcommercestable.com.br/perfumaria/masculino">Masculinos</a></li>
                    <li><a href="http://azperfumes.vtexcommercestable.com.br/perfumaria/unissex">Unissex</a></li>
                    <li><a href="http://azperfumes.vtexcommercestable.com.br/perfumaria/infantil">Infantil</a></li>
                    <!-- <li><a href="#">Por Estilo</a></li>
                    <li><a href="#">Por fragrância</a></li> -->
                </ul>
                <ul>
                    <a class="tituloSubmenu">Marcas:</a>
                    <li><a href="/busca/?fq=H:2559">Carolina Herrera</a></li>
                    <li><a href="/busca/?fq=H:2793">Calvin Klein</a></li>
                    <li><a href="/busca/?fq=H:2794">Ferrari</a></li>
                    <li><a href="/busca/?fq=H:2594">Bvlgari</a></li>
                    <li><a href="/busca/?fq=H:3840">Animale</a></li>
                    <!-- <li><a href="/busca/?fq=H:">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <a class="tituloSubmenu">Mais vendidos:</a>
                    <li><a href="/212-SEXY-MEN-de-CAROLINA-HERRERA-Eau-de-Toilette-Masculino">212 Sexy Men</a></li>
                    <li><a href="/FANTASY-BRITNEY-SPEARS-Eau-de-Parfum-Feminino">Fantasy</a></li>
                    <li><a href="/1-MILLION-de-PACO-RABANNE-Eau-de-Toilette-Masculino">One Million</a></li>
                    <li><a href="/JOOP--Eau-de-Toilette-Feminino/">Joop</a></li>
                    <li><a href="/FERRARI-BLACK-Eau-de-Toilette-Masculino">Ferrari Black</a></li>
                    <li><a href="/busca/?fq=H:152">Veja Mais +</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuPerfumesImportados/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="/perfumaria/masculino">Masculinos</a>
            <div class="div_hover_menu masculino">
                <ul>
                    <a class="tituloSubmenu"></a>
                    <li><a href="/busca/?fq=H:142">Mais vendidos</a></li>
                    <li><a href="/busca/?fq=H:141">Ofertas</a></li>
                    <!--<li><a href="/LE-FEU-D-ISSEY-De-ISSEY-MIYAKE-Eau-de-Toilette-Feminino/">Perfumes Raros</a></li>-->
                    <li><a href="Kits">Presentes</a></li>
                    <!--<li><a href="#">Com brindes</a></li>-->
                    <li><a href="/busca/?fq=H:140">Lançamentos</a></li>
                    <li><a href="/cosmeticos/corpo-e-banho/desodorante">Desodorantes</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Marcas:</a>
                    <li><a href="/busca/?fq=H:2794">Ferrari</a></li>
                    <li><a href="/busca/?fq=H:2559">Carolina Herrera</a></li>
                    <li><a href="/busca/?fq=H:3840">Animale</a></li>
                    <li><a href="/busca/?fq=H:5470">Azzaro</a></li>
                    <li><a href="/busca/?fq=H:2695">Paco Rabbane</a></li>
                    <!-- <li><a href="#">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <a class="tituloSubmenu">Mais vendidos:</a>
                    <li><a href="/212-SEXY-MEN-de-CAROLINA-HERRERA-Eau-de-Toilette-Masculino">212 Sexy Men</a></li>
                    <li><a href="/ARMANI-CODE-de-Giorgio-Armani-Eau-de-Toilette-Masculino/">Armani Code</a></li>
                    <li><a href="/AZZARO-de-Loris-Azzaro-Eau-de-Toilette-Masculino">Azzaro</a></li>
                    <li><a href="/1-MILLION-de-PACO-RABANNE-Eau-de-Toilette-Masculino">One Million</a></li>
                    <li><a href="/FERRARI-BLACK-Eau-de-Toilette-Masculino">Ferrari Black</a></li>
                    <li><a href="ID 142">Veja Mais +</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMasculinos/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="/perfumaria/feminino">Femininos</a>
            <div class="div_hover_menu feminino">
                <ul>
                    <a class="tituloSubmenu"></a>
                    <li><a href="/busca/?fq=H:137">Mais vendidos</a></li>
                    <li><a href="/busca/?fq=H:138">Oferta</a></li>
                    <!--<li><a href="/DIVA-de-DIVA-de-EMANUEL-UNGARO-Eau-de-Toilette-Feminino/p#.UvOSrPldUgA">Raros</a></li>-->
                    <li><a href="/kits">Presentes</a></li>
                    <!--<li><a href="#">Com brindes</a></li>-->
                    <li><a href="/busca/?fq=H:139">Lançamentos</a></li>
                    <li><a href="#">Beleza e Saúde</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Marcas:</a>
                    <li><a href="/busca/?fq=H:2559">Carolina Herrera</a></li>
                    <li><a href="/busca/?fq=H:2601">Dolce &amp; Gabbana</a></li>
                    <li><a href="/busca/?fq=H:2586">Cacharel</a></li>
                    <li><a href="/busca/?fq=H:2793">Calvin Klein</a></li>
                    <li><a href="/busca/?fq=H:5470">Azzaro</a></li>
                    <!-- <li><a href="#">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <a class="tituloSubmenu">Mais vendidos:</a>
                    <li><a href="/212-SEXY-de-CAROLINA-HERRERA-Eau-de-Parfum-Feminino">212 Sexy Men</a></li>
                    <li><a href="/FANTASY-BRITNEY-SPEARS-Eau-de-Parfum-Feminino">Fantasy</a></li>
                    <li><a href="/AMOR-AMOR-de-CACHAREL-Eau-de-Toilette-Feminino">Amor Amor</a></li>
                    <li><a href="/JOOP--Eau-de-Toilette-Feminino/">Joop</a></li>
                    <li><a href="/GABRIELA-SABATINI-Eau-de-Toilette-Feminino/">Gabriela Sabatini</a></li>
                    <li><a href="/busca/?fq=H:137">Veja Mais +</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuFemininos/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="/busca/?fq=H:152">Mais Vendidos</a>
            <div class="div_hover_menu maisVendidos">
                <ul>
                    <a class="tituloSubmenu"></a>
                    <li><a href="/busca/?fq=H:156">Ofertas</a></li>
                    <!--<li><a href="/DIVA-de-DIVA-de-EMANUEL-UNGARO-Eau-de-Toilette-Feminino/">Raros</a></li>-->
                    <li><a href="/Kits">Presentes</a></li>
                    <li><a href="/busca/?fq=H:159">Lançamentos</a></li>
                    <li><a href="#">Beleza e Saúde</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Busque por:</a>
                    <li><a href="/busca/?fq=H:137">Femininos</a></li>
                    <li><a href="/busca/?fq=H:142">Masculinos</a></li>
                    <li><a href="/busca/?fq=H:155">Unissex</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Marcas:</a>
                    <li><a href="/busca/?fq=H:2559">Carolina Herrera</a></li>
                    <li><a href="/busca/?fq=H:2601">Dolce &amp; Gabbana</a></li>
                    <li><a href="/busca/?fq=H:2586">Cacharel</a></li>
                    <li><a href="/busca/?fq=H:2636">Christian Dior</a></li>
                    <li><a href="/busca/?fq=H:5470">Azzaro</a></li>
                    <!-- <li><a href="#">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <a class="tituloSubmenu">Mais vendidos:</a>
                    <li><a href="/212-SEXY-MEN-de-CAROLINA-HERRERA-Eau-de-Toilette-Masculino">212 Sexy Men</a></li>
                    <li><a href="/FANTASY-BRITNEY-SPEARS-Eau-de-Parfum-Feminino">Fantasy</a></li>
                    <li><a href="/1-MILLION-de-PACO-RABANNE-Eau-de-Toilette-Masculino">One Million</a></li>
                    <li><a href="/JOOP--Eau-de-Toilette-Feminino/">Joop</a></li>
                    <li><a href="/FERRARI-BLACK-Eau-de-Toilette-Masculino">Ferrari Black</a></li>
                    <li><a href="/busca/?fq=H:152">Veja Mais +</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMaisVendidos/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="/busca/?fq=H:154">Lançamento</a>
            <div class="div_hover_menu lancamentos">
                <ul>
                    <a class="tituloSubmenu"></a>
                    <li><a href="/busca/?fq=H:159">Mais vendidos</a></li>
                    <li><a href="/busca/?fq=H:160">AZ Indica</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Busque por:</a>
                    <li><a href="/busca/?fq=H:139">Femininos</a></li>
                    <li><a href="/busca/?fq=H:140">Masculinos</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Marcas:</a>
                    <li><a href="/busca/?fq=H:2559">Carolina Herrera</a></li>
                    <li><a href="/busca/?fq=H:2695">Paco Rabbane</a></li>
                    <li><a href="/busca/?fq=H:5470">Azzaro</a></li>
                    <li><a href="/busca/?fq=H:2586">Cacharel</a></li>
                    <li><a href="/busca/?fq=H:2601">Dolce Gabbana</a></li>
                    <!-- <li><a href="#">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <a class="tituloSubmenu">Mais vendidos:</a>
                    <li><a href="/CH-SUBLIME-by-CAROLINA-HERRERA-Eau-de-Parfum-Feminino">CH Sublime</a></li>
                    <li><a href="/212-GLAM-de-CAROLINA-HERRERA-Eau-de-Toilette-Feminino">212 Glam Feminino</a></li>
                    <li><a href="/?ProductLinkNotFound=AZZARO-CHROME-SUMMER-EDITION-Eau-de-toilette-Maculino">Azzaro Chrome Summ</a></li>
                    <li><a href="/212-GLAM-de-CAROLINA-HERRERA-Eau-de-Toilette-Masculino">212 Glam Masculino</a></li>
                    <li><a href="/invictus-de-paco-rabanne-eau-de-toilette-masculino/p#.UvklRmJdWek">Invictus</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMaisLancamentos/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="#">Presentes</a>
            <div class="div_hover_menu presentes">
                <ul>
                    <a class="tituloSubmenu">Feminino:</a>
                    <li><a href="#">Até 100</a></li>
                    <li><a href="#">Até 150</a></li>
                    <li><a href="#">Até 200</a></li>
                    <li><a href="#">Até 250</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Masculino:</a>
                    <li><a href="#">Até 100</a></li>
                    <li><a href="#">Até 150</a></li>
                    <li><a href="#">Até 200</a></li>
                    <li><a href="#">Até 250</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuPresentes/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="#">Beleza</a>
            <div class="div_hover_menu beleza">
                <ul>
                    <li><a href="#">Maquiagem</a></li>
                    <li><a href="#">Lábios</a></li>
                    <li><a href="#">Rosto</a></li>
                    <li><a href="#">Unhas</a></li>
                    <li><a href="#">Acessórios</a></li>
                    <li><a href="#">Kits</a></li>
                </ul>
                <ul>
                    <li><a href="#">Corpo e Banho</a></li>
                    <li><a href="#">Tratamento</a></li>
                    <li><a href="#">Desodorante</a></li>
                    <li><a href="#">Esfoliante</a></li>
                    <li><a href="#">Hidratante</a></li>
                    <li><a href="#">Linha Masculina</a></li>
                    <li><a href="#">Veja Mais +</a></li>
                </ul>
                <ul>
                    <li><a href="#">Cabelos</a></li>
                    <li><a href="#">Condicionador</a></li>
                    <li><a href="#">Finalizador</a></li>
                    <li><a href="#">Máscara</a></li>
                    <li><a href="#">Tratamento</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuBeleza/>
                </div>
            </div>
        </h3>
        <h3 class="h3_ofertas">
            <a href="/busca/?fq=H:153" id="a_ofertas">Ofertas</a>
        </h3>
        <h3 id="select_marca">
            <select onchange="eval(this.options[this.selectedIndex].value)">
                <option></option>
                <option value="parent.location.href='/Azzaro';">Azzaro</option>
                <option value="parent.location.href='/CalvinKlein';">Calvin Klein</option>
                <option value="parent.location.href='/CarolinaHerrera';">Carolina Herrera</option>
                <option value="parent.location.href='/DolceGabbana';">Dolce&amp;Gabbana</option>
                <option value="parent.location.href='/Ferrari';">Ferrari</option>
                <option value="parent.location.href='/Forum';">Forum</option>
                <option value="parent.location.href='/GiorgioArmani';">Giorgio Armani</option>
                <option value="parent.location.href='/HugoBoss';">Hugo Boss</option>
                <option value="parent.location.href='/Kenzo';">Kenzo</option>
                <option value="parent.location.href='/PacoRabanne';">Paco Rabanne</option>
                <option value="parent.location.href='/Prada';">Prada</option>
                <option value="parent.location.href='/RalphLauren';">Ralph Lauren</option>
                <option value="parent.location.href='/TommyHilfiger';">Tommy Hilfiger</option>
            </select>
        </h3>
    </div>
</div>
<!-- end Header Flutuante -->