<div id="content_header">
    <div id="logo" class="left">
            <a href="/">
                <img src="/arquivos/logo.jpg" alt="AZ Perfumes" title="AZ Perfumes"/>
            </a>
    </div>
    <div id="conteudo_text" class="right">
        <div id="topBar">
            <ul>
                <li>
                    <a href="/central-de-atendimento" title="Central de Atendimento">Central de Atendimento</a>
                    <span>/</span>
                </li>
                <!--li>
                        <a href="#" title="lista de desejos">lista de desejos</a>
                        <span>/</span>
                </li>
                <li>
                    <a href="#" title="precisa de ajuda">precisa de ajuda</a>
                    <span>/</span>
                </li-->
                <li>
                    <a href="/account/orders" title="meus pedidos">meus pedidos</a>
                </li>
            </ul>
        </div>
        <div id="busca_textos">
            <div class="busca_az left">
                <!-- UserText -->
                <div class="userText">
                    <vtex.cmc:welcomeMessage />
                </div>
                <!-- Busca -->
                <div class="searchWrapper">
                    <vtex.cmc:fullTextSearchBox />
                </div>
            </div>
            <div id="textos_header" class="right">
                <div id="chat_tel">
                    <ul>
                        <!--li id="chat_li">
                                <a href="#">
                                        <span id="chat_span"></span>
                                        <p>Chat Online</p>
                                </a>
                        </li-->
                        <li id="tel_li">
                            <span id="tel_span"></span>
                            <p>Televendas (11) 3804-9155</p>
                        </li>
                    </ul>
                </div>
                <div id="banner_cart">
                    <div id="banner_header" class="left">
                        <vtex:BannerTopHeader/>
                    </div>
                    <div class=" cart_header right" style="display: none;">
                        <a href="/site/carrinho.aspx" class="cartLink">
                            <vtex.cmc:AmountItemsInCart />
                            <span class="txt_itens">itens</span>
                        </a>
                    </div>
                    <div class=" cart_header right" style="display: none;">
                        <a href="/site/carrinho.aspx" class="cartLink">
                            <vtex.cmc:miniCart />
                            <span class="txt_itens">itens</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="menu">
    <div class="ul_menu">
        <h3>
            <a href="#">Perfumes Importados</a>
            <div class="div_hover_menu">
                <ul>
                    <li><a href="#">Perfumes Importados</a></li>
                    <li><a href="#">Mais vendidos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Perfumes Raros</a></li>
                    <li><a href="#">Presentes</a></li>
                    <li><a href="#">Perfumes com brinde</a></li>
                    <li><a href="#">Lançamentos</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuPerfumesImportados/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="#">Masculinos</a>
            <div class="div_hover_menu">
                <ul>
                    <li><a href="#">Perfumes Importados</a></li>
                    <li><a href="#">Mais vendidos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Perfumes Raros</a></li>
                    <li><a href="#">Presentes</a></li>
                    <li><a href="#">Perfumes com brinde</a></li>
                    <li><a href="#">Lançamentos</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMasculinos/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="#">Femininos</a>
            <div class="div_hover_menu">
                <ul>
                    <li><a href="#">Perfumes Importados</a></li>
                    <li><a href="#">Mais vendidos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Perfumes Raros</a></li>
                    <li><a href="#">Presentes</a></li>
                    <li><a href="#">Perfumes com brinde</a></li>
                    <li><a href="#">Lançamentos</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuFemininos/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="#">Mais Vendidos</a>
            <div class="div_hover_menu">
                <ul>
                    <li><a href="#">Perfumes Importados</a></li>
                    <li><a href="#">Mais vendidos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Perfumes Raros</a></li>
                    <li><a href="#">Presentes</a></li>
                    <li><a href="#">Perfumes com brinde</a></li>
                    <li><a href="#">Lançamentos</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMaisVendidos/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="#">Presentes</a>
            <div class="div_hover_menu">
                <ul>
                    <li><a href="#">Perfumes Importados</a></li>
                    <li><a href="#">Mais vendidos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Perfumes Raros</a></li>
                    <li><a href="#">Presentes</a></li>
                    <li><a href="#">Perfumes com brinde</a></li>
                    <li><a href="#">Lançamentos</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuPresentes/>
                </div>
            </div>
        </h3>
        <h3>
            <a href="#">Beleza</a>
            <div class="div_hover_menu">
                <ul>
                    <li><a href="#">Perfumes Importados</a></li>
                    <li><a href="#">Mais vendidos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Perfumes Raros</a></li>
                    <li><a href="#">Presentes</a></li>
                    <li><a href="#">Perfumes com brinde</a></li>
                    <li><a href="#">Lançamentos</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuBeleza/>
                </div>
            </div>
        </h3>
        <h3 class="h3_ofertas">
            <a href="#" id="a_ofertas">Ofertas</a>
        </h3>
        <h3 id="select_marca">
            <select onchange="eval(this.options[this.selectedIndex].value)">
                <option></option>
                <option value="parent.location.href='/Azzaro';">Azzaro</option>
                <option value="parent.location.href='/CalvinKlein';">Calvin Klein</option>
                <option value="parent.location.href='/CarolinaHerrera';">Carolina Herrera</option>
                <option value="parent.location.href='/DolceGabbana';">Dolce&amp;Gabbana</option>
                <option value="parent.location.href='/Ferrari';">Ferrari</option>
                <option value="parent.location.href='/Forum';">Forum</option>
                <option value="parent.location.href='/GiorgioArmani';">Giorgio Armani</option>
                <option value="parent.location.href='/HugoBoss';">Hugo Boss</option>
                <option value="parent.location.href='/Kenzo';">Kenzo</option>
                <option value="parent.location.href='/PacoRabanne';">Paco Rabanne</option>
                <option value="parent.location.href='/Prada';">Prada</option>
                <option value="parent.location.href='/RalphLauren';">Ralph Lauren</option>
                <option value="parent.location.href='/TommyHilfiger';">Tommy Hilfiger</option>
            </select>
        </h3>
    </div>
</div>

<!-- Header Flutuante -->
<div class="floatingTopBar" style="display:none;">

    <div class="center">
        <div class="logo_flutuante left">
            <a href="/">
                <img src="/arquivos/logo_flutuante.png" alt="AZ Perfumes" title="AZ Perfumes"/>
            </a>
        </div>
        <div id="content_flutuante" class="right">
            <div class="busca_az left">
                <!-- UserText -->
                <div class="userText">
                    <vtex.cmc:welcomeMessage />
                </div>
                <!-- Busca -->
                <div class="searchWrapper">
                    <vtex.cmc:fullTextSearchBox />
                </div>
            </div>
            <div class="cart_header right">
                <a href="/site/carrinho.aspx" class="cartLink">
                    <vtex.cmc:AmountItemsInCart />
                    <span class="txt_itens">itens</span>
                </a>
            </div>
        </div>
    </div>

    <div class="topNav100">
        <div class="ocultar">
            <p>ocultar</p>
            <div class="seta"></div>
        </div>

        <div class="exibir" style="display: none;">
            <p>exibir</p>
            <div class="seta"></div>
        </div>
    </div>

</div>
<!-- end Header Flutuante -->