<div id="content_header">
    <div id="logo" class="left">
        <a href="/" itemprop="url">
            <img src="/arquivos/logo.jpg" alt="AZ Perfumes" title="AZ Perfumes" itemprop="logo" />
        </a>
    </div>
    <div id="conteudo_text" class="right">
        <div id="topBar">
            <ul>
                <li>
                    <a href="/account" title="Minha Conta">Minha Conta</a>
                    <span>/</span>
                </li>
                <li>
                    <a href="http://atendimento.sistemadechat.com.br/chat.php?ws=YXpwZXJmdW1lcy5jb20uYnI=" target="_blank" title="Precisa de Ajuda">Precisa de Ajuda</a>
                    <span>/</span>
                </li>
                <li>
                    <a href="/central-de-atendimento" title="Central de Atendimento">Central de Atendimento</a>
                    <span>/</span>
                </li>
                <!--li>
                        <a href="#" title="lista de desejos">lista de desejos</a>
                        <span>/</span>
                </li>
                <li>
                    <a href="#" title="precisa de ajuda">precisa de ajuda</a>
                    <span>/</span>
                </li-->
                <li>
                    <a href="/account/orders" title="meus pedidos">meus pedidos</a>
                </li>
            </ul>
        </div>
        <div id="busca_textos">
            <div class="busca_az left">
                <!-- UserText -->
                <div class="userText">
                    <vtex.cmc:welcomeMessage />
                </div>
                <!-- Busca -->
                <div class="searchWrapper">
                    <vtex.cmc:fullTextSearchBox />
                </div>
            </div>
            <div id="textos_header" class="right">
                <div id="chat_tel">
                    <ul>
                        <li id="chat_li">
                            <a href="http://atendimento.sistemadechat.com.br/chat.php?ws=YXpwZXJmdW1lcy5jb20uYnI=" target="_blank">
                                <span id="chat_span"></span>
                                <p>Chat Online</p>
                            </a>
                        </li>
                        <li id="tel_li">
                            <span id="tel_span"></span>
                            <p itemprop="telephone">Televendas (11) 5070-5660</p>
                        </li>
                    </ul>
                </div>
                <div id="banner_cart">
                    <div id="banner_header" class="left">
                        <vtex:BannerTopHeader/>
                    </div>
                    <div class="cart_header right">
                        <a href="/checkout/#/cart" class="carrinho cartLink">
                            <vtex.cmc:AmountItemsInCart />

                            <span class="txt_itens">itens</span>
                        </a>
                        <vtex.cmc:miniCart />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Header Flutuante -->
<div class="floatingTopBar" style="display:none;">

    <div class="center">
        <div class="logo_flutuante left">
            <a href="/">
                <img src="/arquivos/logo_flutuante.png" alt="AZ Perfumes" title="AZ Perfumes" />
            </a>
        </div>
        <div id="content_flutuante" class="right">
            <div class="busca_az left">
                <!-- UserText -->
                <div class="userText">
                    <vtex.cmc:welcomeMessage />
                </div>
                <!-- Busca -->
                <div class="searchWrapper">
                    <vtex.cmc:fullTextSearchBox />
                </div>
            </div>
            <div class="cart_header right">
                <a href="/site/carrinho.aspx" class="cartLink">
                    <vtex.cmc:AmountItemsInCart />
                    <span class="txt_itens">itens</span>
                </a>
            </div>
        </div>
    </div>

    <div class="topNav100">
        <div class="ocultar">
            <p>ocultar</p>
            <div class="seta"></div>
        </div>

        <div class="exibir" style="display: none;">
            <p>exibir</p>
            <div class="seta"></div>
        </div>
    </div>

</div>


<div id="menu">
    <div class="ul_menu">
        <div class="dropMenuConv">
            <h3><a href="/perfumaria">Perfumes Importados</a></h3>
            <div class="div_hover_menu importados">
                <ul>
                    <li class="menuFirstLink"><a class="tituloSubmenu"></a></li>
                    <li><a href="/busca/?fq=H:179">Mais vendidos</a></li>
                    <li><a href="/busca/?fq=H:176">Ofertas</a></li>
                    <li><a href="/busca/?fq=H:178">Lançamentos</a></li>
                    <li><a href="/busca/?fq=H:177">Presentes</a></li>
                    <li><a href="/perfumaria/Sim?map=c,specificationFilter_16">Perfumes Raros</a></li>
                    <li><a href="/busca/?fq=H:185">Com Brinde</a></li>
                    <li><a href="/beleza/corpo-e-banho/desodorante">Desodorantes</a></li>
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Busque por:</a></li>
                    <li><a href="/perfumaria/Feminino?map=c,specificationFilter_29">Femininos</a></li>
                    <li><a href="/perfumaria/Masculino?map=c,specificationFilter_29">Masculinos</a></li>
                    <li><a href="/perfumaria/Unissex?map=c,specificationFilter_29">Unissex</a></li>
                    <li><a href="/perfumaria/infantil">Infantil</a></li>
                    <!-- <li><a href="#">Por Estilo</a></li>
                    <li><a href="#">Por fragrância</a></li> -->
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Top Marcas:</a></li>
                    <li><a href="/perfumaria/perfumes-importados/carolina-herrera">Carolina Herrera</a></li>
                    <li><a href="/perfumaria/perfumes-importados/calvin-klein">Calvin Klein</a></li>
                    <li><a href="/perfumaria/perfumes-importados/ferrari">Ferrari</a></li>
                    <li><a href="/perfumaria/perfumes-importados/bvlgari">Bvlgari</a></li>
                    <li><a href="/perfumaria/perfumes-importados/animale">Animale</a></li>
                    <!-- <li><a href="/busca/?fq=H:">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Mais vendidos:</a></li>
                    <li><a href="/dolce---gabbana-eau-de-toilette-feminino/p">Dolce &amp; Gabbana</a></li>
                    <li><a href="/laguna-feminino-de-salvador-dali-eau-de-toilette/p">Laguna</a></li>
                    <li><a href="/212-men-de-carolina-herrera-eau-de-toilette-masculino/p">212 Men</a></li>
                    <li><a href="/ck-one-unissex-de-calvin-klein-eau-de-toilette/p">CK One</a></li>
                    <li><a href="/armani-code-de-giorgio-armani-eau-de-toilette-masculino/p">Armani Code</a></li>
                    <li><a href="/fleur-du-male-de-jean-paul-gaultier-masculino/p">Le Male</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuPerfumesImportados/>
                </div>
            </div>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <h3><a href="/perfumaria/Masculino?map=c,specificationFilter_29">Masculinos</a></h3>
            <div class="div_hover_menu masculino">
                <ul>
                    <li class="menuFirstLink"><a class="tituloSubmenu"></a></li>
                    <li><a href="/perfumaria/Masculino?map=c,specificationFilter_29">Perfumes</a></li>
                    <li><a href="/perfumaria/179/Masculino?PS=30&amp;map=c,productClusterIds,specificationFilter_29">Mais vendidos</a></li>
                    <li><a href="/busca/?fq=H:173">Ofertas</a></li>
                    <li><a href="/busca/?fq=H:180">Presentes</a></li>
                    <li><a href="/busca/?fq=H:175">Lançamentos</a></li>
                    <li><a href="/cosmeticos/corpo-e-banho/desodorante">Desodorantes</a></li>
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Top Marcas:</a></li>
                    <li><a href="/perfumaria/perfumes-importados/jean-paul-gaultier/Masculino?PS=30&amp;map=c,c,b,specificationFilter_29">Jean Paul Gaultier</a></li>
                    <li><a href="/perfumaria/perfumes-importados/giorgio-armani/Masculino?PS=30&amp;map=c,c,b,specificationFilter_29">Giorgio Armani</a></li>
                    <li><a href="/perfumaria/perfumes-importados/azzaro/Masculino?PS=30&amp;map=c,c,b,specificationFilter_29">Azzaro</a></li>
                    <li><a href="/perfumaria/perfumes-importados/paco-rabanne/Masculino?PS=30&amp;map=c,c,b,specificationFilter_29">Paco Rabbane</a></li>
                    <li><a href="/perfumaria/perfumes-importados/hugo-boss/Masculino?PS=30&amp;map=c,c,b,specificationFilter_29">Hugo Boss</a></li>
                    <!-- <li><a href="#">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Mais vendidos:</a></li>
                    <li><a href="/animale-grife-animale-eau-de-toilette-masculino/p">Animale </a></li>
                    <li><a href="/1-million-de-paco-rabanne-eau-de-toilette-masculino/p">One Million</a></li>
                    <li><a href="/ferrari-black-masculino-de-ferrari-eau-de-toilette/p">Ferrari Black</a></li>
                    <li><a href="/ck-one-unissex-de-calvin-klein-eau-de-toilette/p">CK One</a></li>
                    <li><a href="/212-sexy-men-de-carolina-herrera-eau-de-toilette-masculino/p">212 Sexy Men</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMasculinos/>
                </div>
            </div>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <h3><a href="/feminino">Feminino</a></h3>
            <div class="div_hover_menu feminino">
                <ul>
                    <li class="menuFirstLink"><a class="tituloSubmenu"></a></li>
                    <li><a href="/perfumaria/Feminino?map=c,specificationFilter_29">Perfumes</a></li>
                    <li><a href="/busca/?fq=H:170">Mais vendidos</a></li>
                    <li><a href="/busca/?fq=H:172">Ofertas</a></li>
                    <li><a href="/busca/?fq=H:181">Presentes</a></li>
                    <li><a href="/busca/?fq=H:174">Lançamentos</a></li>
                    <li><a href="/beleza">Beleza e Saúde</a></li>
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Marcas:</a></li>
                    <li><a href="/perfumaria/perfumes-importados/carolina-herrera/Feminino?PS=30&amp;map=c,c,b,specificationFilter_29">Carolina Herrera</a></li>
                    <li><a href="/perfumaria/perfumes-importados/dolce-gabbana/Feminino?PS=30&amp;map=c,c,b,specificationFilter_29">Dolce &amp; Gabbana</a></li>
                    <li><a href="/perfumaria/perfumes-importados/cacharel/Feminino?PS=30&amp;map=c,c,b,specificationFilter_29">Cacharel</a></li>
                    <li><a href="/perfumaria/perfumes-importados/salvador-dali/Feminino?PS=30&amp;map=c,c,b,specificationFilter_29">Salvador Dali</a></li>
                    <li><a href="/perfumaria/perfumes-importados/elizabeth-taylor/Feminino?PS=30&amp;map=c,c,b,specificationFilter_29">Elizabeth Taylor</a></li>
                    <!-- <li><a href="#">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Mais vendidos:</a></li>
                    <li><a href="/light-blue-by-dolce-gabbana-eau-de-toilette-feminino/p">Light Blue</a></li>
                    <li><a href="/fantasy-britney-spears-eau-de-parfum-feminino/p">Fantasy</a></li>
                    <li><a href="/212-sexy-de-carolina-herrera-eau-de-parfum-feminino/p">212 sexy</a></li>
                    <li><a href="/white-diamonds-de-elizabeth-taylor-eau-de-toilette-feminino/p">White Diamonds</a></li>
                    <li><a href="/angel-de-thierry-mugler-eau-de-parfum-feminino/p">Angel</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuFemininos/>
                </div>
            </div>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <h3><a href="/busca/?fq=H:188">Mais Vendidos</a></h3>
            <div class="div_hover_menu maisVendidos">
                <ul>
                    <li class="menuFirstLink"><a class="tituloSubmenu"></a></li>
                    <li><a href="/busca/?fq=H:156">Ofertas</a></li>
                    <li><a href="/busca/?fq=H:189">Presentes</a></li>
                    <li><a href="/busca/?fq=H:183">Beleza</a></li>
                    <li><a href="/busca/?fq=H:170">Feminino</a></li>
                    <li><a href="/busca/?fq=H:171">Masculino</a></li>
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Top Marcas:</a></li>
                    <li><a href="/Ralph-lauren">Ralph Lauren</a></li>
                    <li><a href="/Issey-miyake">Issey Miyake</a></li>
                    <li><a href="/Yves-saint-laurent">Yves Saint Laurent</a></li>
                    <li><a href="/Christian-dior">Christian Dior</a></li>
                    <li><a href="/Azzaro">Azzaro</a></li>
                    <!-- <li><a href="#">Veja Mais +</a></li> -->
                </ul>
                <ul>
                    <li><a class="tituloSubmenu">Mais vendidos:</a></li>
                    <li> <a href="/azzaro-masculino-de-loris-azzaro-eau-de-toilette/p">Azzaro</a></li>
                    <li> <a href="/l-eau-d-issey-de-issey-miyake-eau-de-toilette-masculino/p">L'Eau D'Issey</a></li>
                    <li> <a href="/polo-de-ralph-lauren-eau-de-toilette-masculino/p">Polo</a></li>
                    <li> <a href="/eternity-de-calvin-klein-eau-de-parfum-feminino/p">Eternity</a></li>
                    <li> <a href="/euphoria-de-calvin-klein-eau-de-parfum-feminino/p">Euphoria</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMaisVendidos/>
                </div>
            </div>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <h3><a href="/busca/?fq=H:187">Lançamento</a></h3>
            <div class="div_hover_menu lancamentos">
                <ul>
                    <li><a class="tituloSubmenu">Busque por:</a></li>
                    <li><a href="/busca/?fq=H:174">Femininos</a></li>
                    <li><a href="/busca/?fq=H:175">Masculinos</a></li>
                </ul>
                <ul>
                    <a class="tituloSubmenu">Mais vendidos:</a>
                    <li><a href="/ch-sublime-by-carolina-herrera-eau-de-parfum-feminino/p">CH Sublime</a></li>
                    <li><a href="/212-GLAM-de-CAROLINA-HERRERA-Eau-de-Toilette-Feminino/p">212 Glam Feminino</a></li>
                    <li><a href="/couture-la-la-de-juicy-couture-eau-de-parfum-feminino/p">Couture Lala</a></li>
                    <li><a href="/spirit-millionaire-by-lomani-eau-de-toilette-masculino/p">Spirit Millionaire</a></li>
                    <li><a href="/invictus-de-paco-rabanne-eau-de-toilette-masculino/p">Invictus</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuMaisLancamentos/>
                </div>
            </div>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <h3><a href="/busca/?fq=H:177">Presentes</a></h3>
            <div class="div_hover_menu presentes">
                <ul>
                    <li><a class="tituloSubmenu" href="/feminino">Perfumaria</a></li>
                    <li><a href="/perfumaria/perfumes-importados/de-50,01-a-100?PS=30&amp;map=c,c,priceFrom">Até 100</a></li>
                    <li><a href="/perfumaria/perfumes-importados/de-100,01-a-150?PS=30&amp;map=c,c,priceFrom">Até 150</a></li>
                    <li><a href="/perfumaria/perfumes-importados/de-150,01-a-200?PS=30&amp;map=c,c,priceFrom">Até 200</a></li>
                    <li><a href="/perfumaria/perfumes-importados/de-200,01-a-250?PS=30&amp;map=c,c,priceFrom">Até 250</a></li>
                </ul>
                <ul>
                    <li><a class="tituloSubmenu" href="/beleza">Beleza</a></li>
                    <li><a href="/beleza/de-0,5-a-50?PS=30&amp;map=c,priceFrom">Até 50</a></li>
                    <li><a href="/beleza/de-50,01-a-100?PS=30&amp;map=c,priceFrom">Até 100</a></li>
                    <li><a href="/beleza/de-100,01-a-150?PS=30&amp;map=c,priceFrom">Até 150</a></li>
                    <li><a href="/beleza/de-150,01-a-250?PS=30&amp;map=c,priceFrom">Até 250</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuPresentes/>
                </div>
            </div>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <h3><a href="/beleza">Beleza</a></h3>
            <div class="div_hover_menu beleza">
                <ul>
                    <li><a href="/beleza/maquiagem">Maquiagem</a></li>
                    <li><a href="/beleza/maquiagem/olhos">Olhos</a></li>
                    <li><a href="/beleza/maquiagem/labios">Lábios</a></li>
                    <li><a href="/beleza/maquiagem/face">Face</a></li>
                    <li><a href="/beleza/maquiagem/unhas">Unhas</a></li>
                    <!-- <li><a href="/Cosméticos/Maquiagem/Acessórios">Acessórios</a></li> -->
                </ul>
                <ul>
                    <li><a href="/beleza/corpo-e-banho">Corpo e Banho</a></li>
                    <li><a href="/beleza/corpo-e-banho/corpo">Corpo</a></li>
                    <li><a href="/beleza/corpo-e-banho/rosto">Rosto</a></li>
                    <li><a href="/beleza/corpo-e-banho/banho">Banho</a></li>
                    <li><a href="/beleza/corpo-e-banho/desodorante">Desodorantes</a></li>
                    <li><a href="/beleza/corpo-e-banho">Veja Mais +</a></li>
                </ul>
                <ul>
                    <li><a href="/beleza/cabelos">Cabelos</a></li>
                    <li><a href="/beleza/cabelos/shampoo">Shampoo</a></li>
                    <li><a href="/beleza/cabelos/condicionador">Condicionador</a></li>
                    <li><a href="/beleza/cabelos/tratamento">Tratamento</a></li>
                    <li><a href="/beleza/cabelos/finalizador">Finalizador</a></li>
                </ul>
                <div class="prateleira_ul">
                    <vtex.cmc:PrateleiraMenuBeleza/>
                </div>
            </div>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <h3 class="h3_ofertas"><a href="/busca/?fq=H:184" id="a_ofertas">Ofertas</a></h3>
        </div><!-- dropMenuConv -->

        <div class="dropMenuConv">
            <select onchange="eval(this.options[this.selectedIndex].value)">
                <option>Escolha por marca</option>
                <option value="parent.location.href='/aguas-de-gellus';">Águas de Gellu's</option>
                <option value="parent.location.href='/abercrombie-fitch';">Abercrombie &amp; Fitch</option>
                <option value="parent.location.href='/acqua-di-parma';">Acqua Di Parma</option>
                <option value="parent.location.href='/adidas';">Adidas</option>
                <option value="parent.location.href='/Adrienne-vittadini';">Adrienne Vittadini</option>
                <option value="parent.location.href='/Agatha-ruiz-de-la-prada';">Agatha Ruiz de La Prada</option>
                <option value="parent.location.href='/Alain-delon';">Alain Delon</option>
                <option value="parent.location.href='/Alexander-mcqueen';">Alexander Mcqueen</option>
                <option value="parent.location.href='/Alford-hoff';">Alford &amp; Hoff</option>
                <option value="parent.location.href='/Alfred-dunhill';">Alfred Dunhill</option>
                <option value="parent.location.href='/Alfred-sung';">Alfred Sung</option>
                <option value="parent.location.href='/Alyssa-ashley';">Alyssa Ashley</option>
                <option value="parent.location.href='/Ana-hickmann';">Ana Hickmann</option>
                <option value="parent.location.href='/Angel-schlesser';">Angel Schlesser</option>
                <option value="parent.location.href='/Animale';">Animale</option>
                <option value="parent.location.href='/Anna-sui';">Anna Sui</option>
                <option value="parent.location.href='/Annick-goutal';">Annick Goutal</option>
                <option value="parent.location.href='/Antonio-banderas';">Antonio Banderas</option>
                <option value="parent.location.href='/Antonio-puig';">Antonio Puig</option>
                <option value="parent.location.href='/Aramis';">Aramis</option>
                <option value="parent.location.href='/Aubusson';">Aubusson</option>
                <option value="parent.location.href='/Australian-gold';">Australian Gold</option>
                <option value="parent.location.href='/Axis-fragrances';">Axis Fragrances</option>
                <option value="parent.location.href='/Azzaro';">Azzaro</option>
                <option value="parent.location.href='/Baldessarini';">Baldessarini</option>
                <option value="parent.location.href='/Balenciaga';">Balenciaga</option>
                <option value="parent.location.href='/Banana-republic';">Banana Republic</option>
                <option value="parent.location.href='/Barbie';">Barbie</option>
                <option value="parent.location.href='/Baryshnikov';">Baryshnikov</option>
                <option value="parent.location.href='/Be';">Be.</option>
                <option value="parent.location.href='/Bebe';">Bebe</option>
                <option value="parent.location.href='/Benetton';">Benetton</option>
                <option value="parent.location.href='/Betty-boop';">Betty Boop</option>
                <option value="parent.location.href='/Beyonce';">Beyonce</option>
                <option value="parent.location.href='/Bijan';">Bijan</option>
                <option value="parent.location.href='/Blumarine';">Blumarine</option>
                <option value="parent.location.href='/Bond-no-9';">Bond no. 9</option>
                <option value="parent.location.href='/Borsalino';">Borsalino</option>
                <option value="parent.location.href='/Borsari';">Borsari</option>
                <option value="parent.location.href='/Boucheron';">Boucheron</option>
                <option value="parent.location.href='/Britney-spears';">Britney Spears</option>
                <option value="parent.location.href='/Bruno-banani';">Bruno Banani</option>
                <option value="parent.location.href='/Burberry's';">Burberry's</option>
                <option value="parent.location.href='/Bvlgari';">Bvlgari</option>
                <option value="parent.location.href='/Cabot-labs';">Cabot Labs</option>
                <option value="parent.location.href='/Cacharel';">Cacharel</option>
                <option value="parent.location.href='/Cadillac';">Cadillac</option>
                <option value="parent.location.href='/Café-café';">Café-Café</option>
                <option value="parent.location.href='/Calvin-klein';">Calvin Klein</option>
                <option value="parent.location.href='/Carlo-corinto';">Carlo Corinto</option>
                <option value="parent.location.href='/Carolina-herrera';">Carolina Herrera</option>
                <option value="parent.location.href='/Caron';">Caron</option>
                <option value="parent.location.href='/Carrera';">Carrera</option>
                <option value="parent.location.href='/Cartier';">Cartier</option>
                <option value="parent.location.href='/Carven';">Carven</option>
                <option value="parent.location.href='/Cathy-carden';">Cathy Carden</option>
                <option value="parent.location.href='/Celine';">Celine</option>
                <option value="parent.location.href='/Chanel';">Chanel</option>
                <option value="parent.location.href='/Chantal-thomass';">Chantal Thomass</option>
                <option value="parent.location.href='/Charles-jourdan';">Charles Jourdan</option>
                <option value="parent.location.href='/Chaumet';">Chaumet</option>
                <option value="parent.location.href='/Chevignon';">Chevignon</option>
                <option value="parent.location.href='/Chloé';">Chloé</option>
                <option value="parent.location.href='/Chopard';">Chopard</option>
                <option value="parent.location.href='/Christian-dior';">Christian Dior</option>
                <option value="parent.location.href='/Christian-lacroix';">Christian Lacroix</option>
                <option value="parent.location.href='/Christina-aguilera';">Christina Aguilera</option>
                <option value="parent.location.href='/Claude-montana';">Claude Montana</option>
                <option value="parent.location.href='/Clinique';">Clinique</option>
                <option value="parent.location.href='/Cofci';">Cofci</option>
                <option value="parent.location.href='/Confirmar-amostra';">Confirmar Amostra</option>
                <option value="parent.location.href='/Coscentra';">Coscentra</option>
                <option value="parent.location.href='/Coty';">Coty</option>
                <option value="parent.location.href='/Courreges';">Courreges</option>
                <option value="parent.location.href='/Creed';">Creed</option>
                <option value="parent.location.href='/Cuba';">Cuba</option>
                <option value="parent.location.href='/Dana-perfumes';">Dana Perfumes</option>
                <option value="parent.location.href='/David-beckham';">David Beckham</option>
                <option value="parent.location.href='/Designer-parfums-ltd';">Designer Parfums Ltd.</option>
                <option value="parent.location.href='/Diesel';">Diesel</option>
                <option value="parent.location.href='/Disney';">Disney</option>
                <option value="parent.location.href='/Dolce-gabbana';">Dolce &amp; Gabbana</option>
                <option value="parent.location.href='/Donna-karan';">Donna Karan</option>
                <option value="parent.location.href='/Dsquared2';">Dsquared2</option>
                <option value="parent.location.href='/Ducati';">Ducati</option>
                <option value="parent.location.href='/Echt-kolnisch-wasser';">Echt Kolnisch Wasser</option>
                <option value="parent.location.href='/Ed-hardy';">Ed Hardy</option>
                <option value="parent.location.href='/Elie-saab';">Elie Saab</option>
                <option value="parent.location.href='/Elizabeth-arden';">Elizabeth Arden</option>
                <option value="parent.location.href='/Elizabeth-taylor';">Elizabeth Taylor</option>
                <option value="parent.location.href='/Ellen-tracy';">Ellen Tracy</option>
                <option value="parent.location.href='/Emanuel-ungaro';">Emanuel Ungaro</option>
                <option value="parent.location.href='/Empório-bijux';">Empório Bijux</option>
                <option value="parent.location.href='/Ermenegildo-zegna';">Ermenegildo Zegna</option>
                <option value="parent.location.href='/Erox';">Erox</option>
                <option value="parent.location.href='/Escada';">Escada</option>
                <option value="parent.location.href='/Esprit-versailles';">Esprit Versailles</option>
                <option value="parent.location.href='/Estee-lauder';">Estée Lauder</option>
                <option value="parent.location.href='/Estelle-ewen';">Estelle Ewen</option>
                <option value="parent.location.href='/Everlast';">Everlast</option>
                <option value="parent.location.href='/Faberge';">Faberge</option>
                <option value="parent.location.href='/Faconnable';">Façonnable</option>
                <option value="parent.location.href='/Faith-hill';">Faith Hill</option>
                <option value="parent.location.href='/Fendi';">Fendi</option>
                <option value="parent.location.href='/Ferrari';">Ferrari</option>
                <option value="parent.location.href='/Fiorucci';">Fiorucci</option>
                <option value="parent.location.href='/Forum-tufi-duek';">Forum Tufi Duek</option>
                <option value="parent.location.href='/Fragonard';">Fragonard</option>
                <option value="parent.location.href='/Fred-hayman';">Fred Hayman</option>
                <option value="parent.location.href='/French-connection-uk';">French Connection Uk</option>
                <option value="parent.location.href='/Fujiyama';">Fujiyama</option>
                <option value="parent.location.href='/Gabriela-sabatini';">Gabriela Sabatini</option>
                <option value="parent.location.href='/Gale-hyman';">Gale Hyman</option>
                <option value="parent.location.href='/Gap';">Gap</option>
                <option value="parent.location.href='/Geir-ness';">Geir Ness</option>
                <option value="parent.location.href='/Gianfranco-ferre';">Gianfranco Ferre</option>
                <option value="parent.location.href='/Gianni-versace';">Gianni Versace</option>
                <option value="parent.location.href='/Giorgio-armani';">Giorgio Armani</option>
                <option value="parent.location.href='/Giorgio-beverly hills';">Giorgio Beverly Hills</option>
                <option value="parent.location.href='/Giorgio-monti';">Giorgio Monti</option>
                <option value="parent.location.href='/Giorgio-valenti';">Giorgio Valenti</option>
                <option value="parent.location.href='/Givenchy';">Givenchy</option>
                <option value="parent.location.href='/Gloria-vanderbilt';">Gloria Vanderbilt</option>
                <option value="parent.location.href='/Gucci';">Gucci</option>
                <option value="parent.location.href='/Guerlain';">Guerlain</option>
                <option value="parent.location.href='/Guess';">Guess</option>
                <option value="parent.location.href='/Guilles cantuel';">Guilles Cantuel</option>
                <option value="parent.location.href='/Guy-laroche';">Guy Laroche</option>
                <option value="parent.location.href='/Gwen-stefani';">Gwen Stefani</option>
                <option value="parent.location.href='/Halston';">Halston</option>
                <option value="parent.location.href='/Hanae-mori';">Hanae Mori</option>
                <option value="parent.location.href='/Harley-davidson';">Harley Davidson</option>
                <option value="parent.location.href='/Hermes';">Hermes</option>
                <option value="parent.location.href='/Hilary-duff';">Hilary Duff</option>
                <option value="parent.location.href='/Houbigant';">Houbigant</option>
                <option value="parent.location.href='/Hugo-boss';">Hugo Boss</option>
                <option value="parent.location.href='/Instyle';">Instyle</option>
                <option value="parent.location.href='/Irma-shorell';">Irma Shorell</option>
                <option value="parent.location.href='/Isabella-rossellini';">Isabella Rossellini</option>
                <option value="parent.location.href='/Issey-miyake';">Issey Miyake</option>
                <option value="parent.location.href='/Jacomo';">Jacomo</option>
                <option value="parent.location.href='/Jacques-bogart';">Jacques Bogart</option>
                <option value="parent.location.href='/Jacques-saint-pres';">Jacques Saint Pres</option>
                <option value="parent.location.href='/Jaguar';">Jaguar</option>
                <option value="parent.location.href='/James-bond';">James Bond</option>
                <option value="parent.location.href='/Jean-couturier';">Jean Couturier</option>
                <option value="parent.location.href='/Jean-desprez';">Jean Desprez</option>
                <option value="parent.location.href='/Jean-louis-scherrer';">Jean Louis Scherrer</option>
                <option value="parent.location.href='/Jean-patou';">Jean Patou</option>
                <option value="parent.location.href='/Jean-paul-gaultier';">Jean Paul Gaultier</option>
                <option value="parent.location.href='/Jennifer-lopez';">Jennifer Lopez</option>
                <option value="parent.location.href='/Jessica-mc-clintock';">Jessica Mc Clintock</option>
                <option value="parent.location.href='/Jesus-del-pozo';">Jesus Del Pozo</option>
                <option value="parent.location.href='/Jil-sander';">Jil Sander</option>
                <option value="parent.location.href='/Jimmy-choo';">Jimmy Choo</option>
                <option value="parent.location.href='/Joop-jette';">Joop Jette</option>
                <option value="parent.location.href='/Joop';">Joop!</option>
                <option value="parent.location.href='/Jovan';">Jovan</option>
                <option value="parent.location.href='/Juicy-couture';">Juicy Couture</option>
                <option value="parent.location.href='/Julie-burk';">Julie Burk</option>
                <option value="parent.location.href='/Juliette-has-a-gun';">Juliette Has a Gun</option>
                <option value="parent.location.href='/Justin-bieber';">Justin Bieber</option>
                <option value="parent.location.href='/Kaloo';">Kaloo</option>
                <option value="parent.location.href='/Karen-low';">Karen low</option>
                <option value="parent.location.href='/Karl-lagerfeld';">Karl Lagerfeld</option>
                <option value="parent.location.href='/Kate-moss';">Kate Moss</option>
                <option value="parent.location.href='/Katy-perry';">Katy Perry</option>
                <option value="parent.location.href='/Kenneth-cole';">Kenneth Cole</option>
                <option value="parent.location.href='/Kenzo';">Kenzo</option>
                <option value="parent.location.href='/Kim-kardashian';">Kim Kardashian</option>
                <option value="parent.location.href='/Kramer-laboratories';">Kramer Laboratories</option>
                <option value="parent.location.href='/Kristel-saint-martin';">Kristel Saint Martin</option>
                <option value="parent.location.href='/Krizia';">Krizia</option>
                <option value="parent.location.href='/La-perla';">La Perla</option>
                <option value="parent.location.href='/La-prairie';">La Prairie</option>
                <option value="parent.location.href='/Lacoste';">Lacoste</option>
                <option value="parent.location.href='/Lady-gaga';">Lady Gaga</option>
                <option value="parent.location.href='/Lalique';">Lalique</option>
                <option value="parent.location.href='/Lancaster';">Lancaster</option>
                <option value="parent.location.href='/Lancome';">Lancôme</option>
                <option value="parent.location.href='/Lanvin';">Lanvin</option>
                <option value="parent.location.href='/Laura-ashley';">Laura Ashley</option>
                <option value="parent.location.href='/Laura-biagiotti';">Laura Biagiotti</option>
                <option value="parent.location.href='/Leonard';">Leonard</option>
                <option value="parent.location.href='/Les-Nereides';">Les Nereides</option>
                <option value="parent.location.href='/Lip-injection';">Lip Injection</option>
                <option value="parent.location.href='/Liz-claiborne';">Liz Claiborne</option>
                <option value="parent.location.href='/Loccitane';">L'occitane</option>
                <option value="parent.location.href='/Loewe';">Loewe</option>
                <option value="parent.location.href='/Lolita-lempicka';">Lolita Lempicka</option>
                <option value="parent.location.href='/Lomani';">Lomani</option>
                <option value="parent.location.href='/Loreal';">L'oreal</option>
                <option value="parent.location.href='/Lulu-castagnette';">Lulu Castagnette</option>
                <option value="parent.location.href='/Marc-jacobs';">Marc Jacobs</option>
                <option value="parent.location.href='/Marcas-de-impacto';">Marcas de Impacto</option>
                <option value="parent.location.href='/Marcella-borghese';">Marcella Borghese</option>
                <option value="parent.location.href='/Mariah-carey';">Mariah Carey</option>
                <option value="parent.location.href='/Marilyn-miglin';">Marilyn Miglin</option>
                <option value="parent.location.href='/Marina-de-bourbon';">Marina de Bourbon</option>
                <option value="parent.location.href='/Mauboussin';">Mauboussin</option>
                <option value="parent.location.href='/Max-deville';">Max Deville</option>
                <option value="parent.location.href='/Maxmara';">Maxmara</option>
                <option value="parent.location.href='/Mercedes-benz';">Mercedes-Benz</option>
                <option value="parent.location.href='/Meriella-burani';">Meriella Burani</option>
                <option value="parent.location.href='/Michael-kors';">Michael Kors</option>
                <option value="parent.location.href='/Michel-germain';">Michel Germain</option>
                <option value="parent.location.href='/Molyneux';">Molyneux</option>
                <option value="parent.location.href='/Monica-klink';">Monica Klink</option>
                <option value="parent.location.href='/Mont-blanc';">Mont Blanc</option>
                <option value="parent.location.href='/Moroccanoil';">Moroccanoil</option>
                <option value="parent.location.href='/Moschino';">Moschino</option>
                <option value="parent.location.href='/Naf-naf';">Naf Naf</option>
                <option value="parent.location.href='/Naomi-campbell';">Naomi Campbell</option>
                <option value="parent.location.href='/Narciso-rodriguez';">Narciso Rodriguez</option>
                <option value="parent.location.href='/Nautica';">Nautica</option>
                <option value="parent.location.href='/Nazareno-gabrielli';">Nazareno Gabrielli</option>
                <option value="parent.location.href='/Nicole-miller';">Nicole Miller</option>
                <option value="parent.location.href='/Nikos';">Nikos</option>
                <option value="parent.location.href='/Nina-ricci';">Nina Ricci</option>
                <option value="parent.location.href='/Nino-cerruti';">Nino Cerruti</option>
                <option value="parent.location.href='/Nivea';">Nivea</option>
                <option value="parent.location.href='/Nu-parfums';">Nu Parfums</option>
                <option value="parent.location.href='/Ocean-pacific';">Ocean Pacific</option>
                <option value="parent.location.href='/Old-spice';">Old Spice</option>
                <option value="parent.location.href='/Orlane';">Orlane</option>
                <option value="parent.location.href='/Oscar-de-la-renta';">Oscar de La Renta</option>
                <option value="parent.location.href='/Paco-rabanne';">Paco Rabanne</option>
                <option value="parent.location.href='/Paloma-picasso';">Paloma Picasso</option>
                <option value="parent.location.href='/Pamela-anderson';">Pamela Anderson</option>
                <option value="parent.location.href='/Pancaldi';">Pancaldi</option>
                <option value="parent.location.href='/Parfums-gres';">Parfums Gres</option>
                <option value="parent.location.href='/Parfums-jm';">Parfums Jm</option>
                <option value="parent.location.href='/Parfums-pergolese-paris';">Parfums Pergolèse Paris</option>
                <option value="parent.location.href='/Paris-hilton';">Paris Hilton</option>
                <option value="parent.location.href='/Parlux';">Parlux</option>
                <option value="parent.location.href='/Paul-smith';">Paul Smith</option>
                <option value="parent.location.href='/Perry-ellis';">Perry Ellis</option>
                <option value="parent.location.href='/Pierre-balmain';">Pierre Balmain</option>
                <option value="parent.location.href='/Pierre-cardin';">Pierre Cardin</option>
                <option value="parent.location.href='/Pino-silvestre';">Pino Silvestre</option>
                <option value="parent.location.href='/Police';">Police</option>
                <option value="parent.location.href='/Pond's';">Pond's</option>
                <option value="parent.location.href='/Prada';">Prada</option>
                <option value="parent.location.href='/Priscilla-presley';">Priscilla Presley</option>
                <option value="parent.location.href='/Puma';">Puma</option>
                <option value="parent.location.href='/Quiksilver';">Quiksilver</option>
                <option value="parent.location.href='/Racer-pacoma';">Racer Pacoma</option>
                <option value="parent.location.href='/Ralph-lauren';">Ralph Lauren</option>
                <option value="parent.location.href='/Remy-latour';">Remy Latour</option>
                <option value="parent.location.href='/Revlon';">Revlon</option>
                <option value="parent.location.href='/Reyane';">Reyane</option>
                <option value="parent.location.href='/Rihanna';">Rihanna</option>
                <option value="parent.location.href='/Robert-piguet';">Robert Piguet</option>
                <option value="parent.location.href='/Roberto-capucci';">Roberto Capucci</option>
                <option value="parent.location.href='/Roberto-cavalli';">Roberto Cavalli</option>
                <option value="parent.location.href='/Roberto-vizzari';">Roberto Vizzari</option>
                <option value="parent.location.href='/Rocco-barocco';">Rocco Barocco</option>
                <option value="parent.location.href='/Rochas';">Rochas</option>
                <option value="parent.location.href='/Roger-e-gallet';">Roger e Gallet</option>
                <option value="parent.location.href='/Romero-britto';">Romero Britto</option>
                <option value="parent.location.href='/S-Zaitsev';">S. Zaitsev</option>
                <option value="parent.location.href='/Sally-hansen';">Sally Hansen</option>
                <option value="parent.location.href='/Salvador-dali';">Salvador Dali</option>
                <option value="parent.location.href='/Salvatore-ferragamo';">Salvatore Ferragamo</option>
                <option value="parent.location.href='/Sarah-jessica-parker';">Sarah Jessica Parker</option>
                <option value="parent.location.href='/Scannon';">Scannon</option>
                <option value="parent.location.href='/Sean-john';">Sean John</option>
                <option value="parent.location.href='/Selena-gomez';">Selena Gomez</option>
                <option value="parent.location.href='/Sergio-soldano';">Sergio Soldano</option>
                <option value="parent.location.href='/Sergio-tacchini';">Sergio Tacchini</option>
                <option value="parent.location.href='/Shakira';">Shakira</option>
                <option value="parent.location.href='/Shiseido';">Shiseido</option>
                <option value="parent.location.href='/Sisley';">Sisley</option>
                <option value="parent.location.href='/Sonia-rykiel';">Sonia Rykiel</option>
                <option value="parent.location.href='/St-dupont';">St Dupont</option>
                <option value="parent.location.href='/St-ives';">St.Ives</option>
                <option value="parent.location.href='/Stella-mccartney';">Stella Mccartney</option>
                <option value="parent.location.href='/Swarovski';">Swarovski</option>
                <option value="parent.location.href='/Swiss-army';">Swiss Army</option>
                <option value="parent.location.href='/Swiss-guard';">Swiss Guard</option>
                <option value="parent.location.href='/Taxi';">Taxi</option>
                <option value="parent.location.href='/Ted-lapidus';">Ted Lapidus</option>
                <option value="parent.location.href='/The-perfumers-wokshop';">The Perfumers Wokshop</option>
                <option value="parent.location.href='/Thierry-mugler';">Thierry Mugler</option>
                <option value="parent.location.href='/Tiffany';">Tiffany</option>
                <option value="parent.location.href='/Tom-ford';">Tom Ford</option>
                <option value="parent.location.href='/Tommy-hilfiger';">Tommy Hilfiger</option>
                <option value="parent.location.href='/Tonino-lamborghini';">Tonino Lamborghini</option>
                <option value="parent.location.href='/To- faced';">Too Faced</option>
                <option value="parent.location.href='/Tova-beverly-hills';">Tova Beverly Hills</option>
                <option value="parent.location.href='/Trussardi';">Trussardi</option>
                <option value="parent.location.href='/Tufi-duek';">Tufi Duek</option>
                <option value="parent.location.href='/Ulric-de-varens';">Ulric de Varens</option>
                <option value="parent.location.href='/Valentino';">Valentino</option>
                <option value="parent.location.href='/Van-cleef-arpels';">Van Cleef &amp; Arpels</option>
                <option value="parent.location.href='/Vera-wang';">Vera Wang</option>
                <option value="parent.location.href='/Via-paris';">Via Paris</option>
                <option value="parent.location.href='/Vicky-tiel';">Vicky Tiel</option>
                <option value="parent.location.href='/Victoria-secret';">Victoria Secret</option>
                <option value="parent.location.href='/Viktor-rolf';">Viktor &amp; Rolf</option>
                <option value="parent.location.href='/Visconti-di-modrone';">Visconti Di Modrone</option>
                <option value="parent.location.href='/Weil';">Weil</option>
                <option value="parent.location.href='/Worth';">Worth</option>
                <option value="parent.location.href='/Yardley -ondon';">Yardley London</option>
                <option value="parent.location.href='/Yohji-yamamoto';">Yohji Yamamoto</option>
                <option value="parent.location.href='/Yves-saint-laurent';">Yves Saint laurent</option>
                <option value="parent.location.href='/Zino-davidoff';">Zino Davidoff</option>
                <option value="parent.location.href='/Zippo';">Zippo</option>
                <option value="parent.location.href='/Zirh';">Zirh</option>
            </select>
        </div><!-- dropMenuConv -->
    </div>
</div>
<!-- end Header Flutuante -->