<!-- JS -->
<script type="text/javascript" src="/arquivos/carrossel.js" charset="utf-8"></script>
<script type="text/javascript" src="/arquivos/cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="/arquivos/apply_cart.js" charset="utf-8"></script>
<script type="text/javascript" src="/arquivos/jquery.form.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/arquivos/script_az-03.js?v=435" charset="utf-8"></script>