<ul class="abas">
	<li class="meu-perfil"><a title="Meu Perfil" href="/Vitrine/MinhaConta/MinhaConta.aspx">Meu Perfil</a></li>
	<li class="meus-pedidos"><a title="Meus Pedidos" href="/site/MeusPedidos.aspx">Meus Pedidos</a></li>
	<li class="listas ativo">Listas</li>
</ul>

<div id="sideBar">
	<div class="sideBarItem linkList">
		<h2>Meu perfil</h2>
		<ul>
			<li><a href="/Vitrine/MinhaConta/MinhaConta.aspx" title="Meu Perfil">Meu Perfil</a></li>
			<li><a href="/Site/cadastroCliente.aspx" title="Editar dados">Editar dados</a></li>
			<li><a href="/site/AlterarSenha.aspx" title="Alterar senha">Alterar senha</a></li>
		</ul>
	</div>
			
	<div class="sideBarItem linkList">
		<h2>Meus Endereços</h2>
		<ul>
			<li><a href="/Site/Endereco.aspx" title="Catálogo de Endereços">Catálogo de Endereços</a></li>
		</ul>
	</div>
		
	<div class="sideBarItem linkList">
		<h2>Listas</h2>
		<ul class="menu">
			<li><a href="/lista/">Buscar uma Lista</a></li>
			<li><a href="/lista/criar/">Criar nova Lista</a></li>
			<li><a href="/lista/gerenciar/">Gerenciar minhas Listas</a></li>
		</ul>
	</div>
</div>