<footer>   
  
  <!-- bar -->
  <div class="ext barfooter">
    <div class="wrap-1">
      <div class="col-left box ne-footer-news">
        <div class="newsletter2">
          <div class="ne-header-news">
            <h3>Cadastre-se* e <strong>GANHE</strong> um <strong>BRINDE ESPECIAL</strong> em sua primeira compra</h3>
          </div>
          <div id="news-return">
            <p><strong>Obrigado por se cadastrar na AAZ Perfumes</strong></p>
          </div>
          <div class="ne-content-news">
            <form id="cadastrese" name="cadastro" enctype="multipart/form-data" method="post">
              <fieldset>
                <div class="line2">
                  <span class="cp-nome">
                    <input name="nome" type="text" class="cp-news nome" id="nome" placeholder="Seu nome" value="-" />
                  </span>
                  <span class="cp-email col-left">
                    <input name="email" type="text" class="cp-news email" id="email" placeholder="Seu e-mail" value="" />
                  </span>
                  <span class="cp-sexo col-left">
                    <label><input type="radio" name="sexo" value="Masculino" id="sexo_masculino" checked="checked" />Masculino</label>
                    <label><input type="radio" name="sexo" value="Feminino" id="sexo_feminino" />Feminino</label>          
                  </span>
                  <span class="cp-date">
                    <label for="date">Data de Aniversário:</label>
                    <input name="date" type="text" class="cp-news date" id="date" placeholder="DATA DE ANIVERSÁRIO" value="" />
                  </span>
                  <span class="cp-send col-left">
                    <input type="submit" name="submit" class="submitCadastre" id="submitCadastre2" value="Cadastrar" />
                  </span>
              </div>
              </fieldset>
            </form>
            <p>*Ao se cadastrar você concordará com nossa <a href="/institucional/politica-de-privacidade">política de privacidade</a></p>
          </div>
        </div>
      </div>
      <div class="col-left box ne-footer-social">
        <div>
          <h3>Siga</h3>
          <ul class="line2">
            <li><a href="https://www.facebook.com/azperfumes" target="_blank" title="Nova página: Facebook" class="nicon eq00">Facebook</a></li>
            <li><a href="https://www.instagram.com/aazperfumes" target="_blank" title="Nova página: Instagram" class="nicon eq01">Instagram</a></li>
            <li><a href="https://www.youtube.com/channel/UCRdNL3qNFnQULPVIcwgq9DA" target="_blank" title="Nova página: YouTube" class="nicon eq02">YouTube</a></li>            
            <li><a href="https://twitter.com/aazperfumes" target="_blank" title="Nova página: Twitter" class="nicon eq03">Twitter</a></li>
            <li class="desk"><a href="https://in.pinterest.com/aazperfumes/" target="_blank" title="Nova página: Pinterest" class="nicon eq04">Pinterest</a></li>
            <li><a href="http://blog.aazperfumes.com.br" target="_blank" title="Nova página: Blog" class="nicon eq05">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- bar -->

  <div id="footer" class="ext"> 
    <div class="wrap-1">
      
      <!-- links -->
      <div class="line2 ne-nav-footer">
        <div class="col20 box">
          <h4>Institucional</h4>
          <ul class="ne-nav-list">            
            <li><a href="/institucional/quem-somos">Quem Somos</a></li>
            <li><a href="/institucional/politica-de-privacidade">Política de Privacidade</a></li>
            <li><a href="/institucional/seguranca">Segurança</a></li>
            <li><a href="/institucional/politica-de-troca">Política de Troca</a></li>
          </ul>
        </div>
        <div class="col30 box">
          <h4>Suporte</h4>
          <ul class="ne-nav-list">            
            <li><a href="/suporte/duvidas-frequentes">Dúvidas Frequentes</a></li>
            <!--<li><a href="/central-de-atendimento">Fale Conosco</a></li>-->
            <!--<li><a href="/suporte/politica-de-entrega">Política de Entrega</a></li>-->
            <li><a href="/suporte/trocas-e-devolucoes">Trocas e Devoluções</a></li>
            <!--<li><a href="/suporte/pagamentos">Pagamentos</a></li>-->
            <li><a href="http://www.planalto.gov.br/ccivil_03/leis/l8078.htm" target="_blank" title="Nova janela">Código de defesa do consumidor</a></li>
          </ul>
        </div>
        
        <div class="col22 box">
          <h4>+ AAZ Perfumes</h4>
          <ul class="ne-nav-list">            
            <li><a href="http://blog.aazperfumes.com.br/" target="_blank" title="Nova página: Blog">Blog</a></li>
            <li><a href="https://www.youtube.com/channel/UCRdNL3qNFnQULPVIcwgq9DA" target="_blank" title="Nova página: Youtube">Youtube</a></li>
            <li><a href="http://instagram.com/aazperfumes" target="_blank" title="Nova página: Instagram">Instagram</a></li>
            <li><a href="https://www.facebook.com/azperfumes" target="_blank" title="Nova página: Facebook">Facebook</a></li>
            
          </ul>
        </div>
        
        <div class="col28 atendimento box">
          <h4>Atendimento</h4>
          <p><span class="gicon eq01"></span>TELEVENDAS <strong><span class="ddd">(11)</span> 3804-9162</strong></p>
          <p><span class="gicon eq02"></span>WHATSAPP <strong><span class="ddd">(11)</span> 95393-5748 </strong></p>
          <p><span class="gicon eq03"></span>E-MAIL <strong>sac@aazperfumes.com.br</strong></p>
        </div>
      </div>
      <!-- links -->
    </div>
  </div>

  <div id="pitbar" class="ext">
    <div class="wrap-1">
      <ul class="line2">
        <li class="col18 box"><a><span class="gicon eq01"></span><strong>Frete Grátis</strong> <p>em compras acima<br />
          de R$ 150</p></a></li>
        <li class="col20 box"><a><span class="gicon eq02"></span><strong>Site Seguro</strong> <p>garantimos a segurança dos<br />
        seus dados cadastrais</p></a></li>
        <li class="col20 box"><a class="one"><span class="gicon eq03"></span><strong>Entrega Rápida</strong> <p>com agilidade e segurança</p></a></li>
        <li class="col22 box"><a class="one"><span class="gicon eq04"></span><strong>Em até 10x sem juros</strong> <p>nos cartões de crédito</p></a></li>
        <li class="col20 box"><a><span class="gicon eq05"></span><strong>Ganhe brindes</strong> <p>a AAZ Perfumes sempre tem<br />
        um brinde especial para você</p></a></li>
      </ul>
    </div>
  </div>

  <div id="selos" class="ext">
    <div class="wrap-1">
      <div class="col25 ft-payment">
        <h5>Pagamento</h5>
        <div class="line2">
          <span class="eq00"></span>
          <span class="eq01"></span>
          <span class="eq02"></span>
          <span class="eq03"></span>
          <span class="eq04"></span>
          <span class="eq05"></span>
          <span class="eq06"></span>
          <span class="eq07"></span>
          <span class="eq08"></span>
          <span class="eq09"></span>
        </div>
      </div>

      <div class="col60 ft-security">
        <h5>Segurança</h5>        
          <div class="line2">               
            <span class="ebit eq00" style="margin-right:8px;">
              <a id="seloEbit" href="http://www.ebit.com.br/az-perfumes" target="_blank" onclick="redir(this.href);"></a>
              <a id="seloEbit" href="http://www.ebit.com.br/#AZ-PERFUMES" target="_blank" onclick="redir(this.href);"></a> <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?2615"> </script>
            </span>
            <span class="eq01">
              <div id="armored_website">
                <param id="aw_preload" value="true" />
              </div>
              <script type="text/javascript" src="//selo.siteblindado.com/aw.js"></script>
              <!--<a href="https://www.cpacanada.ca/webtrustseal?sealid=10054" target="_blank" style="margin-left: 5px" class="">-->
              <!--  <img src="https://www.cpacanada.ca/assets/img/webtrust/cabrssl-logo.jpg" alt="WebTrust para certificação de autoridades - SSL básico" />-->
              <!--</a>-->
            </span>
            <span class="eq02">
              <div class="yv-seal">
                <a href="https://www.lojaconfiavel.com/aazperfumes" class="ts-footerstamp" data-lcname="aazperfumes" target="_blank">
                  <img src="https://service.yourviews.com.br/Image/96c8695d-1bfa-419b-8168-09c326344b1b/Footer.jpg" title="Loja Confiável" alt="Loja Confiável" />
                </a>
              </div>
            </span>
            <span class="eq03">
              <a href="https://www.google.com/transparencyreport/safebrowsing/diagnostic/index.html#url=http://www.aazperfumes.com.br/" target="_blank">
                <img src="/arquivos/icon-seguranca-google.png?v=2" alt="Site Seguro Google" class="gsd" />
                <img src="/arquivos/icon-seguranca-google-mob.png" alt="Site Seguro Google" class="gsm" />
              </a>
            </span>
            <span class="eq04">
              <a href="http://www.ablec.com.br/" target="_blank">
                <img src="/arquivos/logo_ablec_footer.png" alt="ABLEC"/>
              </a>
            </span>
          </div>        
      </div>

      <!--<div class="col15 ft-delivery">-->
      <!--  <h5>Entrega</h5>-->
      <!--  <img src="/arquivos/gt-entrega.gif" alt="Sedex" />-->
      <!--</div>-->

    </div>
  </div>

  <div id="copyright">
    <div class="wrap-1">
      <div class="informacoes-legais" style="margin-top:10px;">
        <p> CASH BACK - Ganhe até R$50 de volta para sua próxima compra. Válido para produtos selecionados. </p>
        <p> *CASH BACK - O cupom será enviado via email após o pedido ser faturado e enviado. Promoção não cumulativa com outras. </p>
        <p> *CASH BACK - O cupom deverá ser usado em até dois meses após o recebimento do e-mail.</p>
        <p> *CASH BACK - No caso do descumprimento das regras, o pedido poderá ser cancelado.</p>
        <p>*O preço válido será o preço apresentado na finalização da compra.</p>
        <p>*Frete grátis em compras acima de R$ 150,00.</p> 
        <p>*Cupons de desconto não podem ser aplicados nas marcas: Carolina Herrera, Paco Rabanne, Valentino, Prada, Thierry Mugler, Azzaro, Nina Ricci, Antonio Banderas, Shakira, Jean Paul Gaultier.</p> 
        <p>*Todas as imagens contidas no site são meramente ilustrativas.</p>
        
        <p>RAZÃO SOCIAL: Perfumes Web Com de Artigos de Perfumaria Ltda-ME   CNPJ: 08.352.434-0001-62    INSCRIÇÃO ESTADUAL: 147.719.786.117   NOME FANTASIA: AAZ Perfumes</p>
        <p>ENDEREÇO: Av. Senador Casemiro da Rocha, 609 cj 106. CEP: 04047-001. São Paulo/SP</p>
      </div>
      <div class="powered-by">
        <div class="line2">        
          <a href="http://www.onesky.com.br/" title="nova janela: OneSky" class="col-left"><img src="/arquivos/logo-onesky-3.png" alt="Onesky" /></a>
          <a href="http://www.vtex.com/" title="nova janela: Vtex" class="col-right"><img src="/arquivos/vtex-novo-preto-2.png" alt="Vtex" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="ext bar-mobile">
	<div class="mb-search hide2">
		<vtex.cmc:fullTextSearchBox />
	</div>
	<div class="wrap-1">
		<div class="col25">
			<a class="click-show mbt-menu mbt top" rel="gt-categoria" rev="left"><span class="eq00 mico">Menu</span></a>
		</div>
		<div class="col25">
			<a class="mbt mbt-login top login-redir" rel="/account"><span class="eq01 mico">Login</span></a>			
		</div>
		<div class="col25">
			<a class="click-show mbt mbt-cart top" rel="nav-user" rev="right"><span class="eq02 mico">Carrinho</span></a>			
		</div>
		<div class="col25">
			<a class="simple-open mbt-search mbt" rel="mb-search"><span class="eq03 mico">Buscar</span></a>
		</div>
	</div>
</div>
<a id="voltartopo">Voltar para o topo</a>



<!-- Script Yourviews -->
<script type="text/javascript">
    (function () {
        var yvs = document.createElement("script");
        yvs.type = "text/javascript";
        yvs.async = true;
        yvs.id = "_yvsrc";
        yvs.src = "//service.yourviews.com.br/script/96c8695d-1bfa-419b-8168-09c326344b1b/yvapi.js";
       var yvs_script = document.getElementsByTagName("script")[0];
        yvs_script.parentNode.insertBefore(yvs, yvs_script);
    })();
</script>
<!-- /Script Yourviews -->