<div class="ext ne-topbar">
	<div class="wrap-1">
		<div class="col-left phonebar">
			<ul class="line2">
				<li class="eq01"><strong><span>Whatsapp:</span> (11) 95393-5748</strong></li>
				<li class="eq02"><strong><span>Televendas:</span> <!--(11) 5070-5660 --> (11) 3804-9162 </strong></li>
			</ul> 
		</div>
		<div class="col-right ne-chat">
			<ul>
			    <li class="eq03">Horário de funcionamento: Segunda a Sexta das 09h às 18hrs</li>
			</ul>
		</div>
	</div>
</div>
<div class="ext masterBannerTopBar">
	<div class="wrap-1">
		<div class="banner-top-mobile"><vtex:bannerTopBarMobile /></div>
		<div class="banner-top-desk"><vtex:bannerTopBar /></div>
	</div>
</div>
<div class="ext ne-pitbar">
	<div class="wrap-1">
		<div class="col-left e00"><a href="/suporte/duvidas-frequentes"><span></span> <strong>Frete<br /> Grátis</strong></a></div>
    	<div class="col-left e01"><a href="/suporte/duvidas-frequentes"><span></span> Entrega até<br /> <strong> 24 horas</strong></a></div>
    	<div class="col-left e02"><a><span></span> Até <strong>10X<br /> sem juros</strong></a></div>
    	<div class="col-left e03"><a><span></span> Compra<br /> Segura</a></div>
    	<div class="col-left e04"><a><span></span> Produtos<br /> originais</a></div>
    </div>
</div>