<menu id="mmenu" class="gt-categoria no-mobile ext">
  <nav class="wrap-1">
    <a class="close-categoria click-hide" rev="left" rel="gt-categoria">fechar</a>
    <ul class="user-mb">
       <li><a class="login-redir" rel="/account/orders">Meus pedidos</a></li>
       <li><a href="/checkout/#/cart">Compras <vtex.cmc:AmountItemsInCart /></a></li>
    </ul>
    <ul class="all">
      <li class="pai hover-open"><a class="pai sub-open" href="/perfumaria/perfumes-importados">Importados</a>
        <!-- drop -->
        <div class="nivel-1 sub drop">
          <div class="nivel-2">
            <div class="sub-menu col4">
              <ul>
                <li><a href="/perfumaria/perfumes-importados">Perfumes</a></li>
                <li><a href="/desodorante">Desodorantes</a></li>
                <li><a href="/busca/?fq=H:161">Perfumes Raros</a></li>
                <li><a href="/busca/?fq=H:192">Com Brinde</a></li>
                <li><a href="/kit">Kits</a></li>
              </ul>
            </div>
            <div class="m-banner">
              <vtex.cmc:menuImportados />
            </div>
          </div>

        </div>
        <!-- drop -->
      </li><li class="pai hover-open"><a class="pai sub-open" href="/perfumaria/perfumes-importados/masculino">Masculino</a>
      <!-- drop -->
      <div class="nivel-1 sub drop">
        <div class="nivel-2">
          <div class="sub-menu">
            <ul>
              <li><a href="/perfumaria/perfumes-importados/masculino">Perfumes</a></li>
              <li><a href="/desodorantes/masculino">Desodorantes</a></li>
              <li><a href="/barba">Para Barba</a></li>
              <li><a href="/perfumaria/perfumes-importados/masculino/kit">Kits</a></li>
            </ul>
          </div>
          <div class="m-banner">
            <vtex.cmc:menuMasculino />
          </div>
        </div>

      </div>
      <!-- drop -->
    </li><li class="pai hover-open"><a class="pai sub-open" href="/perfumaria/perfumes-importados/feminino">Feminino</a>
    <!-- drop -->
    <div class="nivel-1 sub drop">
      <div class="nivel-2">
        <div class="sub-menu">
          <ul>
            <li><a href="/perfumaria/perfumes-importados/feminino">Perfumes</a></li>
            <li><a href="/beleza/corpo-e-banho">Corpo e Banho</a></li>
            <li><a href="/desodorantes/feminino">Desodorantes</a></li>
            <li><a href="/perfumaria/perfumes-importados/feminino/kit">Kits</a></li>
          </ul>
        </div>
        <div class="m-banner">
          <vtex.cmc:menuFeminino />
        </div>
      </div>

    </div>
    <!-- drop -->
  </li><li class="pai hover-open"><a class="pai sub-open" href="/perfumaria/perfumes-importados/188/busca/?fq=H:188" >Mais Vendidos</a>
  <!-- drop -->
  <div class="nivel-1 sub drop">
    <div class="nivel-2">
      <div class="sub-menu">
        <ul>
          <li><a href="/perfumaria/perfumes-importados/188/busca/?fq=H:188">Perfumes</a></li>
          <li><a href="/perfumaria/perfumes-importados/feminino/188?PS=48&amp;map=c,c,c,productClusterIds">Feminino</a></li>
          <li><a href="/perfumaria/perfumes-importados/masculino/188?PS=48&amp;map=c,c,c,productClusterIds">Masculino</a></li>                             
        </ul>
      </div>
      <div class="m-banner">
        <vtex.cmc:menuMaisVendidos />
      </div>
    </div>

  </div>
  <!-- drop -->
</li><li class="pai hover-open"><a class="pai sub-open" href="/perfumaria/perfumes-importado/busca/?fq=H:187" >Lançamentos</a>
<!-- drop -->
<div class="nivel-1 sub drop">
  <div class="nivel-2">
    <div class="sub-menu">
      <ul>
        <li><a href="/perfumaria/perfumes-importado/busca/?fq=H:187">Lançamentos</a></li>
        <li><a href="/perfumaria/perfumes-importados/feminino/187?PS=48&amp;map=c,c,c,productClusterIds">Femininos</a></li>
        <li><a href="/perfumaria/perfumes-importados/masculino/187?PS=48&amp;map=c,c,c,productClusterIds">Masculinos</a></li>
      </ul>
    </div>
    <div class="m-banner">
      <vtex.cmc:menuLancamentos />
    </div>
  </div>
</div>
<!-- drop -->
</li><li class="pai hover-open"><a class="pai sub-open" href="/perfumaria/perfumes-importados">Presentes</a>
<!-- drop -->
<div class="nivel-1 sub drop">
  <div class="nivel-2">
    <div class="sub-menu">
      <ul>
        <li><a href="/perfumaria/perfumes-importados">Presentes</a></li>
        <li><a href="/de-0-a-50?PS=30&amp;map=priceFrom">Produtos até R$50,00</a></li>
        <li><a href="/de-50,01-a-100?PS=30&amp;map=priceFrom">Produtos até R$100,00</a></li>
        <li><a href="/de-100,01-a-150?PS=30&amp;map=priceFrom">Produtos até R$150,00</a></li>
        <li><a href="/de-150,01-a-200?PS=30&amp;map=priceFrom">Produtos até R$200,00</a></li>
        <li><a href="/de-200,01-a-250?PS=30&amp;map=priceFrom">Produtos até R$250,00</a></li>
        <li><a href="/kit">Kits</a></li>
      </ul>
    </div>
    <div class="m-banner">
      <vtex.cmc:menuPresentes />
    </div>
  </div>
</div>
<!-- drop -->
</li><li class="pai last hover-open"><a class="pai sub-open" href="/beleza">Beleza</a>
<!-- drop -->
<div class="nivel-1 sub drop">
  <div class="nivel-2">
    <div class="sub-menu">
      <ul>
        <li><a href="/beleza/maquiagem">Maquiagem</a></li>
        <li><a href="/beleza/maquiagem/olhos">Olhos</a></li>
        <li><a href="/beleza/maquiagem/labios">Lábios</a></li>
        <li><a href="/beleza/maquiagem/face">Face</a></li>
        <li><a href="/beleza/maquiagem/unhas">Unhas</a></li>
      </ul>
      <ul>
        <li><a href="/beleza/corpo-e-banho">Corpo e Banho</a></li>
        <li><a href="/beleza/corpo-e-banho/corpo">Corpo</a></li>
        <li><a href="/beleza/corpo-e-banho/rosto">Rosto</a></li>
        <li><a href="/beleza/corpo-e-banho/banho">Banho</a></li>
        <li><a href="/desodorante">Desodorantes</a></li>
      </ul>
      <ul>
        <li><a href="/beleza/cabelos">Cabelos</a></li>
        <li><a href="/beleza/cabelos/shampoo">Shampoo</a></li>
        <li><a href="/beleza/cabelos/condicionador">Condicionador</a></li>
        <li><a href="/beleza/cabelos/tratamento">Tratamento</a></li>
        <li><a href="/beleza/cabelos/finalizador">Finalizador</a></li>
      </ul>
    </div>
    <div class="m-banner">
      <vtex.cmc:menuBeleza />
    </div>
  </div>

</div>
<!-- drop -->
</li>
<li class="pai promo hover-open"><a class="pai" href="/perfumaria/perfumes-importado/busca/?fq=H:184">Ofertas</a></li>
<div class="nivel-1 sub drop">
  <div class="nivel-2">
    <div class="sub-menu">
      <ul>
        <li><a href="/perfumaria/perfumes-importado/busca/?fq=H:184"><b>Ver todas Ofertas</b></a></li>
        <li><a href="/perfumaria/perfumes-importados/feminino/184?PS=48&amp;map=c,c,c,productClusterIds">Feminino</a></li>
        <li><a href="/perfumaria/perfumes-importados/masculino/184?PS=48&amp;map=c,c,c,productClusterIds">Masculino</a></li>

      </ul>
    </div>
  </div>
</div>
<li class="pai hover-open"><a class="pai sub-open" href="/marcas">Marcas</a>
  <!-- drop -->
  <div class="nivel-1 sub drop">
    <div class="nivel-2">
      <div class="sub-menu">

        <!--<ul>-->
        <!--  <ul>-->
        <!--    <li><a href="/ralph-lauren">Ralph Lauren</a></li>-->
        <!--    <li><a href="/elizabeth-taylor">Elizabeth Taylor</a></li>-->
        <!--    <li><a href="/cacharel">Cacharel</a></li>-->
        <!--    <li><a href="/van-cleef-arpels">Van Cleef &amp; Arpels</a></li>-->
        <!--    <li><a href="/hugo-boss">Hugo Boss</a></li>-->
        <!--    <li><a href="/paloma-picasso">Paloma Picasso</a></li>-->
        <!--    <li><a href="/yves-saint-laurent">Yves Saint Laurent</a></li>-->
        <!--    <li><a href="/giorgio-beverly-hills">Giorgio Beverly Hills</a></li>-->
        <!--    <li><a href="/estee-lauder">Estee Lauder</a></li>-->
        <!--    <li><a href="/narciso-rodriguez">Narciso Rodriguez</a></li>-->
        <!--    <li><a href="/gabriela-sabatini">Gabriela Sabatini</a></li>-->
        <!--    <li><a href="/givenchy">Givenchy</a></li>-->
        <!--  </ul>-->
        <!--  <ul>-->
        <!--    <li><a href="/lacoste">Lacoste</a></li>-->
        <!--    <li><a href="/salvador-dali">Salvador Dali</a></li>-->
        <!--    <li><a href="/britney-spears">Britney Spears</a></li>-->
        <!--    <li><a href="/kenzo">Kenzo</a></li>-->
        <!--    <li><a href="/prada">Prada</a></li>-->
        <!--    <li><a href="/ted-lapidus">Ted Lapidus</a></li>-->
        <!--    <li><a href="/nina-ricci">Nina Ricci</a></li>-->
        <!--    <li><a href="/antonio-banderas">Antonio Banderas </a></li>-->
        <!--    <li><a href="/shakira">Shakira</a></li>-->
        <!--    <li><a href="/valentino">Valentino</a></li>-->
        <!--    <li><a href="/gianni-versace">Versace</a></li>-->
        <!--    <li><a href="/burberry">Burberry</a></li>-->
        <!--  </ul>-->
        <!--  <ul>-->
        <!--    <li><a href="/marina-de-bourbon">Marina de Bourbon</a></li>-->
        <!--    <li><a href="/moschino">Moschino</a></li>-->
        <!--    <li><a href="/donna-karan">DKNY</a></li>-->
        <!--    <li><a href="/benetton">Benetton</a></li>-->
        <!--    <li><a href="/joop">Joop</a></li>-->
        <!--    <li><a href="/clinique">Clinique</a></li>-->
        <!--    <li><a href="/antonio-puig">Antonio Puig</a></li>-->
        <!--    <li><a href="/guerlain">Guerlain</a></li>-->
        <!--    <li><a href="/pacha-ibiza">Pacha</a></li>-->
        <!--    <li><a href="/elizabeth-arden">Elizabeth Arden</a></li>-->
        <!--    <li><a href="/zino-davidoff">Zino Davidoff</a></li>-->
        <!--    <li><a href="/parfum-gres">Parfum Gres</a></li>-->
        <!--  </ul>-->
        <!--</ul>-->
        <ul>
          <li><a href="/carolina-herrera"><img src="//azperfumes.vteximg.com.br/arquivos/carolina-herrera.gif" alt="Hermes Paris" /></a></li>
          <li><a href="/paco-rabanne"><img src="//azperfumes.vteximg.com.br/arquivos/brand-paco-rabanne.jpg" alt="Paco Rabanne" /></a></li>
          <li><a href="/thierry-mugler"><img src="//azperfumes.vteximg.com.br/arquivos/brand-thierry-mugler.jpg" alt="Thierry Mugler" /></a></li>
          <li><a href="/dolce-gabbana"><img src="//azperfumes.vteximg.com.br/arquivos/brand-dolce-gabbana.jpg" alt="Dolce Gabbana" /></a></li>
          <li><a href="/calvin-klein"><img src="//azperfumes.vteximg.com.br/arquivos/brand-calvin-klein.jpg" alt="Calvin Klein" /></a></li>
          <li><a href="/mont-blanc"><img src="//azperfumes.vteximg.com.br/arquivos/buscalogo_montblanc1.jpg" alt="Mont Blanc" class="img-desk" style="margin-left: 40px" /><img src="//azperfumes.vteximg.com.br/arquivos/montblanc2.jpg" class="img-mobile" style="display: none;" alt="Mont Blanc" /></a></li>
          <!-- <li><a href="/Salvador Dali?map=b"><img src="//azperfumes.vteximg.com.br/arquivos/brand-salvador-dali.jpg" alt="Salvador Dali" /></a></li> -->
          <!-- <li><a href="/Elizabeth Taylor?map=b"><img src="//azperfumes.vteximg.com.br/arquivos/brand-elizabeth-taylor.jpg" alt="Elizabeth Taylor" /></a></li> -->
          <!-- <li><a href="/Yves Saint Laurent?map=b"><img src="//azperfumes.vteximg.com.br/arquivos/yvessaintlaurent_menu.jpg" alt="Yves Saint Laurent" /></a></li> -->
        </ul>
        <ul>
            <li><a href="/azzaro"><img src="//azperfumes.vteximg.com.br/arquivos/brand-azzaro.jpg" alt="Azzaro" /></a></li>
            <li><a href="/giorgio-armani"><img src="//azperfumes.vteximg.com.br/arquivos/brand-giorgio-armani.jpg" alt="Giorgio Armani" /></a></li>
            <li><a href="/issey-miyake"><img src="//azperfumes.vteximg.com.br/arquivos/brand-issey-miyake.jpg" alt="Issey Miyake" /></a></li>
            <li><a href="/ferrari"><img src="//azperfumes.vteximg.com.br/arquivos/ferrari.gif" alt="Ferrari" /></a></li>
            <li><a href="/christian-dior"><img src="//azperfumes.vteximg.com.br/arquivos/dior.gif" alt="Dior" /></a></li>
            <li><a href="/animale"><img src="//azperfumes.vteximg.com.br/arquivos/brand-animale.jpg" alt="Animale" /></a></li>
        </ul>
        <ul>
            <li><a href="/lancome"><img src="//azperfumes.vteximg.com.br/arquivos/brand-lancome.jpg" alt="Lancôme" /></a></li>
          <li><a href="/chloe"><img src="//azperfumes.vteximg.com.br/arquivos/chloe.gif" alt="Chloé" /></a></li>
          <li><a href="/bvlgari"><img src="//azperfumes.vteximg.com.br/arquivos/buscalogo_bvlgari1.jpg" alt="Bvlgari" /></a></li>
          <li>
              <a href="/jean-paul-gaultier">
                  <img src="//azperfumes.vteximg.com.br/arquivos/buscalogo_jeanpaulgaultier1.jpg" class="img-desk" alt="Jean Paul Gualtier" style="margin-left: 20px" />
                  <img src="//azperfumes.vteximg.com.br/arquivos/jeanpaulgaultier2.jpg" class="img-mobile" alt="Jean Paul Gualtier" style="display: none;" />
                </a>
          </li>
          <li><a href="/prada"><img src="//azperfumes.vteximg.com.br/arquivos/prada.png" alt="Prada" /></a></li>
          <li><a href="/hugo-boss"><img src="//azperfumes.vteximg.com.br/arquivos/hugo-boss.png" alt="Hugo Boss" /></a></li>
        </ul>
        <a href="/marcas/" class="todas-marcas">ver todas</a>
      </div>
      <div class="m-banner">
        <vtex.cmc:menuBeleza />
      </div>
    </div>

  </div>
  <!-- drop -->
</li>
</ul>
</nav>
</menu>