<script src="/arquivos/jquery.flexisel.js" type="text/javascript"></script>
<script src="/arquivos/all-in-mail-03.js" type="text/javascript"></script>
<script src="/arquivos/gt-common-03.js?v=008" type="text/javascript"></script>